etax/19XMLスキーマ/shotoku/KOB992-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：雇用者給与等支給額が増加した場合の所得税額の特別控除に関する明細書
version：2.0
Date：2016年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB992-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB992-2-0group">
<xsd:sequence>
<xsd:element name="KOB992">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="JWA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="JWC00000" type="JWC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="JWD00000" type="JWD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="JWH00000" type="JWH00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWI00000" type="JWI00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWJ00000" type="JWJ00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWK00000" type="JWK00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額及び比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB992-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="JWC00000-2-0type">
<xsd:sequence>

<xsd:element name="JWC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JWH00000-2-0type">
<xsd:sequence>

<xsd:element name="JWH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前事業所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWH00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWH00040" type="JWH00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWH00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWH00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JWI00000-2-0type">
<xsd:sequence>

<xsd:element name="JWI00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWI00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年分の国内雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWI00030" type="JWI00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWI00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JWJ00000-2-0type">
<xsd:sequence>

<xsd:element name="JWJ00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWJ00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年分の国内雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWJ00030" type="JWJ00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWJ00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="JWK00000-2-0type">
<xsd:sequence>

<xsd:element name="JWK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWK00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWK00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWK00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち一般被保険者である継続雇用者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWK00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWK00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち継続雇用制度対象者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWK00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWK00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWK00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWK00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWK00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月別支給対象者の合計数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWK00140" type="JWK00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWK00150" type="JWK00150-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWK00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額及び比較平均給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWK00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWK00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="JWD00000-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="JWH00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="JWI00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWJ00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWK00140-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWK00150-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="JWD00000-2-0type">
<xsd:simpleContent>
<xsd:extension base="JWD00000-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWI00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="JWI00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWJ00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="JWJ00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWK00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="JWK00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWK00150-2-0type">
<xsd:simpleContent>
<xsd:extension base="JWK00150-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
