etax/19XMLスキーマ/shotoku/KOB973-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：情報技術事業適応設備を取得した場合、事業適応設備を取得した場合又は生産工程効率化設備等を取得した場合等の所得税額の特別控除に関する明細書
version：2.0
Date：2024年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB973-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB973-2-0group">
<xsd:sequence>
<xsd:element name="KOB973">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DEA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DEC00000" type="DEC00000-2-0type" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00000" type="DED00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DEE00000" type="DEE00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械設備等の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOB973-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DEC00000-2-0type">
<xsd:sequence>

<xsd:element name="DEC00010" type="DEC00010-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法第10条の５の６第７項から第９項までの該当項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00015" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業適応計画の認定を受けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00020" type="DEC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報技術事業適応設備及び生産工程効率化等設備等の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEC00050" type="DEC00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00060" type="DEC00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造、用途、設備の種類又は区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00070" type="DEC00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の用に供した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額又は製作価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DEC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業適応繰延資産の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DEC00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DEC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DED00000-2-0type">
<xsd:sequence>

<xsd:element name="DED00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前事業所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報技術事業適応設備"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DED00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)のうち産業競争力の強化に著しく資する情報技術事業適応の用に供するものに係る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前事業所得税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DED00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業適応繰延資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DED00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支出した金額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)のうち産業競争力の強化に著しく資する情報技術事業適応を実施するために利用するソフトウエアのその利用に係る費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰延資産税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前事業所得税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DED00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生産工程効率化等設備等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DED00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令和６年３月31日以前に取得したもの　取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令和６年３月31日以前に取得したもの　(27)のうちエネルギーの利用による環境への負荷の低減に著しく資するものに係る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令和６年３月31日以前に取得したもの　税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令和６年４月１日以後に取得するもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DED00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小事業者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DED00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(30)のうち中小事業者に係る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(31)のうちエネルギーの利用による環境への負荷の低減に著しく資するものに係る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DED00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中小事業者以外の個人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DED00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(30)のうち中小事業者以外の個人に係る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(34)のうちエネルギーの利用による環境への負荷の低減に特に著しく資するものに係る額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DED00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生産工程効率化等設備等税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前事業所得税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DED00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DED00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="DEC00010-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="7"/><xsd:maxInclusive value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEC00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DEE00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="DEC00010-2-0type">
<xsd:simpleContent>
<xsd:extension base="DEC00010-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
