etax/19XMLスキーマ/shotoku/KOB992-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：雇用者給与等支給額が増加した場合の所得税額の特別控除に関する明細書
version：3.0
Date：2017年09月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOB992-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOB992-3-0group">
<xsd:sequence>
<xsd:element name="KOB992">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOB992-1" type="KOB992-1-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOB992-2" type="KOB992-2-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOB992-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOB992-1-3-0type">
<xsd:sequence>

<xsd:element name="JWL00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWM00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWN00050" type="JWN00050-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加重複控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額の特別控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調整前事業所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額基準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00150" type="JWN00150-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWN00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年税額控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額超過構成額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWN00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00210" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準年分の国内雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00230" type="JWN00230-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWN00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00260" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の前年分の国内雇用者に対する給与等の支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00280" type="JWN00280-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(20)の月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWN00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額及び比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWN00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち一般被保険者である継続雇用者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWN00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち継続雇用制度対象者に係る金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWN00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"継続雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWN00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月別支給対象者の合計数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00440" type="JWN00440-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00450" type="JWN00450-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWN00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額及び比較平均給与等支給額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWN00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWN00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"比較平均給与等支給額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOB992-2-3-0type">
<xsd:sequence>

<xsd:element name="JWO00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWP00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWQ00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00020" type="JWQ00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用年の12月31日における雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00030" type="JWQ00030-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象特定地域基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00040" type="JWQ00040-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加重複基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過年度雇用者給与等支給増加重複基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給増加重複控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過年分雇用者給与等支給増加重複基準額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWQ00090" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="JWQ00100" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雇用者給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00120" type="JWQ00120-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定年の12月31日における雇用者の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平均給与等支給額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00140" type="JWQ00140-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00150" type="JWQ00150-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移転型計画に係る特定業務施設のみで計算した地方事業所基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00160" type="JWQ00160-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過年分重複控除基準雇用者数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="JWQ00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過年分雇用者給与等支給増加重複基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="JWQ00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="JWN00050-3-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="JWN00150-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="JWN00230-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWN00280-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWN00440-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWN00450-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWQ00020-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWQ00030-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWQ00040-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWQ00120-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWQ00140-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWQ00150-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JWQ00160-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="JWN00050-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWN00050-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWN00230-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWN00230-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWN00280-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWN00280-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWN00440-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWN00440-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWN00450-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWN00450-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWQ00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWQ00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWQ00030-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWQ00030-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWQ00040-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWQ00040-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWQ00120-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWQ00120-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWQ00140-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWQ00140-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWQ00150-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWQ00150-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="JWQ00160-3-0type">
<xsd:simpleContent>
<xsd:extension base="JWQ00160-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
