etax/19XMLスキーマ/shotoku/KOC080-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：株式等に係る譲渡所得等の金額の計算明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOC080-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOC080-1-0group">
<xsd:sequence>
<xsd:element name="KOC080">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOC080-1" type="KOC080-1-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOC080-2" type="KOC080-2-1-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"２面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOC080-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOC080-1-1-0type">
<xsd:sequence>

<xsd:element name="EHN00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告等対象年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHP00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHB00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（前住所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHB00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHB00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EHB00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHB00070" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHC00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHC00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EHD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHD00005" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費又は譲渡に要した費用等(項目）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHD00010" type="EHD00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用項目1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00020" type="EHD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用項目2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EHD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未公開分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EHD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費又は譲渡に要した費用等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費(取得価額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡のための委託手数料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EHD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00145" type="EHD00145-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の取得に要した金額の控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る繰越損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越控除後の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EHD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHD00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EHD00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費又は譲渡に要した費用等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費(取得価額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡のための委託手数料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EHD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00305" type="EHD00305-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の取得に要した金額の控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る繰越損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越控除後の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EHD00350" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"特例適用条文　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHD00360" type="EHD00360-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHD00370" type="EHD00370-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOC080-2-1-0type">
<xsd:sequence>

<xsd:element name="EHE00000" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"２　「上場株式等の取得費の特例」の適用を受ける上場株式等の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHE00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00020" type="EHE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡した株式等の銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00030" type="EHE00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡先(証券会社)の所在地・名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00055" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHE00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00065" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（取得年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EHE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例を適用して計算した取得費の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その譲渡直前の株式等の所有状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHE00090" type="EHE00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)その株式等の全所有株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00100" type="EHE00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(b)うち、平成13年10月1日以降に取得した株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EHE00110" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"【参考】　その他の譲渡した主な株式等の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHE00120" type="EHE00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00140" type="EHE00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡した株式等の銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00150" type="EHE00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00160" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡先(証券会社)の所在地・名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00175" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EHE00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EHE00190" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（取得年月日）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:simpleType name="EHD00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EHD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EHD00145-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EHD00305-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EHD00360-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EHD00370-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EHE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EHE00030-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EHE00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EHE00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EHE00120-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EHE00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EHE00150-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EHD00360-1-0type">
<xsd:simpleContent>
<xsd:extension base="EHD00360-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EHE00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="EHE00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EHE00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="EHE00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EHE00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="EHE00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EHE00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="EHE00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
