etax/19XMLスキーマ/shotoku/KOC040-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：保証債務の履行のための資産の譲渡に関する計算明細書
version：2.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOC040-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOC040-2-0group">
<xsd:sequence>
<xsd:element name="KOC040">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="EDG00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告等対象年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDH00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EDA00000" type="EDA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDB00000" type="EDB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDC00000" type="EDC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証債務の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDD00000" type="EDD00000-2-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"保証債務を履行するため譲渡した資産の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00000" type="EDE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡所得（山林所得）のうちないものとみなされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EDF00000" type="EDF00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"求償権が行使不能となった事情の説明"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOC040-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EDA00000-2-0type">
<xsd:sequence>

<xsd:element name="EDA00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDA00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDA00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EDB00000-2-0type">
<xsd:sequence>

<xsd:element name="EDB00010" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDB00020" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDB00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EDC00000-2-0type">
<xsd:sequence>

<xsd:element name="EDC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主たる債務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EDC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDC00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EDC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債権者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EDC00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDC00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EDC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証債務の内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EDC00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債務を保証した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDC00090" type="EDC00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証債務の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証した債務の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EDC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証債務の履行に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EDC00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証債務を履行した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保証債務を履行した金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"求償権の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EDC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"求償権の行使に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EDC00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"求償権の行使不能となった年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"求償権の行使不能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（Ａ）のうち既に支払を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EDD00000-2-0type">
<xsd:sequence>

<xsd:element name="EDD00010" type="EDD00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"短期・長期の区分"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の所在地番"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDD00030" type="EDD00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDD00040" type="EDD00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の利用状況"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDD00050" type="EDD00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の数量"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡先"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EDD00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDD00080" type="gen:shokugyo" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDD00090" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EDD00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDD00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡資産を取得した時期"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡価額の総額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EDE00000-2-0type">
<xsd:sequence>

<xsd:element name="EDE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"求償権の行使不能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"各種の所得の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EDE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分離課税の短期譲渡所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分離課税の長期譲渡所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等に係る譲渡所得等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EDE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡所得又は山林所得の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EDE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総合課税の短期譲渡所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総合課税の長期譲渡所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分離課税の短期譲渡所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分離課税の長期譲渡所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株式等に係る譲渡所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EDE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡所得又は山林所得のうちないものとみなされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="EDC00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EDD00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EDD00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EDD00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EDD00050-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EDF00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="EDD00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="EDD00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
