etax/19XMLスキーマ/shotoku/KOC039-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続財産の取得費に加算される相続税の計算明細書(令和5年1月1日以後相続開始用)
version：1.0
Date：2023年09月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOC039-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOC039-1-0group">
<xsd:sequence>
<xsd:element name="KOC039">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="KIA00000" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡者（住所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡者（氏名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIC00000" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人（住所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KID00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人（氏名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIE00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続の開始があった日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIF00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税の申告書を提出した日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIG00000" type="KIG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税の申告書の提出先"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="KIH00000" type="KIH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　相続財産の取得費に加算される相続税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00000" type="KII00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与税額控除又は相次相続控除を受けている場合の（C）の相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOC039-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KIH00000-1-0type">
<xsd:sequence>

<xsd:element name="KIH00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KIH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡した相続財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KIH00030" type="KIH00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00040" type="KIH00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00050" type="KIH00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利用状況"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KIH00070" type="KIH00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00080" type="KIH00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00090" type="KIH00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00100" type="KIH00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00110" type="KIH00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単位"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KIH00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡した年月日"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税評価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KIH00140" type="KIH00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00160" type="KIH00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KIH00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費に加算される相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KIH00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KIH00200" type="KIH00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"開始括弧"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00220" type="KIH00220-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"終了括弧"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本書き"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KIH00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税の課税価格"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KIH00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KII00000-1-0type">
<xsd:sequence>

<xsd:element name="KII00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　相続税の申告書第１表の（19）の小計の額がある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KII00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"暦年課税分の贈与税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相次相続控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税分の贈与税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KII00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　相続税の申告書第１表の（19）の小計の額がない場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KII00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額の2割加算が行われる場合の加算金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KII00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の税額軽減額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成年者控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療法人持分税額控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KII00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KII00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KII00200" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KII00210" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="KIG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KIH00220-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="KIH00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="KIH00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="KIH00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="KIH00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
