etax/19XMLスキーマ/shotoku/KOC130-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：翌年以後に繰り越される特定居住用財産の譲渡損失の金額の計算書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOC130-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOC130-1-0group">
<xsd:sequence>
<xsd:element name="KOC130">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="BMA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BMB00000" type="BMB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BMC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の適用を受ける居住用財産の譲渡による損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BMD00000" type="BMD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産の譲渡損失の繰越基準額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BME00000" type="BME00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以後に繰り越される特定居住用財産の譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOC130-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BMB00000-1-0type">
<xsd:sequence>

<xsd:element name="BMB00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BMD00000-1-0type">
<xsd:sequence>

<xsd:element name="BMD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の純損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BMD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例の対象とされない金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BMD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分が青色申告の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BMD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分が白色申告の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BMD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用財産の譲渡損失の繰越基準額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BME00000-1-0type">
<xsd:sequence>

<xsd:element name="BME00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以後に繰り越される特定居住用財産の譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BME00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡した土地等の面積が５００平米を超えるときの計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BME00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の金額と（３）の金額のいずれか少ない方の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BME00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等に係る特定損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BME00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BME00060" type="BME00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等の面積（分子）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BME00070" type="BME00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等の面積（分母）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BME00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BME00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BME00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="BME00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BME00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="BME00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
