etax/19XMLスキーマ/shotoku/KOC110-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：株式等に係る譲渡所得等の金額の計算明細書(特定権利行使株式分及び特定投資株式分がある場合)
version：7.0
Date：2010年08月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOC110-7-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOC110-7-0group">
<xsd:sequence>
<xsd:element name="KOC110">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOC110-1" type="KOC110-1-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOC110-2" type="KOC110-2-7-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"２面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOC110-7-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOC110-1-7-0type">
<xsd:sequence>

<xsd:element name="EJK00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告等対象年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJL00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJB00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJB00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（前住所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJB00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJB00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJB00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJB00070" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJB00090" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJB00100" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費又は譲渡に要した費用等（項目）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJC00020" type="EJC00020-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未公開分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJD00005" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未公開分　明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費又は譲渡に要した費用等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費(取得価額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡のための委託手数料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJD00105" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定管理株式等のみなし譲渡損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の価値喪失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00125" type="EJD00125-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の取得に要した金額の控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る繰越損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越控除後の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJD00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未公開分(内、特定権利行使株式分)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJD00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJD00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費又は譲渡に要した費用等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費(取得価額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡のための委託手数料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00285" type="EJD00285-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJD00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未公開分(内、特定投資株式分)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJD00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJD00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費又は譲渡に要した費用等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費(取得価額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡のための委託手数料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJD00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00415" type="EJD00415-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJD00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJE00005" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場分　明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費又は譲渡に要した費用等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費(取得価額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡のための委託手数料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00115" type="EJE00115-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の取得に要した金額の控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公開等特定株式の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分で差し引く株式等に係る繰越損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰越控除後の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJE00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場分(内、特定権利行使株式分)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJE00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJE00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費又は譲渡に要した費用等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費(取得価額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡のための委託手数料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00285" type="EJE00285-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJE00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上場分(内、公開等特定株式分)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJE00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の収入"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJE00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費又は譲渡に要した費用等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJE00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得費(取得価額)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡のための委託手数料"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（上段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00415" type="EJE00415-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（下段）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の取得に要した金額の控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJE00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJF00000" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"特例適用条文　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJF00020" type="EJF00020-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJF00030" type="EJF00030-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOC110-2-7-0type">
<xsd:sequence>

<xsd:element name="EJG00000" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"２　「上場株式等の取得費の特例」の適用を受ける上場株式等の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJG00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJG00020" type="EJG00020-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡した株式等の銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJG00030" type="EJG00030-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJG00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡先(金融商品取引業者等)の所在地・名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJG00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJG00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJG00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(取得年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例を適用して計算した取得費の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJG00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その譲渡直前の株式等の所有状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJG00110" type="EJG00110-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)その株式等の全所有株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJG00120" type="EJG00120-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(b)うち、平成13年10月1日以後に取得した株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　特定投資株式の価値喪失の金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJH00010" type="EJH00010-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定残株数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１株当たりの取得費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定投資株式の価値喪失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　公開等特定株式に該当する株式数の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJI00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJI00020" type="EJI00020-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡の時の直前の特定残株数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJI00030" type="EJI00030-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成12年4月1日から譲渡の日の３年前の日の前日(取得期間)までに払込みにより取得した株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJI00040" type="EJI00040-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公開等特定株式に該当する株式数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJI00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５　公開等特定株式に係る所得金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(Ｂ)&gt;=(Ｃ)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(Ｂ)＜(Ｃ)の場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EJJ00000" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"【参考】　その他の譲渡した主な株式等の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJJ00010" type="EJJ00010-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJJ00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJJ00030" type="EJJ00030-7-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡した株式等の銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJJ00040" type="EJJ00040-7-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJJ00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡先(金融商品取引業者等)の所在地・名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJJ00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡による収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJJ00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EJJ00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EJJ00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(取得年月日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="EJC00020-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJD00125-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJD00285-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJD00415-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJE00115-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJE00285-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJE00415-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJF00020-7-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJF00030-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJG00020-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJG00030-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJG00110-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJG00120-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJH00010-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJI00020-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJI00030-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJI00040-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EJJ00010-7-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="EJJ00030-7-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EJJ00040-7-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:minInclusive value="0"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="EJF00020-7-0type">
<xsd:simpleContent>
<xsd:extension base="EJF00020-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EJG00030-7-0type">
<xsd:simpleContent>
<xsd:extension base="EJG00030-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EJG00110-7-0type">
<xsd:simpleContent>
<xsd:extension base="EJG00110-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EJG00120-7-0type">
<xsd:simpleContent>
<xsd:extension base="EJG00120-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EJH00010-7-0type">
<xsd:simpleContent>
<xsd:extension base="EJH00010-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EJI00020-7-0type">
<xsd:simpleContent>
<xsd:extension base="EJI00020-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EJI00030-7-0type">
<xsd:simpleContent>
<xsd:extension base="EJI00030-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EJI00040-7-0type">
<xsd:simpleContent>
<xsd:extension base="EJI00040-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="EJJ00040-7-0type">
<xsd:simpleContent>
<xsd:extension base="EJJ00040-7-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
