etax/19XMLスキーマ/shotoku/KOC250-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特定中小会社が発行した株式を払込みにより取得をする見込みである旨の申出書
version：1.0
Date：2025年08月15日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOC250-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOC250-1-0group">
<xsd:sequence>
<xsd:element name="KOC250">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DBA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告等対象年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DBB00000" type="DBB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DBC00000" type="DBC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定株式区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBD00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"払込み年"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DBE00000" type="DBE00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"１　特定株式　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBF00000" type="DBF00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"２　設立特定株式　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DBG00000" type="DBG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　その他参考となるべき事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOC250-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DBB00000-1-0type">
<xsd:sequence>

<xsd:element name="DBB00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（又は居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DBB00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBB00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DBB00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DBE00000-1-0type">
<xsd:sequence>

<xsd:element name="DBE00010" type="DBE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行会社の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得見込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得予定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"【新株予約権の行使により取得する見込みである場合】"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DBE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新株予約権の取得（見込）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBE00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利行使の予定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DBE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"【認定投資事業有限責任組合（認定ＬＰＳ）を通じて取得見込みである場合】"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DBE00080" type="DBE00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定ＬＰＳの名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBE00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出資年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DBE00110" type="DBE00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"【認定少額電子募集取扱業者（認定ＥＣＦ）を通じて取得見込みである場合】　認定ＥＣＦの名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DBF00000-1-0type">
<xsd:sequence>

<xsd:element name="DBF00010" type="DBF00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行会社の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得見込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DBF00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得予定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="DBC00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DBE00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DBE00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DBE00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DBF00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DBG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="400"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
