etax/19XMLスキーマ/shotoku/KOE050-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年分　医療費に係る使用証明書等の記載事項(おむつ証明書など)
version：4.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOE050-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOE050-4-0group">
<xsd:sequence>
<xsd:element name="KOE050">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="IEA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="IEF00000" type="IEF00000-4-0type" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOE050-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IEF00000-4-0type">
<xsd:sequence>

<xsd:element name="IEF00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証明年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00020" type="IEF00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証明書の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IEF00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証明者の名称（医療機関名等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IEF00020-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
