etax/19XMLスキーマ/shotoku/KOE020-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年分　退職所得の源泉徴収票・特別徴収票の記載事項
version：1.0
Date：2018年11月13日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOE020-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOE020-1-0group">
<xsd:sequence>
<xsd:element name="KOE020">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="IBA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="IBC00000" type="IBC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収票・特別徴収票の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBD00000" type="IBD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOE020-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IBC00000-1-0type">
<xsd:sequence>

<xsd:element name="IBC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税法第２０１条第１項第１号並びに地方税法第５０条の６第１項第１号及び第３２８条の６第１項第１号適用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IBC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IBC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税法第２０１条第１項第２号並びに地方税法第５０条の６第１項第２号及び第３２８条の６第１項第２号適用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IBC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IBC00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税法第２０１条第３項並びに地方税法第５０条の６第２項及び第３２８条の６第２項適用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IBC00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市町村民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"道府県民税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="IBC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職所得控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00170" type="IBC00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤続年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"就職年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBC00190" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IBD00000-1-0type">
<xsd:sequence>

<xsd:element name="IBD00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBD00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBD00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IBC00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="IBC00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="IBC00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
