etax/19XMLスキーマ/shotoku/KOE090-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分　特定口座年間取引報告書の記載事項
version：1.0
Date：2007年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOE090-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOE090-1-0group">
<xsd:sequence>
<xsd:element name="KOE090">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="IIA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIC00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座開設年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IID00000" type="IID00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収の選択"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIE00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="IIF00000" type="IIF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般上場分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00000" type="IIG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定信用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIH00000" type="IIH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="III00000" type="III00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOE090-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IIF00000-1-0type">
<xsd:sequence>

<xsd:element name="IIF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額（収入金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額（収入金額）  外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等  外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額（差損益金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIG00000-1-0type">
<xsd:sequence>

<xsd:element name="IIG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額（収入金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額（差損益金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IIH00000-1-0type">
<xsd:sequence>

<xsd:element name="IIH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額（収入金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額（差損益金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IIH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="III00000-1-0type">
<xsd:sequence>

<xsd:element name="III00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="III00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="III00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="IID00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
