etax/19XMLスキーマ/shotoku/KOE030-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分　公的年金等の源泉徴収票の記載事項
version：3.0
Date：2010年08月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOE030-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOE030-3-0group">
<xsd:sequence>
<xsd:element name="KOE030">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ICA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（厚生労働省分）氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ICC00000" type="ICC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（厚生労働省分）年金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ICD00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（厚生労働省以外分）氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ICE00000" type="ICE00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（厚生労働省以外分）法第203条の３第１号適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICF00000" type="ICF00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（厚生労働省以外分）法第203条の３第２号適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICG00000" type="ICG00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（厚生労働省以外分）法第203条の３第３号適用分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICH00000" type="ICH00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（厚生労働省以外分）支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOE030-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ICC00000-3-0type">
<xsd:sequence>

<xsd:element name="ICC00005" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICC00015" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ICE00000-3-0type">
<xsd:sequence>

<xsd:element name="ICE00005" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICE00015" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ICF00000-3-0type">
<xsd:sequence>

<xsd:element name="ICF00005" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICF00015" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ICG00000-3-0type">
<xsd:sequence>

<xsd:element name="ICG00005" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICG00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICG00015" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額　内書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額　本書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ICH00000-3-0type">
<xsd:sequence>

<xsd:element name="ICH00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICH00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICH00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
