etax/19XMLスキーマ/shotoku/KOE100-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分　配当所得に係る支払通知書の記載事項
version：1.0
Date：2009年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOE100-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOE100-1-0group">
<xsd:sequence>
<xsd:element name="KOE100">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="IJA00000" type="gen:NENBUNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJB00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="IJC00000" type="IJC00000-1-0type" minOccurs="0" maxOccurs="20">
<xsd:annotation>
<xsd:appinfo>"１　上場株式配当等の支払通知書　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJD00000" type="IJD00000-1-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"２　オープン型証券投資信託の収益の分配の支払通知書　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJE00000" type="IJE00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"３　配当等とみなす金額に関する支払通知書　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOE100-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IJC00000-1-0type">
<xsd:sequence>

<xsd:element name="IJC00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJC00040" type="IJC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外貨建資産割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJC00050" type="IJC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非株式割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJC00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払の取扱者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IJD00000-1-0type">
<xsd:sequence>

<xsd:element name="IJD00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJD00040" type="IJD00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外貨建資産割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJD00050" type="IJD00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非株式割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJD00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払の取扱者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="IJE00000-1-0type">
<xsd:sequence>

<xsd:element name="IJE00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当等とみなされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IJE00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払の取扱者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IJC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IJC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IJD00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IJD00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
