etax/19XMLスキーマ/shotoku/KOY020-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年末調整のための住宅借入金(取得)等特別控除関係書類の交付申請書
version：1.0
Date：2004年02月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOY020-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOY020-1-0group">
<xsd:sequence>
<xsd:element name="KOY020">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="ADA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ADC00000" type="ADC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ADD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADE00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定申告により住宅借入金（取得）等特別控除を受けた年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ADF00000" type="ADF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADG00000" type="ADG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付申請をする書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOY020-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ADC00000-1-0type">
<xsd:sequence>

<xsd:element name="ADC00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADC00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ADF00000-1-0type">
<xsd:sequence>

<xsd:element name="ADF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　給与の支払者が前年と異なることとなったため"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADF00020" type="ADF00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与の支払者が前年と異なることとなったため"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADF00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在の給与の支払者の名称（氏名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADF00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在の給与の支払者の所在地（住所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADF00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"現在の給与の支払者の電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADF00060" type="ADF00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　紛失のため"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADF00080" type="ADF00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADF00090" type="ADF00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ADG00000-1-0type">
<xsd:sequence>

<xsd:element name="ADG00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整のための住宅借入金（取得）等特別控除証明書の年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与所得者の住宅借入金（取得）等特別控除申告書の年分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADG00030" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADG00040" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ADF00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ADF00060-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ADF00080-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ADF00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
