etax/19XMLスキーマ/shotoku/KOZ090-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：純損失の金額の繰戻しによる所得税の還付請求書
version：2.0
Date：2005年08月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ090-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ090-2-0group">
<xsd:sequence>
<xsd:element name="KOZ090">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="FJA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FJC00000" type="FJC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FJD00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJE00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失の金額の生じた年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJF00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失の金額を繰り戻す年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FJG00000" type="FJG00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求の事由等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FJH00000" type="FJH00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この純損失の金額について、既に繰戻しによる還付を受けた事実の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FJI00000" type="FJI00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付請求金額の計算書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FJJ00000" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金の受取場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJK00010" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJK00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(電話番号)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJK00030" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ090-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FJC00000-2-0type">
<xsd:sequence>

<xsd:element name="FJC00003" type="FJC00003-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJC00005" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJC00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJC00013" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所以外の事業所・事務所又は居所郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJC00015" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所以外の事業所・事務所又は居所など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJC00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJC00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJC00050" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJC00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FJG00000-2-0type">
<xsd:sequence>

<xsd:element name="FJG00010" type="FJG00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求の事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJG00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求の事由の事実が生じた年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJG00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"休止期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJG00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"休止期間（自）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJG00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"休止期間（至）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FJI00000-2-0type">
<xsd:sequence>

<xsd:element name="FJI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成　年分の純損失の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失の金額の生じた年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ　純損失の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJI00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得以外の所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJI00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ　Ａのうち前年分に繰り戻す金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変動所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJI00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得以外の所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJI00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失の金額の繰戻しによる所得税の還付金額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分の税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ　課税される所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得以外の所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00235" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJI00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｄ　Ｃに対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（７）に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（８）に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（９）に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJI00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定率減税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１３）－（１４）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額を差し引く前の所得税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJI00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"繰戻し額控除後の税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｅ　繰戻し後の課税される所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総所得以外の所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00385" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJI00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｆ　Ｅに対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FJI00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１７）に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１８）に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１９）に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FJI00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"定率減税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２３）－（２４）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FJI00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"純損失の金額の繰戻しによる還付金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="FJC00003-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FJG00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FJH00000-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
