etax/19XMLスキーマ/shotoku/KOZ031-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：(別紙)徴収猶予を受ける限度額又は猶予期間の計算書
version：3.0
Date：2025年08月15日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ031-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ031-3-0group">
<xsd:sequence>
<xsd:element name="KOZ031">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOZ031-1" type="KOZ031-1-3-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"１ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOZ031-2" type="KOZ031-2-3-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"２ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ031-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOZ031-1-3-0type">
<xsd:sequence>

<xsd:element name="FDA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　前年分の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDA00010" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"給与　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDA00020" type="FDA00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00030" type="FDA00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の名称・氏名又は所得の生ずる場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与所得控除額・公的年金等控除額・必要経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDA00070" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"追加所得　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDA00080" type="FDA00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00090" type="FDA00090-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00100" type="FDA00100-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の名称・氏名又は所得の生ずる場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与所得控除額・公的年金等控除額・必要経費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDA00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年分の所得金額合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　前年に受けた災害による損失額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDB00010" type="FDB00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDB00030" type="FDB00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害を受けた資産の種類など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補てんされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損失額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　前年分に繰り越された繰越雑損失の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２年前の災害に係る繰越雑損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３年前の災害に係る繰越雑損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４年前の災害に係る繰越雑損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５年前の災害に係る繰越雑損失の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　本年分に繰り越される繰越雑損失の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)　前年分に繰り越された雑損失の金額のない場合（上記３の金額がない場合）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）差引損失額－（１）*10％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）のうち災害関連支出の金額－5万円"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分離譲渡の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)　前年分に繰り越された雑損失の金額がある場合（上記３の金額がある場合）で前年分に災害による損失額がないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　（イ）又は（ロ）の金額がある場合で（ハ）又は（ニ）の金額がないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（イ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ロ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ　（イ）又は（ロ）の金額のほかに（ハ）又は（ニ）の金額もある場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（イ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ロ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ハ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00165" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ニ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDD00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)　前年分に繰り越された雑損失の金額がある場合（上記３の金額がある場合）で前年分に災害による損失額があるとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDD00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ　（イ）又は（ロ）の金額がある場合で（ハ）又は（ニ）の金額がなく、「（イ）＋（ロ）」の金額が（１）より大きいとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDD00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（イ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ロ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDD00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ　（イ）又は（ロ）の金額がある場合で（ハ）又は（ニ）の金額がなく、「（イ）＋（ロ）」の金額が（１）より少ないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDD00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（イ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ロ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ホ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）差引損失額－（ホ）*10％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２)のうち災害関連支出の金額ー5万円"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分離譲渡の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDD00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ハ　（イ）又は（ロ）の金額のほか（ハ）又は（ニ）の金額もある場合で、「（イ）＋（ロ）＋（ハ）＋（ニ）」の金額が（１）より大きいとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDD00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ハ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00365" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ニ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ホ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（イ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ロ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ホ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDD00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ニ　（イ）又は（ロ）の金額のほか（ハ）又は（ニ）の金額もある場合で、「（イ）＋（ロ）＋（ハ）＋（ニ）」の金額が（１）より少ないとき"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDD00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（イ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ロ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ハ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00475" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ニ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ホ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）差引損失額－（ホ）*10％"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２)のうち災害関連支出の金額ー5万円"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分離譲渡の特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDD00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOZ031-2-3-0type">
<xsd:sequence>

<xsd:element name="FDE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５　本年分の給与等及び公的年金等の収入金額の見積額に応ずる給与所得控除額及び公的年金等控除額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDE00020" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"給与等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDE00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"徴収猶予を受けようとする給与等及び公的年金等の支払者の名称・氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の者から受ける本年分の収入額の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日雇給与（左の者から受ける本年分の収入額の見積額（（４）の金額））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の収入金額の見積額の合計額に応ずる給与所得控除額及び公的年金等控除額（（５）給与所得控除額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の収入金額の見積額の合計額に応ずる給与所得控除額及び公的年金等控除額（（６）給与所得控除額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公的年金等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDE00090" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"公的年金等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDE00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"徴収猶予を受けようとする給与等及び公的年金等の支払者の名称・氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の者から受ける本年分の収入額の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の収入金額の見積額の合計額に応ずる給与所得控除額及び公的年金等控除額（（７）公的年金等控除額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６　徴収猶予限度額の計算の基礎となる配分額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDF00080" type="FDF00080-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"扶養人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与・年金・報酬"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（５）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者・寡婦寡夫・勤労学生控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者控除額  配偶者特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"扶養控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基礎控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日雇給与"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者・寡婦寡夫・勤労学生控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者控除額    配偶者特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"扶養控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基礎控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７　徴収猶予限度額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の収入金額の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配分額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDG00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"徴収猶予限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDG00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公的年金等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の収入金額の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配分額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"徴収猶予限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDG00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般の報酬"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の収入金額の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDG00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配分額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDG00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"徴収猶予限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDG00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険診療報酬"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDG00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の収入金額の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDG00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配分額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDG00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"徴収猶予限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FDH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８　徴収猶予期間の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FDH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分の日雇給与の収入金額（（４）の金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の収入金額に対する給与所得控除額（（６）の金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDH00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引金額（（ヘ）－（ト））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１か月の平均給与の額（（チ）＊１／１２）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（９）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（リ）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FDH00070" type="FDH00070-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="FDA00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00080-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00090-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDA00100-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDB00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDB00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDF00080-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FDH00070-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="FDF00080-3-0type">
<xsd:simpleContent>
<xsd:extension base="FDF00080-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FDH00070-3-0type">
<xsd:simpleContent>
<xsd:extension base="FDH00070-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
