etax/19XMLスキーマ/shotoku/KOZ050-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：現金主義による所得計算の特例を受けることの届出書
version：2.0
Date：2012年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ050-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ050-2-0group">
<xsd:sequence>
<xsd:element name="KOZ050">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOZ050-1" type="KOZ050-1-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOZ050-2" type="KOZ050-2-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２ページ目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ050-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOZ050-1-2-0type">
<xsd:sequence>

<xsd:element name="FFA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFC00020" type="FFC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFC00025" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFC00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の住所地・事業所等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFC00055" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFC00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFC00070" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFC00090" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFC00100" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFC00110" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFC00120" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）屋号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFC00140" type="gen:NOZEISHA_YAGO_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFC00150" type="gen:NOZEISHA_YAGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"屋号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFD00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前々年分の所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得計算（１）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色事業専従者給与額(1)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得計算（２）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"青色事業専従者給与額(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他参考事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備付帳簿名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFG00020" type="FFG00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分（現金式簡易帳簿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFG00025" type="FFG00025-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分（その他）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFG00030" type="FFG00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他備付帳簿名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFG00040" type="FFG00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFH00020" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFH00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOZ050-2-2-0type">
<xsd:sequence>

<xsd:element name="FFF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売掛金・買掛金等の資産負債の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFF00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前年12月31日もしくは年の中途開業の場合の開業日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"売掛金(未収入金を含む。)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取手形"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"棚卸資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前払費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00070" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"科目追加分　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFF00080" type="FFF00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"負債"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買掛金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払手形"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前受金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未払費用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目追加分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFF00170" type="FFF00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFF00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"引当金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFF00200" type="FFF00200-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFF00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"準備金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FFF00230" type="FFF00230-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FFF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FFF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:complexType name="FFC00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FFF00080-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFF00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFF00200-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFF00230-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FFG00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FFG00025-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FFG00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FFG00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
