etax/19XMLスキーマ/shotoku/KOZ130-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：所得税の棚卸資産の評価方法・減価償却資産の償却方法の届出書
version：3.0
Date：2012年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ130-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ130-3-0group">
<xsd:sequence>
<xsd:element name="KOZ130">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FNA00000" type="FNA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出内容区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="FNB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNC00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="FND00000" type="FND00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FND00160" type="FND00160-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本文届出内容区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNE00000" type="FNE00000-3-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"棚卸資産の評価方法  繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNF00000" type="FNF00000-3-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の償却方法（（1）平成19年3月31日以前に取得した減価償却資産）　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNI00000" type="FNI00000-3-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の償却方法（（2）平成19年4月1日以後に取得した減価償却資産）　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNG00000" type="FNG00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNH00000" type="FNH00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ130-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="FNA00000-3-0type">
<xsd:sequence>

<xsd:element name="FNA00010" type="FNA00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出内容区分（棚卸資産の評価方法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNA00020" type="FNA00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出内容区分（減価償却資産の償却方法）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FND00000-3-0type">
<xsd:sequence>

<xsd:element name="FND00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FND00020" type="FND00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FND00025" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FND00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FND00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FND00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の住所地・事業所等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FND00055" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FND00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FND00070" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FND00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FND00090" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FND00100" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="FND00110" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FND00120" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FND00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）屋号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FND00140" type="gen:NOZEISHA_YAGO_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FND00150" type="gen:NOZEISHA_YAGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"屋号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FND00160-3-0type">
<xsd:sequence>

<xsd:element name="FND00170" type="FND00170-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本文届出内容区分(棚卸資産の評価方法)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FND00180" type="FND00180-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本文届出内容区分(減価償却資産の償却方法)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FNE00000-3-0type">
<xsd:sequence>

<xsd:element name="FNE00010" type="FNE00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNE00020" type="FNE00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"棚卸資産の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNE00030" type="FNE00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"評価方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FNF00000-3-0type">
<xsd:sequence>

<xsd:element name="FNF00010" type="FNF00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の種類・設備の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNF00020" type="FNF00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造又は用途、細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNF00030" type="FNF00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FNI00000-3-0type">
<xsd:sequence>

<xsd:element name="FNI00010" type="FNI00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減価償却資産の種類・設備の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNI00020" type="FNI00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造又は用途、細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNI00030" type="FNI00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FNG00000-3-0type">
<xsd:sequence>

<xsd:element name="FNG00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建物の取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNG00020" type="FNG00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="FNH00000-3-0type">
<xsd:sequence>

<xsd:element name="FNH00020" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FNH00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="FNA00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FNA00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FND00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FND00170-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="FND00180-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="FNE00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FNE00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FNE00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FNF00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FNF00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FNF00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FNI00010-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FNI00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FNI00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FNG00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
