etax/19XMLスキーマ/shotoku/KOZ280-006.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分所得税の予定納税額の7月(11月)減額申請書
version：6.0
Date：2008年08月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ280-6-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="6.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ280-6-0group">
<xsd:sequence>
<xsd:element name="KOZ280">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="GEA00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEB00000" type="GEB00000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７月・１１月減額申請月区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEC00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GED00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GEE00000" type="GEE00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GEF00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分２"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GEG00000" type="GEG00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請納税見積額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GEH00005" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEH00000" type="GEH00000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減額申請の理由（廃業）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEH00010" type="GEH00010-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減額申請の理由（休業）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEH00020" type="GEH00020-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減額申請の理由（失業）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEH00030" type="GEH00030-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減額申請の理由（災害）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEH00040" type="GEH00040-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減額申請の理由（盗難）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEH00050" type="GEH00050-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減額申請の理由（横領）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEH00060" type="GEH00060-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減額申請の理由（医療費）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEH00070" type="GEH00070-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減額申請の理由（その他）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEI00000" type="GEI00000-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"減額申請の具体的理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GEJ00000" type="GEJ00000-6-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"添付書類の名称　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00000" type="GEK00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告納税見積額等の計算書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEL00000" type="GEL00000-6-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ280-6-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GEE00000-6-0type">
<xsd:sequence>

<xsd:element name="GEE00005" type="GEE00005-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEE00010" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEE00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEE00023" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所以外の事業所・事務所又は居所郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEE00025" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所以外の事業所・事務所又は居所など"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEE00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEE00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEE00060" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEE00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GEG00000-6-0type">
<xsd:sequence>

<xsd:element name="GEG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"予定納税基準額又は申告納税見積額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"予定納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEG00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEG00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第２期分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEG00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知を受けた金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEG00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GEJ00000-6-0type">
<xsd:sequence>

<xsd:element name="GEJ00010" type="GEJ00010-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類の名称"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GEK00000-6-0type">
<xsd:sequence>

<xsd:element name="GEK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成　年分の所得金額の見積額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEK00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00022" type="GEK00022-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業等区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00024" type="GEK00024-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00028" type="GEK00028-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業等・農業(特例表示)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業等・農業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00035" type="GEK00035-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産(特例表示)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00075" type="GEK00075-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑(特例表示)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00083" type="GEK00083-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総合譲渡区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00087" type="GEK00087-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総合譲渡・一時"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（９）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEK00120" type="GEK00120-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（９）の所得の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（９）の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEK00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１０）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEK00150" type="GEK00150-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１０）の所得の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１０）の所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEK00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得から差し引かれる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEK00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療費控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00193" type="GEK00193-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00197" type="GEK00197-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小規模企業共済等掛金控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料・小規模企業共済等掛金控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生命保険料控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地震保険料控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00232" type="GEK00232-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00236" type="GEK00236-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寡婦控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00238" type="GEK00238-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寡夫控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00239" type="GEK00239-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤労学生控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者・寡婦・寡夫・勤労学生控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"扶養控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基礎控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEK00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税される所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEK00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（８）に対する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（９）に対する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１０）に対する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEK00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEK00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上の（２３）に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上の（２４）に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上の（２５）に対する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEK00383" type="GEK00383-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00387" type="GEK00387-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資・リース税額等の控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当控除、投資・リース税額等の控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（特定増改築等）住宅借入金等特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政党等寄附金特別控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEK00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政党等寄附金特別控除金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GEK00433" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00434" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電子証明書等特別控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00435" type="GEK00435-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（免）表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引所得税額((29)-(30)-(31)-(32)-(33)-(34))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00443" type="GEK00443-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害減免額区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00447" type="GEK00447-6-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害減免額、外国税額控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告納税見積額（（３５）－（３６）－（３７））"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"予定納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEK00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第１期分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEK00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第２期分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GEL00000-6-0type">
<xsd:sequence>

<xsd:element name="GEL00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEL00030" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="GEB00000-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEE00005-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEH00000-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEH00010-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEH00020-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEH00030-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEH00040-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEH00050-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEH00060-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEH00070-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GEI00000-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GEJ00010-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GEK00022-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEK00024-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GEK00028-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GEK00035-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GEK00075-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GEK00083-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEK00087-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GEK00120-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GEK00150-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GEK00193-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEK00197-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEK00232-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEK00236-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEK00238-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEK00239-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEK00383-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEK00387-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GEK00435-6-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GEK00443-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GEK00447-6-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
