etax/19XMLスキーマ/shotoku/KOZ250-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：所得税の特別修繕費の金額又は期間の認定申請書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ250-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ250-1-0group">
<xsd:sequence>
<xsd:element name="KOZ250">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="GBA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GBC00000" type="GBC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GBD00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GBE00000" type="GBE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定を受けようとする資産の明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GBF00000" type="GBF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GBG00000" type="GBG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ250-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GBC00000-1-0type">
<xsd:sequence>

<xsd:element name="GBC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBC00020" type="GBC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBC00025" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBC00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の住所地・事業所等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBC00055" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBC00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBC00070" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBC00090" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBC00100" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBC00110" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBC00120" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）屋号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBC00140" type="gen:NOZEISHA_YAGO_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBC00150" type="gen:NOZEISHA_YAGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"屋号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GBE00000-1-0type">
<xsd:sequence>

<xsd:element name="GBE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBE00020" type="GBE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00030" type="GBE00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造又は用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00040" type="GBE00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00050" type="GBE00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在する場所（船籍港）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00070" type="GBE00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"トン数又は容積量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建造年月日又は築造年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中古資産を取得した場合はその年月日及び前所有者名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBE00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中古資産を取得した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00110" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前所有者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBE00120" type="GBE00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建造（築造）年月日からの経過年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定を受けようとする特別修繕費の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00140" type="GBE00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定を受けようとする月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GBE00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GBE00160" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00170" type="GBE00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資産の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00180" type="GBE00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造又は用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00190" type="GBE00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00200" type="GBE00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00210" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在する場所（船籍港）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00220" type="GBE00220-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"トン数又は容積量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建造年月日又は築造年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00240" type="GBE00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"建造（築造）年月日からの経過年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"類似資産について最近に行われた特別修繕完了の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に要した特別修繕費の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBE00270" type="GBE00270-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最近に行われた特別修繕完了の日からその直前の特別修繕完了の日までの期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GBG00000-1-0type">
<xsd:sequence>

<xsd:element name="GBG00020" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GBG00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="GBC00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GBE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00190-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00220-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00240-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBE00270-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GBF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="GBE00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="GBE00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBE00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="GBE00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBE00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="GBE00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBE00220-1-0type">
<xsd:simpleContent>
<xsd:extension base="GBE00220-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBE00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="GBE00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GBE00270-1-0type">
<xsd:simpleContent>
<xsd:extension base="GBE00270-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
