etax/19XMLスキーマ/shotoku/KOZ290-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：青色事業専従者給与に関する届出(変更届出)書
version：3.0
Date：2015年09月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ290-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ290-3-0group">
<xsd:sequence>
<xsd:element name="KOZ290">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="GFA00000" type="GFA00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFC00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GFD00000" type="GFD00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GFE00000" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFE00010" type="GFE00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本文届出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GFF00000" type="GFF00000-3-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"青色事業専従者給与  繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GFG00000" type="GFG00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFH00000" type="GFH00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"変更理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GFI00000" type="GFI00000-3-0type" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"使用人の給与　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFJ00000" type="GFJ00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ290-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GFD00000-3-0type">
<xsd:sequence>

<xsd:element name="GFD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFD00020" type="GFD00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00025" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GFD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の住所地・事業所等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFD00055" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00070" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GFD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFD00090" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00100" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GFD00110" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00115" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00120" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）屋号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFD00140" type="gen:NOZEISHA_YAGO_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFD00150" type="gen:NOZEISHA_YAGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"屋号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GFF00000-3-0type">
<xsd:sequence>

<xsd:element name="GFF00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専従者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFF00020" type="gen:zokugara" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"続柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFF00030" type="GFF00030-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFF00040" type="GFF00040-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経験年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFF00045" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"専従者の個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFF00050" type="GFF00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕事の内容・従事の程度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFF00060" type="GFF00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資格等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFF00080" type="GFF00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（月額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GFF00100" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"賞与　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFF00110" type="GFF00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFF00120" type="GFF00120-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給の基準（金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GFF00130" type="GFF00130-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"昇給の基準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GFI00000-3-0type">
<xsd:sequence>

<xsd:element name="GFI00010" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFI00020" type="GFI00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"性別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFI00030" type="GFI00030-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFI00040" type="GFI00040-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経験年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFI00050" type="GFI00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕事の内容・従事の程度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFI00060" type="GFI00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資格等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFI00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給料"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFI00080" type="GFI00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFI00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（月額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GFI00100" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"賞与　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GFI00110" type="GFI00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給期"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFI00120" type="GFI00120-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支給の基準（金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GFI00130" type="GFI00130-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"昇給の基準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GFJ00000-3-0type">
<xsd:sequence>

<xsd:element name="GFJ00020" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GFJ00030" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="GFA00000-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GFD00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="GFE00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="GFF00030-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFF00040-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFF00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFF00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFF00080-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFF00110-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFF00120-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFF00130-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFG00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFH00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFI00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFI00030-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFI00040-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFI00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFI00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFI00080-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFI00110-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFI00120-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GFI00130-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GFF00030-3-0type">
<xsd:simpleContent>
<xsd:extension base="GFF00030-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFF00040-3-0type">
<xsd:simpleContent>
<xsd:extension base="GFF00040-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFI00030-3-0type">
<xsd:simpleContent>
<xsd:extension base="GFI00030-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GFI00040-3-0type">
<xsd:simpleContent>
<xsd:extension base="GFI00040-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
