etax/19XMLスキーマ/shotoku/KOZ241-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：(別紙)承認を受けようとする使用可能期間の算定の明細書
version：1.0
Date：2004年12月22日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ241-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ241-1-0group">
<xsd:sequence>
<xsd:element name="KOZ241">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="GAA00000" type="GAA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"No"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="GAB00000" type="GAB00000-1-0type" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"使用可能期間の算定の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ241-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GAB00000-1-0type">
<xsd:sequence>

<xsd:element name="GAB00010" type="GAB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00020" type="GAB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00030" type="GAB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造又は用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00040" type="GAB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00050" type="GAB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00070" type="GAB00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法定耐用年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする使用可能期間の算定の基礎"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GAB00100" type="GAB00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過年数（年）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00105" type="GAB00105-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過年数（月）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00110" type="GAB00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その後の使用可能期間（年）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00115" type="GAB00115-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その後の使用可能期間（月）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00120" type="GAB00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GAB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年要償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00140" type="GAB00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"算出使用可能期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00150" type="GAB00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"承認を受けようとする使用可能期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00160" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月又は事業の用に供した年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GAB00180" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="GAA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="9999"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00105-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00115-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GAB00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="GAA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GAB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GAB00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAB00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GAB00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAB00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GAB00105-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAB00105-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GAB00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAB00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GAB00115-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAB00115-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GAB00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAB00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GAB00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAB00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GAB00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="GAB00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
