etax/19XMLスキーマ/shotoku/KOZ300-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分の総収入金額報告書
version：1.1
Date：2006年08月03日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ300-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ300-1-1group">
<xsd:sequence>
<xsd:element name="KOZ300">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KOZ300-1" type="KOZ300-1-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KOZ300-2" type="KOZ300-2-1-1type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"その年中の収入金額（次頁）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ300-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KOZ300-1-1-1type">
<xsd:sequence>

<xsd:element name="GGA00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGC00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGD00005" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00010" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGD00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGD00045" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00055" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00060" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00070" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業種名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00080" type="gen:NOZEISHA_YAGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"屋号・雅号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGD00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中の収入金額明細（1面）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の生ずる場所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の生ずる場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得の生ずる場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得の生ずる場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その年中の収入金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な得意先・貸付先・売却先"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGE00070" minOccurs="0" maxOccurs="9">
<xsd:annotation>
<xsd:appinfo>"主な得意先・貸付先・売却先の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所･氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGE00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGE00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次頁の計の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGE00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の収入の計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGE00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGE00270" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGE00280" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="KOZ300-2-1-1type">
<xsd:sequence>

<xsd:element name="GGF00010" minOccurs="0" maxOccurs="19">
<xsd:annotation>
<xsd:appinfo>"主な得意先・貸付先・売却先　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所･氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGF00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGF00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGF00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GGF00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次頁の計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GGF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GGF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林所得の収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>




</xsd:schema>
