etax/19XMLスキーマ/shotoku/KOZ411-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：(別紙)更新資産に取り替えた後の使用可能期間の算定の明細書
version：1.0
Date：2009年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ411-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ411-1-0group">
<xsd:sequence>
<xsd:element name="KOZ411">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GMA00000" type="GMA00000-1-0type" minOccurs="0" maxOccurs="11">
<xsd:annotation>
<xsd:appinfo>"使用可能期間の算定の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMB00000" type="GMB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="GMC00000" type="GMC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"No"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ411-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GMA00000-1-0type">
<xsd:sequence>

<xsd:element name="GMA00010" type="GMA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00020" type="GMA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00030" type="GMA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造又は用途"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00040" type="GMA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"細目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00050" type="GMA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00060" type="GMA00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法定耐用年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却基礎価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更新資産に取り替えた後の使用可能期間の算定の基礎"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GMA00090" type="GMA00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過年数（年）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00100" type="GMA00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"経過年数（月）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00110" type="GMA00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その後の使用可能期間（年）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00120" type="GMA00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その後の使用可能期間（月）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00130" type="GMA00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GMA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年要償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00150" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMA00180" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="GMB00000-1-0type">
<xsd:sequence>

<xsd:element name="GMB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償却基礎価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GMB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GMB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年要償却額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMB00050" type="GMB00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更新資産に取り替えた後の使用可能期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMB00060" type="GMB00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"みなし承認を受けようとする使用可能期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GMB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="GMA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMA00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMA00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMA00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMA00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMA00120-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMA00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMB00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMB00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GMC00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="GMC00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="GMC00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GMA00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="GMA00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GMA00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="GMA00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GMA00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="GMA00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GMA00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="GMA00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GMA00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="GMA00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GMA00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="GMA00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GMB00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="GMB00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="GMB00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="GMB00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
