etax/19XMLスキーマ/shotoku/KOZ850-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：災害損失特別勘定の総収入金額算入年分の延長確認申請書
version：1.0
Date：2017年09月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ850-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ850-1-0group">
<xsd:sequence>
<xsd:element name="KOZ850">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="KTA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="KTC00000" type="KTC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="KTE00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修繕等が完了できない年"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="KTD00000" type="KTD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTF00000" type="KTF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ850-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="KTC00000-1-0type">
<xsd:sequence>

<xsd:element name="KTC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KTC00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTC00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KTC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連絡先"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KTC00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連絡先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTC00060" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KTC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KTC00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTC00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KTD00000-1-0type">
<xsd:sequence>

<xsd:element name="KTD00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災資産の修繕等が完了すると見込まれる日の属する年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年末の災害損失特別勘定の残額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修繕費用等の見込額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年分において総収入金額に算入すべき金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延長の対象となる本年末における災害損失特別勘定残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTD00060" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"翌年分以後の修繕等の工事に係る修繕費用等の見込額の明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KTD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災資産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KTD00080" type="KTD00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称及び種類又は共通費用の費目"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTD00090" type="KTD00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災資産の所在地"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTD00100" type="KTD00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"構造、設備の種類及び細目"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KTD00110" type="KTD00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年分以後に完了すると見込まれる修繕等の工事の名称等"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の修繕等の工事期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="KTD00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTD00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KTD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の修繕等の工事に係る翌年分以後の修繕費用等の見込額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年分以後の保険金等の見込額"</xsd:appinfo>
<xsd:appinfo>horizontal</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KTD00170" type="KTD00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本年末までに修繕が完了しなかった理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTD00180" type="KTD00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請をした修繕完了年分に修繕が完了すると見込まれる事情等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="KTF00000-1-0type">
<xsd:sequence>

<xsd:element name="KTF00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="KTF00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="KTD00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KTD00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KTD00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KTD00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KTD00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="KTD00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
