etax/19XMLスキーマ/shotoku/KOZ880-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：国税関係帳簿の電磁的記録等による保存等に係る65万円の青色申告特別控除・過少申告加算税の特例の適用を受ける旨の届出書
version：1.0
Date：2022年09月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="KOZ880-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="KOZ880-1-0group">
<xsd:sequence>
<xsd:element name="KOZ880">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="DQA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQB00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DQC00000" type="DQC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DQD00000" type="DQD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　届出の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="DQE00000" type="DQE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　特例の適用を受けようとする国税関係帳簿の種類並びに備付け及び保存に代える日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQF00000" type="DQF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　その他参考となるべき事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="DQG00000" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="KOZ880-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DQC00000-1-0type">
<xsd:sequence>

<xsd:element name="DQC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQC00020" type="DQC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の住所地・事業所等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQC00070" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00080" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00090" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQC00110" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00120" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQC00130" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00140" type="gen:seiribango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00150" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）屋号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQC00170" type="gen:NOZEISHA_YAGO_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQC00180" type="gen:NOZEISHA_YAGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"屋号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DQE00000-1-0type">
<xsd:sequence>

<xsd:element name="DQE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総勘定元帳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"根拠税法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQE00040" type="DQE00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQE00050" type="DQE00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQE00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備付け及び保存に代える日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仕訳帳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQE00080" type="DQE00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿の種類　根拠税法　所得税法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQE00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備付け及び保存に代える日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQE00100" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"その他の補助帳簿　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQE00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"根拠税法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQE00130" type="DQE00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQE00140" type="DQE00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQE00150" type="DQE00150-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQE00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備付け及び保存に代える日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DQF00000-1-0type">
<xsd:sequence>

<xsd:element name="DQF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）　特例の適用を受けようとする国税関係帳簿の作成・保存に使用するプログラム（ソフトウェア）の概要"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市販のソフトウェアのうちＪＩＩＭＡの認証を受けているもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQF00030" type="DQF00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQF00040" type="DQF00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQF00050" type="DQF00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQF00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市販のソフトウェア"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQF00070" type="DQF00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQF00080" type="DQF00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQF00090" type="DQF00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商品名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己開発"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DQF00110" type="DQF00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DQF00120" type="DQF00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託開発の場合は、委託先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DQF00130" type="DQF00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）　その他参考となる事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="DQC00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DQD00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DQE00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DQE00050-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DQE00080-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DQE00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DQE00140-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DQE00150-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="24"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DQF00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DQF00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DQF00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DQF00070-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DQF00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DQF00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DQF00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DQF00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="43"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DQF00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
