etax/19XMLスキーマ/shotoku/PKO0420-100.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
所得税の予定納税額の減額申請
version:10.0.0 Date: 2010年08月24日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="KOZ280-007.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/PKO0420a-100.xsd"/>
<xsd:include schemaLocation="KOA110-006.xsd"/>
<xsd:include schemaLocation="KOA120-005.xsd"/>
<xsd:include schemaLocation="KOA130-005.xsd"/>
<xsd:include schemaLocation="KOA210-006.xsd"/>
<xsd:include schemaLocation="KOA220-005.xsd"/>
<xsd:include schemaLocation="KOA230-005.xsd"/>
<xsd:include schemaLocation="KOA240-005.xsd"/>
<xsd:include schemaLocation="KOB010-004.xsd"/>
<xsd:include schemaLocation="KOB550-005.xsd"/>
<xsd:include schemaLocation="KOC080-007.xsd"/>
<xsd:include schemaLocation="KOA080-002.xsd"/>
<xsd:include schemaLocation="KOB560-006.xsd"/>
<xsd:include schemaLocation="KOB100-004.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="PKO0420-100-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="10.0.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="PKO0420"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PKO0420" type="PKO0420-100-0type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="PKO0420-100-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="PKO0420-100-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="PKO0420-100-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="PKO0420-100-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref="KOZ280-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA110-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA120-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA130-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA210-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA220-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA230-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA240-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB550-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC080-7-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA080-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB560-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB100-4-0group" minOccurs="0" maxOccurs="1"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="kyo:TEG100" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG101" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG200" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG201" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG202" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG400" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG500" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG600" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA060-5-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
