etax/19XMLスキーマ/shotoku/PKO0500-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
所得税の更正の請求
version:2.0 Date: 2004年09月27日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/PKO0500a-001.xsd"/>
<xsd:include schemaLocation="KOA110-002.xsd"/>
<xsd:include schemaLocation="KOA120-002.xsd"/>
<xsd:include schemaLocation="KOA130-002.xsd"/>
<xsd:include schemaLocation="KOA210-002.xsd"/>
<xsd:include schemaLocation="KOA220-002.xsd"/>
<xsd:include schemaLocation="KOA230-002.xsd"/>
<xsd:include schemaLocation="KOA240-002.xsd"/>
<xsd:include schemaLocation="KOB010-001.xsd"/>
<xsd:include schemaLocation="KOB550-001.xsd"/>
<xsd:include schemaLocation="KOC080-002.xsd"/>
<xsd:include schemaLocation="KOA080-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>

<!-- version -->
<xsd:simpleType name="PKO0500-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="PKO0500"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PKO0500" type="PKO0500-2-0type"/>
<!-- XML-SIGNATURE -->
<xsd:any namespace="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="PKO0500-2-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="PKO0500-2-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="PKO0500-2-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="PKO0500-2-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:group ref ="kyo:TEZ010-1-0group" minOccurs="1" maxOccurs="unbounded"/>
<xsd:group ref ="KOA110-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref ="KOA120-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref ="KOA130-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref ="KOA210-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref ="KOA220-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref ="KOA230-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref ="KOA240-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref ="KOB010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref ="KOB550-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref ="KOC080-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref ="KOA080-2-0group" minOccurs="0" maxOccurs="1"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>

<!-- 送付書 -->
<xsd:group ref="kyo:TEA060-1-0group" minOccurs="0"/>

</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>

</xsd:complexType>
</xsd:schema>
