etax/19XMLスキーマ/shotoku/RKO0010-130.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
所得税及び復興特別所得税申告
version:13.0.0 Date: 2013年10月22日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="KOA010-011.xsd"/>
<xsd:include schemaLocation="KOA020-011.xsd"/>
<xsd:include schemaLocation="KOA060-004.xsd"/>
<xsd:include schemaLocation="KOA050-009.xsd"/>
<xsd:include schemaLocation="KOA070-009.xsd"/>
<xsd:include schemaLocation="KOA080-003.xsd"/>
<xsd:include schemaLocation="KOA090-009.xsd"/>
<xsd:include schemaLocation="KOA110-007.xsd"/>
<xsd:include schemaLocation="KOA120-006.xsd"/>
<xsd:include schemaLocation="KOA130-006.xsd"/>
<xsd:include schemaLocation="KOA140-003.xsd"/>
<xsd:include schemaLocation="KOA210-007.xsd"/>
<xsd:include schemaLocation="KOA220-006.xsd"/>
<xsd:include schemaLocation="KOA230-006.xsd"/>
<xsd:include schemaLocation="KOA240-006.xsd"/>
<xsd:include schemaLocation="KOA250-003.xsd"/>
<xsd:include schemaLocation="KOB010-006.xsd"/>
<xsd:include schemaLocation="KOB040-009.xsd"/>
<xsd:include schemaLocation="KOB050-001.xsd"/>
<xsd:include schemaLocation="KOB060-004.xsd"/>
<xsd:include schemaLocation="KOB070-004.xsd"/>
<xsd:include schemaLocation="KOB080-011.xsd"/>
<xsd:include schemaLocation="KOB100-005.xsd"/>
<xsd:include schemaLocation="KOB110-011.xsd"/>
<xsd:include schemaLocation="KOB120-001.xsd"/>
<xsd:include schemaLocation="KOB130-009.xsd"/>
<xsd:include schemaLocation="KOB131-002.xsd"/>
<xsd:include schemaLocation="KOB140-003.xsd"/>
<xsd:include schemaLocation="KOB160-004.xsd"/>
<xsd:include schemaLocation="KOB170-002.xsd"/>
<xsd:include schemaLocation="KOB200-011.xsd"/>
<xsd:include schemaLocation="KOB210-001.xsd"/>
<xsd:include schemaLocation="KOB220-001.xsd"/>
<xsd:include schemaLocation="KOB230-003.xsd"/>
<xsd:include schemaLocation="KOB240-007.xsd"/>
<xsd:include schemaLocation="KOB270-003.xsd"/>
<xsd:include schemaLocation="KOB280-004.xsd"/>
<xsd:include schemaLocation="KOB281-001.xsd"/>
<xsd:include schemaLocation="KOB290-001.xsd"/>
<xsd:include schemaLocation="KOB300-003.xsd"/>
<xsd:include schemaLocation="KOB330-002.xsd"/>
<xsd:include schemaLocation="KOB360-005.xsd"/>
<xsd:include schemaLocation="KOB370-002.xsd"/>
<xsd:include schemaLocation="KOB380-006.xsd"/>
<xsd:include schemaLocation="KOB381-002.xsd"/>
<xsd:include schemaLocation="KOB390-002.xsd"/>
<xsd:include schemaLocation="KOB430-004.xsd"/>
<xsd:include schemaLocation="KOB440-004.xsd"/>
<xsd:include schemaLocation="KOB460-005.xsd"/>
<xsd:include schemaLocation="KOB540-009.xsd"/>
<xsd:include schemaLocation="KOB550-008.xsd"/>
<xsd:include schemaLocation="KOB560-009.xsd"/>
<xsd:include schemaLocation="KOB600-003.xsd"/>
<xsd:include schemaLocation="KOB610-002.xsd"/>
<xsd:include schemaLocation="KOB620-002.xsd"/>
<xsd:include schemaLocation="KOB630-003.xsd"/>
<xsd:include schemaLocation="KOB640-002.xsd"/>
<xsd:include schemaLocation="KOB650-002.xsd"/>
<xsd:include schemaLocation="KOB690-002.xsd"/>
<xsd:include schemaLocation="KOB700-005.xsd"/>
<xsd:include schemaLocation="KOB710-005.xsd"/>
<xsd:include schemaLocation="KOB711-002.xsd"/>
<xsd:include schemaLocation="KOB720-002.xsd"/>
<xsd:include schemaLocation="KOB750-005.xsd"/>
<xsd:include schemaLocation="KOB760-005.xsd"/>
<xsd:include schemaLocation="KOB770-003.xsd"/>
<xsd:include schemaLocation="KOB790-006.xsd"/>
<xsd:include schemaLocation="KOB780-002.xsd"/>
<xsd:include schemaLocation="KOB800-002.xsd"/>
<xsd:include schemaLocation="KOB810-001.xsd"/>
<xsd:include schemaLocation="KOB820-004.xsd"/>
<xsd:include schemaLocation="KOB830-004.xsd"/>
<xsd:include schemaLocation="KOB840-002.xsd"/>
<xsd:include schemaLocation="KOB850-004.xsd"/>
<xsd:include schemaLocation="KOB860-003.xsd"/>
<xsd:include schemaLocation="KOB870-002.xsd"/>
<xsd:include schemaLocation="KOB880-002.xsd"/>
<xsd:include schemaLocation="KOB890-001.xsd"/>
<xsd:include schemaLocation="KOB900-001.xsd"/>
<xsd:include schemaLocation="KOB910-003.xsd"/>
<xsd:include schemaLocation="KOB920-003.xsd"/>
<xsd:include schemaLocation="KOB930-003.xsd"/>
<xsd:include schemaLocation="KOB940-002.xsd"/>
<xsd:include schemaLocation="KOB950-002.xsd"/>
<xsd:include schemaLocation="KOB960-001.xsd"/>
<xsd:include schemaLocation="KOB970-002.xsd"/>
<xsd:include schemaLocation="KOB981-002.xsd"/>
<xsd:include schemaLocation="KOB982-001.xsd"/>
<xsd:include schemaLocation="KOB980-002.xsd"/>
<xsd:include schemaLocation="KOB983-002.xsd"/>
<xsd:include schemaLocation="KOB984-002.xsd"/>
<xsd:include schemaLocation="KOB985-001.xsd"/>
<xsd:include schemaLocation="KOB986-001.xsd"/>
<xsd:include schemaLocation="KOC010-005.xsd"/>
<xsd:include schemaLocation="KOC020-004.xsd"/>
<xsd:include schemaLocation="KOC036-003.xsd"/>
<xsd:include schemaLocation="KOC040-008.xsd"/>
<xsd:include schemaLocation="KOC050-010.xsd"/>
<xsd:include schemaLocation="KOC060-002.xsd"/>
<xsd:include schemaLocation="KOC070-005.xsd"/>
<xsd:include schemaLocation="KOC080-010.xsd"/>
<xsd:include schemaLocation="KOC090-002.xsd"/>
<xsd:include schemaLocation="KOC100-005.xsd"/>
<xsd:include schemaLocation="KOC110-010.xsd"/>
<xsd:include schemaLocation="KOC130-008.xsd"/>
<xsd:include schemaLocation="KOC140-004.xsd"/>
<xsd:include schemaLocation="KOC150-004.xsd"/>
<xsd:include schemaLocation="KOC160-007.xsd"/>
<xsd:include schemaLocation="KOD010-005.xsd"/>
<xsd:include schemaLocation="KOD020-005.xsd"/>
<xsd:include schemaLocation="KOE010-005.xsd"/>
<xsd:include schemaLocation="KOE020-001.xsd"/>
<xsd:include schemaLocation="KOE030-005.xsd"/>
<xsd:include schemaLocation="KOE040-003.xsd"/>
<xsd:include schemaLocation="KOE050-003.xsd"/>
<xsd:include schemaLocation="KOE060-001.xsd"/>
<xsd:include schemaLocation="KOE070-004.xsd"/>
<xsd:include schemaLocation="KOE080-003.xsd"/>
<xsd:include schemaLocation="KOE090-003.xsd"/>
<xsd:include schemaLocation="KOE100-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/RKO0010a-130.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RKO0010-130-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="13.0.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RKO0010"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RKO0010" type="RKO0010-130-0type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RKO0010-130-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RKO0010-130-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RKO0010-130-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RKO0010-130-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:choice minOccurs="0">
<xsd:group ref="KOA010-11-0group" maxOccurs="1"/>
<xsd:group ref="KOA020-11-0group" maxOccurs="1"/>
<xsd:group ref="KOA060-4-0group" maxOccurs="unbounded"/>
</xsd:choice>
<xsd:group ref="KOA050-9-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA070-9-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA080-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA090-9-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA110-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA120-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA130-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA140-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA210-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA220-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA230-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA240-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA250-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB010-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB040-9-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB060-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB070-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB080-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB100-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB110-11-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB130-9-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB131-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB140-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB160-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB170-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB200-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB210-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB220-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB230-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB240-7-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB270-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB280-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB281-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB290-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB300-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB330-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB360-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB370-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB380-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB381-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB390-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB430-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB460-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB540-9-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB550-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB560-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB600-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB610-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB620-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB630-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB640-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB650-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB690-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB700-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB710-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB711-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB720-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB750-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB760-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB770-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB790-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB780-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB800-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB810-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB820-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB830-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB840-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB850-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB860-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB870-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB880-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB890-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB900-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB910-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB920-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB930-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB940-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB950-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB960-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB970-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB981-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB982-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB980-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB983-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB984-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB985-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB986-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC010-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC036-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC040-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC050-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC070-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC080-10-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC100-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC110-10-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC130-8-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC140-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC150-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC160-7-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOD010-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOD020-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE010-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE030-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE050-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE080-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE090-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE100-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG100" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG101" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG102" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG103" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG200" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG201" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG202" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG300" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG400" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG401" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG402" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG500" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG600" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA060-6-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
