etax/19XMLスキーマ/shotoku/RKO0010-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
所得税申告
version:1.1 Date: 2004年08月26日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="KOA010-001.xsd"/>
<xsd:include schemaLocation="KOA020-001.xsd"/>
<xsd:include schemaLocation="KOA060-001.xsd"/>
<xsd:include schemaLocation="KOA050-001.xsd"/>
<xsd:include schemaLocation="KOA070-001.xsd"/>
<xsd:include schemaLocation="KOA080-001.xsd"/>
<xsd:include schemaLocation="KOA090-001.xsd"/>
<xsd:include schemaLocation="KOA110-001.xsd"/>
<xsd:include schemaLocation="KOA120-001.xsd"/>
<xsd:include schemaLocation="KOA130-001.xsd"/>
<xsd:include schemaLocation="KOA140-001.xsd"/>
<xsd:include schemaLocation="KOA210-001.xsd"/>
<xsd:include schemaLocation="KOA220-001.xsd"/>
<xsd:include schemaLocation="KOA230-001.xsd"/>
<xsd:include schemaLocation="KOA240-001.xsd"/>
<xsd:include schemaLocation="KOA250-001.xsd"/>
<xsd:include schemaLocation="KOB010-001.xsd"/>
<xsd:include schemaLocation="KOB020-001.xsd"/>
<xsd:include schemaLocation="KOB030-001.xsd"/>
<xsd:include schemaLocation="KOB040-001.xsd"/>
<xsd:include schemaLocation="KOB050-001.xsd"/>
<xsd:include schemaLocation="KOB060-001.xsd"/>
<xsd:include schemaLocation="KOB070-001.xsd"/>
<xsd:include schemaLocation="KOB080-001.xsd"/>
<xsd:include schemaLocation="KOB100-001.xsd"/>
<xsd:include schemaLocation="KOB110-001.xsd"/>
<xsd:include schemaLocation="KOB120-001.xsd"/>
<xsd:include schemaLocation="KOB140-001.xsd"/>
<xsd:include schemaLocation="KOB150-001.xsd"/>
<xsd:include schemaLocation="KOB160-001.xsd"/>
<xsd:include schemaLocation="KOB170-001.xsd"/>
<xsd:include schemaLocation="KOB180-001.xsd"/>
<xsd:include schemaLocation="KOB190-001.xsd"/>
<xsd:include schemaLocation="KOB200-001.xsd"/>
<xsd:include schemaLocation="KOB210-001.xsd"/>
<xsd:include schemaLocation="KOB220-001.xsd"/>
<xsd:include schemaLocation="KOB230-001.xsd"/>
<xsd:include schemaLocation="KOB240-001.xsd"/>
<xsd:include schemaLocation="KOB250-001.xsd"/>
<xsd:include schemaLocation="KOB260-001.xsd"/>
<xsd:include schemaLocation="KOB270-001.xsd"/>
<xsd:include schemaLocation="KOB280-001.xsd"/>
<xsd:include schemaLocation="KOB281-001.xsd"/>
<xsd:include schemaLocation="KOB290-001.xsd"/>
<xsd:include schemaLocation="KOB300-001.xsd"/>
<xsd:include schemaLocation="KOB320-001.xsd"/>
<xsd:include schemaLocation="KOB330-001.xsd"/>
<xsd:include schemaLocation="KOB360-001.xsd"/>
<xsd:include schemaLocation="KOB370-001.xsd"/>
<xsd:include schemaLocation="KOB380-001.xsd"/>
<xsd:include schemaLocation="KOB381-001.xsd"/>
<xsd:include schemaLocation="KOB390-001.xsd"/>
<xsd:include schemaLocation="KOB400-001.xsd"/>
<xsd:include schemaLocation="KOB401-001.xsd"/>
<xsd:include schemaLocation="KOB410-001.xsd"/>
<xsd:include schemaLocation="KOB420-001.xsd"/>
<xsd:include schemaLocation="KOB430-001.xsd"/>
<xsd:include schemaLocation="KOB440-001.xsd"/>
<xsd:include schemaLocation="KOB450-001.xsd"/>
<xsd:include schemaLocation="KOB460-001.xsd"/>
<xsd:include schemaLocation="KOB470-001.xsd"/>
<xsd:include schemaLocation="KOB480-001.xsd"/>
<xsd:include schemaLocation="KOB490-001.xsd"/>
<xsd:include schemaLocation="KOB540-001.xsd"/>
<xsd:include schemaLocation="KOB550-001.xsd"/>
<xsd:include schemaLocation="KOB560-001.xsd"/>
<xsd:include schemaLocation="KOB600-001.xsd"/>
<xsd:include schemaLocation="KOB610-001.xsd"/>
<xsd:include schemaLocation="KOB620-001.xsd"/>
<xsd:include schemaLocation="KOB630-001.xsd"/>
<xsd:include schemaLocation="KOB640-001.xsd"/>
<xsd:include schemaLocation="KOB650-001.xsd"/>
<xsd:include schemaLocation="KOB660-001.xsd"/>
<xsd:include schemaLocation="KOB680-001.xsd"/>
<xsd:include schemaLocation="KOC010-001.xsd"/>
<xsd:include schemaLocation="KOC020-001.xsd"/>
<xsd:include schemaLocation="KOC030-001.xsd"/>
<xsd:include schemaLocation="KOC040-001.xsd"/>
<xsd:include schemaLocation="KOC050-001.xsd"/>
<xsd:include schemaLocation="KOC060-001.xsd"/>
<xsd:include schemaLocation="KOC070-001.xsd"/>
<xsd:include schemaLocation="KOC080-001.xsd"/>
<xsd:include schemaLocation="KOC090-001.xsd"/>
<xsd:include schemaLocation="KOC100-001.xsd"/>
<xsd:include schemaLocation="KOC110-001.xsd"/>
<xsd:include schemaLocation="KOC130-001.xsd"/>
<xsd:include schemaLocation="KOD010-001.xsd"/>
<xsd:include schemaLocation="KOD020-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA060-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>

<!-- version -->
<xsd:simpleType name="RKO0010-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RKO0010"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RKO0010" type="RKO0010-1-1type"/>
<!-- XML-SIGNATURE -->
<xsd:any namespace="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RKO0010-1-1type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RKO0010-1-1contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RKO0010-1-1VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RKO0010-1-1contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:choice minOccurs="0">
<xsd:group ref="KOA010-1-1group" maxOccurs="1"/>
<xsd:group ref="KOA020-1-1group" maxOccurs="1"/>
<xsd:group ref="KOA060-1-0group" maxOccurs="unbounded"/>
</xsd:choice>
<xsd:group ref="KOA050-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA070-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA080-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA090-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA110-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA130-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA140-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA210-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA220-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA230-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA240-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA250-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB020-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB030-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB040-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB060-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB070-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB100-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB110-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB140-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB150-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB160-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB170-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB180-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB190-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB200-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB210-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB220-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB230-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB240-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB250-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB260-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB270-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB280-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB281-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB290-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB300-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB320-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB330-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB360-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB370-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB380-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB381-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB390-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB400-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB401-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB410-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB420-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB430-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB440-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB450-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB460-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB470-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB480-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB490-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB540-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB550-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB560-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB600-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB610-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB620-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB630-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB640-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB650-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB660-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB680-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC070-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC080-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC090-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC100-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC110-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC130-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOD010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOD020-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ040" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ050" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA060-1-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
