etax/19XMLスキーマ/shotoku/RKO0010-120.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
所得税申告
version:12.0.0 Date: 2012年10月01日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="KOA010-010.xsd"/>
<xsd:include schemaLocation="KOA020-010.xsd"/>
<xsd:include schemaLocation="KOA060-003.xsd"/>
<xsd:include schemaLocation="KOA050-008.xsd"/>
<xsd:include schemaLocation="KOA070-008.xsd"/>
<xsd:include schemaLocation="KOA080-003.xsd"/>
<xsd:include schemaLocation="KOA090-008.xsd"/>
<xsd:include schemaLocation="KOA110-006.xsd"/>
<xsd:include schemaLocation="KOA120-005.xsd"/>
<xsd:include schemaLocation="KOA130-005.xsd"/>
<xsd:include schemaLocation="KOA140-003.xsd"/>
<xsd:include schemaLocation="KOA210-006.xsd"/>
<xsd:include schemaLocation="KOA220-005.xsd"/>
<xsd:include schemaLocation="KOA230-005.xsd"/>
<xsd:include schemaLocation="KOA240-005.xsd"/>
<xsd:include schemaLocation="KOA250-003.xsd"/>
<xsd:include schemaLocation="KOB010-005.xsd"/>
<xsd:include schemaLocation="KOB040-008.xsd"/>
<xsd:include schemaLocation="KOB050-001.xsd"/>
<xsd:include schemaLocation="KOB060-003.xsd"/>
<xsd:include schemaLocation="KOB070-003.xsd"/>
<xsd:include schemaLocation="KOB080-010.xsd"/>
<xsd:include schemaLocation="KOB100-005.xsd"/>
<xsd:include schemaLocation="KOB110-010.xsd"/>
<xsd:include schemaLocation="KOB120-001.xsd"/>
<xsd:include schemaLocation="KOB130-008.xsd"/>
<xsd:include schemaLocation="KOB131-001.xsd"/>
<xsd:include schemaLocation="KOB140-003.xsd"/>
<xsd:include schemaLocation="KOB160-004.xsd"/>
<xsd:include schemaLocation="KOB170-002.xsd"/>
<xsd:include schemaLocation="KOB200-010.xsd"/>
<xsd:include schemaLocation="KOB210-001.xsd"/>
<xsd:include schemaLocation="KOB220-001.xsd"/>
<xsd:include schemaLocation="KOB230-003.xsd"/>
<xsd:include schemaLocation="KOB240-006.xsd"/>
<xsd:include schemaLocation="KOB270-003.xsd"/>
<xsd:include schemaLocation="KOB280-003.xsd"/>
<xsd:include schemaLocation="KOB281-001.xsd"/>
<xsd:include schemaLocation="KOB290-001.xsd"/>
<xsd:include schemaLocation="KOB300-002.xsd"/>
<xsd:include schemaLocation="KOB330-002.xsd"/>
<xsd:include schemaLocation="KOB360-005.xsd"/>
<xsd:include schemaLocation="KOB370-002.xsd"/>
<xsd:include schemaLocation="KOB380-006.xsd"/>
<xsd:include schemaLocation="KOB381-002.xsd"/>
<xsd:include schemaLocation="KOB390-002.xsd"/>
<xsd:include schemaLocation="KOB430-004.xsd"/>
<xsd:include schemaLocation="KOB440-003.xsd"/>
<xsd:include schemaLocation="KOB460-005.xsd"/>
<xsd:include schemaLocation="KOB540-008.xsd"/>
<xsd:include schemaLocation="KOB550-007.xsd"/>
<xsd:include schemaLocation="KOB560-008.xsd"/>
<xsd:include schemaLocation="KOB600-003.xsd"/>
<xsd:include schemaLocation="KOB610-002.xsd"/>
<xsd:include schemaLocation="KOB620-002.xsd"/>
<xsd:include schemaLocation="KOB630-002.xsd"/>
<xsd:include schemaLocation="KOB640-002.xsd"/>
<xsd:include schemaLocation="KOB650-002.xsd"/>
<xsd:include schemaLocation="KOB690-002.xsd"/>
<xsd:include schemaLocation="KOB700-004.xsd"/>
<xsd:include schemaLocation="KOB710-005.xsd"/>
<xsd:include schemaLocation="KOB711-002.xsd"/>
<xsd:include schemaLocation="KOB720-002.xsd"/>
<xsd:include schemaLocation="KOB750-005.xsd"/>
<xsd:include schemaLocation="KOB760-005.xsd"/>
<xsd:include schemaLocation="KOB770-003.xsd"/>
<xsd:include schemaLocation="KOB790-005.xsd"/>
<xsd:include schemaLocation="KOB780-002.xsd"/>
<xsd:include schemaLocation="KOB800-002.xsd"/>
<xsd:include schemaLocation="KOB810-001.xsd"/>
<xsd:include schemaLocation="KOB820-003.xsd"/>
<xsd:include schemaLocation="KOB830-004.xsd"/>
<xsd:include schemaLocation="KOB840-001.xsd"/>
<xsd:include schemaLocation="KOB850-003.xsd"/>
<xsd:include schemaLocation="KOB860-003.xsd"/>
<xsd:include schemaLocation="KOB870-002.xsd"/>
<xsd:include schemaLocation="KOB880-002.xsd"/>
<xsd:include schemaLocation="KOB890-001.xsd"/>
<xsd:include schemaLocation="KOB900-001.xsd"/>
<xsd:include schemaLocation="KOB910-002.xsd"/>
<xsd:include schemaLocation="KOB920-002.xsd"/>
<xsd:include schemaLocation="KOB930-002.xsd"/>
<xsd:include schemaLocation="KOB940-002.xsd"/>
<xsd:include schemaLocation="KOB950-002.xsd"/>
<xsd:include schemaLocation="KOB960-001.xsd"/>
<xsd:include schemaLocation="KOB970-002.xsd"/>
<xsd:include schemaLocation="KOB981-001.xsd"/>
<xsd:include schemaLocation="KOB982-001.xsd"/>
<xsd:include schemaLocation="KOB980-001.xsd"/>
<xsd:include schemaLocation="KOB983-001.xsd"/>
<xsd:include schemaLocation="KOB984-001.xsd"/>
<xsd:include schemaLocation="KOC010-005.xsd"/>
<xsd:include schemaLocation="KOC020-004.xsd"/>
<xsd:include schemaLocation="KOC030-005.xsd"/>
<xsd:include schemaLocation="KOC036-002.xsd"/>
<xsd:include schemaLocation="KOC040-007.xsd"/>
<xsd:include schemaLocation="KOC050-009.xsd"/>
<xsd:include schemaLocation="KOC060-002.xsd"/>
<xsd:include schemaLocation="KOC070-004.xsd"/>
<xsd:include schemaLocation="KOC080-009.xsd"/>
<xsd:include schemaLocation="KOC090-002.xsd"/>
<xsd:include schemaLocation="KOC100-005.xsd"/>
<xsd:include schemaLocation="KOC110-009.xsd"/>
<xsd:include schemaLocation="KOC130-007.xsd"/>
<xsd:include schemaLocation="KOC140-003.xsd"/>
<xsd:include schemaLocation="KOC150-003.xsd"/>
<xsd:include schemaLocation="KOC160-006.xsd"/>
<xsd:include schemaLocation="KOD010-005.xsd"/>
<xsd:include schemaLocation="KOD020-005.xsd"/>
<xsd:include schemaLocation="KOE010-004.xsd"/>
<xsd:include schemaLocation="KOE020-001.xsd"/>
<xsd:include schemaLocation="KOE030-004.xsd"/>
<xsd:include schemaLocation="KOE040-002.xsd"/>
<xsd:include schemaLocation="KOE050-003.xsd"/>
<xsd:include schemaLocation="KOE060-001.xsd"/>
<xsd:include schemaLocation="KOE070-004.xsd"/>
<xsd:include schemaLocation="KOE080-003.xsd"/>
<xsd:include schemaLocation="KOE090-002.xsd"/>
<xsd:include schemaLocation="KOE100-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/RKO0010a-120.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RKO0010-120-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="12.0.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RKO0010"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RKO0010" type="RKO0010-120-0type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RKO0010-120-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RKO0010-120-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RKO0010-120-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RKO0010-120-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:choice minOccurs="0">
<xsd:group ref="KOA010-10-0group" maxOccurs="1"/>
<xsd:group ref="KOA020-10-0group" maxOccurs="1"/>
<xsd:group ref="KOA060-3-0group" maxOccurs="unbounded"/>
</xsd:choice>
<xsd:group ref="KOA050-8-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA070-8-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA080-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA090-8-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA110-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA120-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA130-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA140-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA210-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA220-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA230-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA240-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA250-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB010-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB040-8-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB060-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB070-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB080-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB100-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB110-10-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB130-8-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB131-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB140-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB160-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB170-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB200-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB210-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB220-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB230-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB240-6-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB270-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB280-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB281-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB290-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB300-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB330-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB360-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB370-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB380-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB381-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB390-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB430-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB440-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB460-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB540-8-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB550-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB560-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB600-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB610-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB620-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB630-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB640-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB650-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB690-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB700-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB710-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB711-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB720-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB750-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB760-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB770-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB790-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB780-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB800-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB810-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB820-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB830-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB840-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB850-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB860-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB870-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB880-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB890-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB900-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB910-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB920-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB930-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB940-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB950-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB960-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB970-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB981-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB982-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB980-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB983-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB984-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC010-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC030-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC036-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC040-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC050-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC080-9-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC100-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC110-9-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC130-7-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC140-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC150-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC160-6-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOD010-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOD020-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE030-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE040-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE050-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE070-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE080-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE100-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG100" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG101" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG102" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG103" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG200" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG201" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG202" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG300" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG400" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG401" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG500" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG600" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA060-5-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
