etax/19XMLスキーマ/shotoku/RKO0010-200.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
所得税及び復興特別所得税申告
version:20.0.1 Date: 2022年09月01日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/TEG910a-001.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="KOA010-018.xsd"/>
<xsd:include schemaLocation="KOA020-018.xsd"/>
<xsd:include schemaLocation="KOA060-006.xsd"/>
<xsd:include schemaLocation="KOA050-013.xsd"/>
<xsd:include schemaLocation="KOA055-004.xsd"/>
<xsd:include schemaLocation="KOA070-012.xsd"/>
<xsd:include schemaLocation="KOA080-004.xsd"/>
<xsd:include schemaLocation="KOA090-013.xsd"/>
<xsd:include schemaLocation="KOA110-010.xsd"/>
<xsd:include schemaLocation="KOA120-009.xsd"/>
<xsd:include schemaLocation="KOA130-009.xsd"/>
<xsd:include schemaLocation="KOA140-005.xsd"/>
<xsd:include schemaLocation="KOA210-009.xsd"/>
<xsd:include schemaLocation="KOA220-008.xsd"/>
<xsd:include schemaLocation="KOA230-008.xsd"/>
<xsd:include schemaLocation="KOA240-008.xsd"/>
<xsd:include schemaLocation="KOA250-005.xsd"/>
<xsd:include schemaLocation="KOB010-008.xsd"/>
<xsd:include schemaLocation="KOB040-014.xsd"/>
<xsd:include schemaLocation="KOB060-005.xsd"/>
<xsd:include schemaLocation="KOB070-007.xsd"/>
<xsd:include schemaLocation="KOB080-018.xsd"/>
<xsd:include schemaLocation="KOB100-006.xsd"/>
<xsd:include schemaLocation="KOB110-018.xsd"/>
<xsd:include schemaLocation="KOB120-001.xsd"/>
<xsd:include schemaLocation="KOB130-016.xsd"/>
<xsd:include schemaLocation="KOB131-009.xsd"/>
<xsd:include schemaLocation="KOB140-004.xsd"/>
<xsd:include schemaLocation="KOB200-014.xsd"/>
<xsd:include schemaLocation="KOB210-002.xsd"/>
<xsd:include schemaLocation="KOB220-001.xsd"/>
<xsd:include schemaLocation="KOB230-003.xsd"/>
<xsd:include schemaLocation="KOB240-013.xsd"/>
<xsd:include schemaLocation="KOB245-004.xsd"/>
<xsd:include schemaLocation="KOB270-003.xsd"/>
<xsd:include schemaLocation="KOB280-007.xsd"/>
<xsd:include schemaLocation="KOB300-003.xsd"/>
<xsd:include schemaLocation="KOB330-004.xsd"/>
<xsd:include schemaLocation="KOB360-006.xsd"/>
<xsd:include schemaLocation="KOB405-001.xsd"/>
<xsd:include schemaLocation="KOB430-004.xsd"/>
<xsd:include schemaLocation="KOB435-003.xsd"/>
<xsd:include schemaLocation="KOB440-004.xsd"/>
<xsd:include schemaLocation="KOB460-005.xsd"/>
<xsd:include schemaLocation="KOB540-016.xsd"/>
<xsd:include schemaLocation="KOB550-011.xsd"/>
<xsd:include schemaLocation="KOB560-013.xsd"/>
<xsd:include schemaLocation="KOB565-013.xsd"/>
<xsd:include schemaLocation="KOB570-004.xsd"/>
<xsd:include schemaLocation="KOB575-004.xsd"/>
<xsd:include schemaLocation="KOB650-003.xsd"/>
<xsd:include schemaLocation="KOB690-002.xsd"/>
<xsd:include schemaLocation="KOB750-008.xsd"/>
<xsd:include schemaLocation="KOB760-009.xsd"/>
<xsd:include schemaLocation="KOB770-004.xsd"/>
<xsd:include schemaLocation="KOB790-008.xsd"/>
<xsd:include schemaLocation="KOB780-002.xsd"/>
<xsd:include schemaLocation="KOB800-005.xsd"/>
<xsd:include schemaLocation="KOB810-002.xsd"/>
<xsd:include schemaLocation="KOB976-001.xsd"/>
<xsd:include schemaLocation="KOB815-002.xsd"/>
<xsd:include schemaLocation="KOB827-002.xsd"/>
<xsd:include schemaLocation="KOB835-004.xsd"/>
<xsd:include schemaLocation="KOB840-002.xsd"/>
<xsd:include schemaLocation="KOB850-011.xsd"/>
<xsd:include schemaLocation="KOB870-002.xsd"/>
<xsd:include schemaLocation="KOB880-004.xsd"/>
<xsd:include schemaLocation="KOB890-002.xsd"/>
<xsd:include schemaLocation="KOB900-002.xsd"/>
<xsd:include schemaLocation="KOB920-006.xsd"/>
<xsd:include schemaLocation="KOB930-006.xsd"/>
<xsd:include schemaLocation="KOB940-002.xsd"/>
<xsd:include schemaLocation="KOB950-003.xsd"/>
<xsd:include schemaLocation="KOB960-002.xsd"/>
<xsd:include schemaLocation="KOB961-001.xsd"/>
<xsd:include schemaLocation="KOB981-002.xsd"/>
<xsd:include schemaLocation="KOB982-001.xsd"/>
<xsd:include schemaLocation="KOB980-008.xsd"/>
<xsd:include schemaLocation="KOB983-004.xsd"/>
<xsd:include schemaLocation="KOB984-005.xsd"/>
<xsd:include schemaLocation="KOB997-001.xsd"/>
<xsd:include schemaLocation="KOB998-001.xsd"/>
<xsd:include schemaLocation="KOB985-004.xsd"/>
<xsd:include schemaLocation="KOB995-001.xsd"/>
<xsd:include schemaLocation="KOB996-003.xsd"/>
<xsd:include schemaLocation="KOB986-001.xsd"/>
<xsd:include schemaLocation="KOC010-008.xsd"/>
<xsd:include schemaLocation="KOC020-007.xsd"/>
<xsd:include schemaLocation="KOC036-005.xsd"/>
<xsd:include schemaLocation="KOC038-001.xsd"/>
<xsd:include schemaLocation="KOC040-010.xsd"/>
<xsd:include schemaLocation="KOC050-014.xsd"/>
<xsd:include schemaLocation="KOC210-003.xsd"/>
<xsd:include schemaLocation="KOC220-001.xsd"/>
<xsd:include schemaLocation="KOC070-007.xsd"/>
<xsd:include schemaLocation="KOC080-014.xsd"/>
<xsd:include schemaLocation="KOC090-002.xsd"/>
<xsd:include schemaLocation="KOC100-007.xsd"/>
<xsd:include schemaLocation="KOC110-015.xsd"/>
<xsd:include schemaLocation="KOB988-001.xsd"/>
<xsd:include schemaLocation="KOB989-001.xsd"/>
<xsd:include schemaLocation="KOB977-002.xsd"/>
<xsd:include schemaLocation="KOB978-001.xsd"/>
<xsd:include schemaLocation="KOB979-001.xsd"/>
<xsd:include schemaLocation="KOB993-005.xsd"/>
<xsd:include schemaLocation="KOB999-001.xsd"/>
<xsd:include schemaLocation="KOB994-001.xsd"/>
<xsd:include schemaLocation="KOB974-001.xsd"/>
<xsd:include schemaLocation="KOB975-001.xsd"/>
<xsd:include schemaLocation="KOB670-001.xsd"/>
<xsd:include schemaLocation="KOC130-010.xsd"/>
<xsd:include schemaLocation="KOC140-008.xsd"/>
<xsd:include schemaLocation="KOC150-006.xsd"/>
<xsd:include schemaLocation="KOC160-008.xsd"/>
<xsd:include schemaLocation="KOC180-005.xsd"/>
<xsd:include schemaLocation="KOC190-004.xsd"/>
<xsd:include schemaLocation="KOC230-001.xsd"/>
<xsd:include schemaLocation="KOC200-004.xsd"/>
<xsd:include schemaLocation="KOD010-006.xsd"/>
<xsd:include schemaLocation="KOD020-006.xsd"/>
<xsd:include schemaLocation="KOE040-003.xsd"/>
<xsd:include schemaLocation="KOE050-004.xsd"/>
<xsd:include schemaLocation="KOE060-001.xsd"/>
<xsd:include schemaLocation="KOE070-005.xsd"/>
<xsd:include schemaLocation="KOE080-003.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/RKO0010a-200.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RKO0010-200-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="20.0.0"/><xsd:enumeration value="20.0.1"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RKO0010"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RKO0010" type="RKO0010-200-1type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RKO0010-200-1type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RKO0010-200-1contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RKO0010-200-1VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RKO0010-200-1contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:choice minOccurs="0">
<xsd:group ref="KOA010-18-0group" maxOccurs="1"/>
<xsd:group ref="KOA020-18-0group" maxOccurs="1"/>
<xsd:group ref="KOA060-6-0group" maxOccurs="unbounded"/>
</xsd:choice>
<xsd:group ref="KOA050-13-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA055-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA070-12-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA080-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA090-13-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA110-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA120-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA130-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA140-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA210-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA220-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA230-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA240-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA250-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB010-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB040-14-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB060-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB070-7-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB080-18-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB100-6-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB110-18-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB130-16-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB131-9-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB140-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB200-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB210-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB220-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB230-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB240-13-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB245-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB270-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB280-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB300-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB330-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB360-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB405-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB430-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB435-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB440-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB460-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB540-16-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB550-11-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB560-13-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB565-13-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB570-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB575-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB650-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB690-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB750-8-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB760-9-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB770-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB790-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB780-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB800-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB810-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB976-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB815-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB827-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB835-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB840-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB850-11-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB870-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB880-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB890-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB900-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB920-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB930-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB940-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB950-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB960-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB961-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB981-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB982-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB980-8-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB983-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB984-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB997-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB998-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB985-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB995-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB996-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB986-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC010-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC020-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC036-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC038-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC040-10-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC050-14-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC210-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC220-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC070-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC080-14-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC100-7-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC110-15-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB988-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB989-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB977-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB978-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB979-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB993-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB999-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB994-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB974-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB975-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB670-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC130-10-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC140-8-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC150-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC160-8-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC180-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC190-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC230-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC200-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOD010-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOD020-6-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE050-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE070-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE080-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="kyo:TEZ310-8-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ041" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ051" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG101" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG102" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG103" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG104" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG105" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG106" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG202" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG203" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG204" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG300" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG400" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG401" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG402" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG403" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG404" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG405" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG406" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG500" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG501" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG600" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG601" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG700" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG800" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG810" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG820" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG821" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG900" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG910" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ072" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA060-12-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
