etax/19XMLスキーマ/shotoku/RKO0010-050.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
所得税申告
version:5.0.0 Date: 2005年09月09日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="KOA010-003.xsd"/>
<xsd:include schemaLocation="KOA020-003.xsd"/>
<xsd:include schemaLocation="KOA060-002.xsd"/>
<xsd:include schemaLocation="KOA050-003.xsd"/>
<xsd:include schemaLocation="KOA070-002.xsd"/>
<xsd:include schemaLocation="KOA080-002.xsd"/>
<xsd:include schemaLocation="KOA090-002.xsd"/>
<xsd:include schemaLocation="KOA110-003.xsd"/>
<xsd:include schemaLocation="KOA120-003.xsd"/>
<xsd:include schemaLocation="KOA130-003.xsd"/>
<xsd:include schemaLocation="KOA140-002.xsd"/>
<xsd:include schemaLocation="KOA210-003.xsd"/>
<xsd:include schemaLocation="KOA220-003.xsd"/>
<xsd:include schemaLocation="KOA230-002.xsd"/>
<xsd:include schemaLocation="KOA240-003.xsd"/>
<xsd:include schemaLocation="KOA250-002.xsd"/>
<xsd:include schemaLocation="KOB010-001.xsd"/>
<xsd:include schemaLocation="KOB020-002.xsd"/>
<xsd:include schemaLocation="KOB040-002.xsd"/>
<xsd:include schemaLocation="KOB050-001.xsd"/>
<xsd:include schemaLocation="KOB060-002.xsd"/>
<xsd:include schemaLocation="KOB070-001.xsd"/>
<xsd:include schemaLocation="KOB080-003.xsd"/>
<xsd:include schemaLocation="KOB100-002.xsd"/>
<xsd:include schemaLocation="KOB110-003.xsd"/>
<xsd:include schemaLocation="KOB120-001.xsd"/>
<xsd:include schemaLocation="KOB130-001.xsd"/>
<xsd:include schemaLocation="KOB140-001.xsd"/>
<xsd:include schemaLocation="KOB150-002.xsd"/>
<xsd:include schemaLocation="KOB160-002.xsd"/>
<xsd:include schemaLocation="KOB170-002.xsd"/>
<xsd:include schemaLocation="KOB200-003.xsd"/>
<xsd:include schemaLocation="KOB210-001.xsd"/>
<xsd:include schemaLocation="KOB220-001.xsd"/>
<xsd:include schemaLocation="KOB230-003.xsd"/>
<xsd:include schemaLocation="KOB240-003.xsd"/>
<xsd:include schemaLocation="KOB260-001.xsd"/>
<xsd:include schemaLocation="KOB270-002.xsd"/>
<xsd:include schemaLocation="KOB280-001.xsd"/>
<xsd:include schemaLocation="KOB281-001.xsd"/>
<xsd:include schemaLocation="KOB290-001.xsd"/>
<xsd:include schemaLocation="KOB300-002.xsd"/>
<xsd:include schemaLocation="KOB330-001.xsd"/>
<xsd:include schemaLocation="KOB360-002.xsd"/>
<xsd:include schemaLocation="KOB370-002.xsd"/>
<xsd:include schemaLocation="KOB380-001.xsd"/>
<xsd:include schemaLocation="KOB381-001.xsd"/>
<xsd:include schemaLocation="KOB390-001.xsd"/>
<xsd:include schemaLocation="KOB430-002.xsd"/>
<xsd:include schemaLocation="KOB440-001.xsd"/>
<xsd:include schemaLocation="KOB450-001.xsd"/>
<xsd:include schemaLocation="KOB460-002.xsd"/>
<xsd:include schemaLocation="KOB470-001.xsd"/>
<xsd:include schemaLocation="KOB480-002.xsd"/>
<xsd:include schemaLocation="KOB490-002.xsd"/>
<xsd:include schemaLocation="KOB540-001.xsd"/>
<xsd:include schemaLocation="KOB550-001.xsd"/>
<xsd:include schemaLocation="KOB560-002.xsd"/>
<xsd:include schemaLocation="KOB600-001.xsd"/>
<xsd:include schemaLocation="KOB610-002.xsd"/>
<xsd:include schemaLocation="KOB620-002.xsd"/>
<xsd:include schemaLocation="KOB630-002.xsd"/>
<xsd:include schemaLocation="KOB640-002.xsd"/>
<xsd:include schemaLocation="KOB650-002.xsd"/>
<xsd:include schemaLocation="KOB660-001.xsd"/>
<xsd:include schemaLocation="KOB680-002.xsd"/>
<xsd:include schemaLocation="KOC010-003.xsd"/>
<xsd:include schemaLocation="KOC020-003.xsd"/>
<xsd:include schemaLocation="KOC035-001.xsd"/>
<xsd:include schemaLocation="KOC030-003.xsd"/>
<xsd:include schemaLocation="KOC040-003.xsd"/>
<xsd:include schemaLocation="KOC050-003.xsd"/>
<xsd:include schemaLocation="KOC060-002.xsd"/>
<xsd:include schemaLocation="KOC070-003.xsd"/>
<xsd:include schemaLocation="KOC080-003.xsd"/>
<xsd:include schemaLocation="KOC090-002.xsd"/>
<xsd:include schemaLocation="KOC100-002.xsd"/>
<xsd:include schemaLocation="KOC110-003.xsd"/>
<xsd:include schemaLocation="KOC130-003.xsd"/>
<xsd:include schemaLocation="KOC140-001.xsd"/>
<xsd:include schemaLocation="KOC150-002.xsd"/>
<xsd:include schemaLocation="KOC160-002.xsd"/>
<xsd:include schemaLocation="KOC170-001.xsd"/>
<xsd:include schemaLocation="KOD010-003.xsd"/>
<xsd:include schemaLocation="KOD020-003.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/TEA060-002.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>

<!-- version -->
<xsd:simpleType name="RKO0010-50-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0.0"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RKO0010"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RKO0010" type="RKO0010-50-0type"/>
<!-- XML-SIGNATURE -->
<xsd:any namespace="http://www.w3.org/2000/09/xmldsig#" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RKO0010-50-0type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RKO0010-50-0contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RKO0010-50-0VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RKO0010-50-0contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:choice minOccurs="0">
<xsd:group ref="KOA010-3-0group" maxOccurs="1"/>
<xsd:group ref="KOA020-3-0group" maxOccurs="1"/>
<xsd:group ref="KOA060-2-0group" maxOccurs="unbounded"/>
</xsd:choice>
<xsd:group ref="KOA050-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA070-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA080-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA090-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA110-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA120-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA130-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA140-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA210-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA220-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA230-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA240-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA250-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB020-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB040-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB070-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB080-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB100-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB110-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB130-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB140-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB150-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB160-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB170-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB200-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB210-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB220-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB230-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB240-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB260-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB270-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB280-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB281-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB290-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB300-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB330-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB360-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB370-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB380-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB381-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB390-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB430-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB440-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB450-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB460-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB470-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB480-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB490-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB540-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB550-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB560-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB600-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB610-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB620-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB630-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB640-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB650-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB660-1-1group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB680-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC010-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC020-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC035-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC030-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC040-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC050-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC070-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC080-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC100-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC110-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC130-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC140-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC150-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC160-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC170-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOD010-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOD020-3-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ040" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ050" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA060-2-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
