etax/19XMLスキーマ/shotoku/RKO0010-070.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns="http://xml.e-tax.nta.go.jp/XSD/shotoku"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:som="http://xml.e-tax.nta.go.jp/XSD/somu"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 version="1.0" > 

<xsd:annotation>
<xsd:documentation>
所得税申告
version:7.0.1 Date: 2011年08月26日
</xsd:documentation>
</xsd:annotation>

<!-- import and include-->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/ITdefinition.xsd"/>
<xsd:include schemaLocation="../general/CATALOG.xsd"/>
<xsd:include schemaLocation="KOA010-005.xsd"/>
<xsd:include schemaLocation="KOA020-005.xsd"/>
<xsd:include schemaLocation="KOA060-002.xsd"/>
<xsd:include schemaLocation="KOA050-005.xsd"/>
<xsd:include schemaLocation="KOA070-004.xsd"/>
<xsd:include schemaLocation="KOA080-002.xsd"/>
<xsd:include schemaLocation="KOA090-004.xsd"/>
<xsd:include schemaLocation="KOA110-005.xsd"/>
<xsd:include schemaLocation="KOA120-005.xsd"/>
<xsd:include schemaLocation="KOA130-005.xsd"/>
<xsd:include schemaLocation="KOA140-002.xsd"/>
<xsd:include schemaLocation="KOA210-005.xsd"/>
<xsd:include schemaLocation="KOA220-005.xsd"/>
<xsd:include schemaLocation="KOA230-004.xsd"/>
<xsd:include schemaLocation="KOA240-005.xsd"/>
<xsd:include schemaLocation="KOA250-002.xsd"/>
<xsd:include schemaLocation="KOB010-003.xsd"/>
<xsd:include schemaLocation="KOB040-004.xsd"/>
<xsd:include schemaLocation="KOB050-001.xsd"/>
<xsd:include schemaLocation="KOB060-003.xsd"/>
<xsd:include schemaLocation="KOB070-002.xsd"/>
<xsd:include schemaLocation="KOB080-005.xsd"/>
<xsd:include schemaLocation="KOB100-003.xsd"/>
<xsd:include schemaLocation="KOB110-005.xsd"/>
<xsd:include schemaLocation="KOB120-001.xsd"/>
<xsd:include schemaLocation="KOB130-003.xsd"/>
<xsd:include schemaLocation="KOB140-001.xsd"/>
<xsd:include schemaLocation="KOB160-003.xsd"/>
<xsd:include schemaLocation="KOB170-002.xsd"/>
<xsd:include schemaLocation="KOB200-005.xsd"/>
<xsd:include schemaLocation="KOB210-001.xsd"/>
<xsd:include schemaLocation="KOB220-001.xsd"/>
<xsd:include schemaLocation="KOB230-003.xsd"/>
<xsd:include schemaLocation="KOB240-005.xsd"/>
<xsd:include schemaLocation="KOB270-003.xsd"/>
<xsd:include schemaLocation="KOB280-001.xsd"/>
<xsd:include schemaLocation="KOB281-001.xsd"/>
<xsd:include schemaLocation="KOB290-001.xsd"/>
<xsd:include schemaLocation="KOB300-002.xsd"/>
<xsd:include schemaLocation="KOB330-001.xsd"/>
<xsd:include schemaLocation="KOB360-004.xsd"/>
<xsd:include schemaLocation="KOB370-002.xsd"/>
<xsd:include schemaLocation="KOB380-002.xsd"/>
<xsd:include schemaLocation="KOB381-002.xsd"/>
<xsd:include schemaLocation="KOB390-002.xsd"/>
<xsd:include schemaLocation="KOB430-002.xsd"/>
<xsd:include schemaLocation="KOB440-002.xsd"/>
<xsd:include schemaLocation="KOB450-001.xsd"/>
<xsd:include schemaLocation="KOB460-004.xsd"/>
<xsd:include schemaLocation="KOB540-003.xsd"/>
<xsd:include schemaLocation="KOB550-003.xsd"/>
<xsd:include schemaLocation="KOB560-004.xsd"/>
<xsd:include schemaLocation="KOB600-001.xsd"/>
<xsd:include schemaLocation="KOB610-002.xsd"/>
<xsd:include schemaLocation="KOB620-002.xsd"/>
<xsd:include schemaLocation="KOB630-002.xsd"/>
<xsd:include schemaLocation="KOB640-002.xsd"/>
<xsd:include schemaLocation="KOB650-002.xsd"/>
<xsd:include schemaLocation="KOB660-002.xsd"/>
<xsd:include schemaLocation="KOB680-002.xsd"/>
<xsd:include schemaLocation="KOB690-001.xsd"/>
<xsd:include schemaLocation="KOB700-001.xsd"/>
<xsd:include schemaLocation="KOB710-001.xsd"/>
<xsd:include schemaLocation="KOB711-001.xsd"/>
<xsd:include schemaLocation="KOB720-001.xsd"/>
<xsd:include schemaLocation="KOB730-001.xsd"/>
<xsd:include schemaLocation="KOB740-001.xsd"/>
<xsd:include schemaLocation="KOB750-001.xsd"/>
<xsd:include schemaLocation="KOB760-001.xsd"/>
<xsd:include schemaLocation="KOB770-001.xsd"/>
<xsd:include schemaLocation="KOC010-004.xsd"/>
<xsd:include schemaLocation="KOC020-003.xsd"/>
<xsd:include schemaLocation="KOC035-001.xsd"/>
<xsd:include schemaLocation="KOC030-004.xsd"/>
<xsd:include schemaLocation="KOC036-001.xsd"/>
<xsd:include schemaLocation="KOC040-005.xsd"/>
<xsd:include schemaLocation="KOC050-005.xsd"/>
<xsd:include schemaLocation="KOC060-002.xsd"/>
<xsd:include schemaLocation="KOC070-003.xsd"/>
<xsd:include schemaLocation="KOC080-005.xsd"/>
<xsd:include schemaLocation="KOC090-002.xsd"/>
<xsd:include schemaLocation="KOC100-002.xsd"/>
<xsd:include schemaLocation="KOC110-005.xsd"/>
<xsd:include schemaLocation="KOC130-005.xsd"/>
<xsd:include schemaLocation="KOC140-001.xsd"/>
<xsd:include schemaLocation="KOC150-002.xsd"/>
<xsd:include schemaLocation="KOC160-004.xsd"/>
<xsd:include schemaLocation="KOC170-003.xsd"/>
<xsd:include schemaLocation="KOD010-004.xsd"/>
<xsd:include schemaLocation="KOD020-004.xsd"/>
<xsd:include schemaLocation="KOE010-001.xsd"/>
<xsd:include schemaLocation="KOE020-001.xsd"/>
<xsd:include schemaLocation="KOE030-001.xsd"/>
<xsd:include schemaLocation="KOE040-001.xsd"/>
<xsd:include schemaLocation="KOE050-001.xsd"/>
<xsd:include schemaLocation="KOE060-001.xsd"/>
<xsd:include schemaLocation="KOE070-001.xsd"/>
<xsd:include schemaLocation="KOE080-001.xsd"/>
<xsd:include schemaLocation="KOE090-001.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu" schemaLocation="../kyotsu/RKO0010a-070.xsd"/>
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/somu" schemaLocation="../somu/SOZ-001.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="RKO0010-70-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0.0"/><xsd:enumeration value="7.0.1"/></xsd:restriction></xsd:simpleType>

<xsd:complexType name="TETSUZUKItype">
<xsd:complexContent>
<xsd:restriction base="gen:procedure">
<xsd:sequence>
<xsd:element name="procedure_CD">
<xsd:simpleType>
<xsd:restriction base="gen:procedure_CD">
<xsd:enumeration value="RKO0010"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="procedure_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SHINKOKU_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="KEISANSHO_KBNtype">
<xsd:complexContent>
<xsd:restriction base="gen:kubun2">
<xsd:sequence>
<xsd:element name="kubun_CD">
<xsd:simpleType>
<xsd:restriction base="xsd:nonNegativeInteger">
<xsd:pattern value="\d?\d"/>
</xsd:restriction></xsd:simpleType>
</xsd:element>
<xsd:element name="kubun_NM" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="gen:str">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>

<!-- Root Element Definition --><xsd:element name="DATA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RKO0010" type="RKO0010-70-1type"/>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/></xsd:complexType>
</xsd:element>
<!-- Procedure Definition -->
<xsd:complexType name="RKO0010-70-1type">
<xsd:sequence>
<xsd:element name="CATALOG" type="CATALOGtype">
<xsd:annotation>
<xsd:appinfo>管理部</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CONTENTS" type="RKO0010-70-1contentsType">
<xsd:annotation>
<xsd:appinfo>内容部分</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/><xsd:attribute name="VR" type="RKO0010-70-1VRtype" use="required"/>
</xsd:complexType>
<xsd:complexType name="RKO0010-70-1contentsType"><xsd:sequence>
<!-- IT部-->
<xsd:element name="IT" type="ITtype"/>
<!-- 帳票個別部分 -->
<xsd:choice minOccurs="0">
<xsd:group ref="KOA010-5-0group" maxOccurs="1"/>
<xsd:group ref="KOA020-5-0group" maxOccurs="1"/>
<xsd:group ref="KOA060-2-0group" maxOccurs="unbounded"/>
</xsd:choice>
<xsd:group ref="KOA050-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA070-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA080-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA090-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA110-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA120-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA130-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA140-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOA210-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA220-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA230-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA240-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOA250-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB010-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB040-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB060-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB070-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB080-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB100-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB110-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB120-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB130-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB140-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB160-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB170-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB200-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB210-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB220-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB230-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB240-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB270-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB280-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB281-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB290-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB300-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB330-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB360-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB370-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB380-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB381-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB390-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB430-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB440-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB450-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB460-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB540-3-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB550-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB560-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB600-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB610-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB620-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB630-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB640-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB650-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB660-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB680-2-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB690-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB700-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB710-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB711-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB720-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOB730-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB740-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB750-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB760-1-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOB770-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC020-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC035-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC030-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC036-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC040-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC050-5-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC060-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC070-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC080-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC090-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC100-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC110-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC130-5-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC140-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC150-2-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOC160-4-0group" minOccurs="0" maxOccurs="1"/>
<xsd:group ref="KOC170-3-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOD010-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOD020-4-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE010-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE020-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE030-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE040-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE050-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE060-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE070-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE080-1-0group" minOccurs="0" maxOccurs="unbounded"/>
<xsd:group ref="KOE090-1-0group" minOccurs="0" maxOccurs="unbounded"/>

<xsd:element name="TENPU" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="som:SOZ040" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ050" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG100" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG101" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG200" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG201" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG300" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="kyo:TEG400" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="som:SOZ070" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
</xsd:element>


<!-- 送付書 -->
<xsd:group ref="kyo:TEA060-4-0group" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>


</xsd:complexType>
</xsd:schema>
