etax/19XMLスキーマ/kokusai/AIA410-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kokusai"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kokusai"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：非居住者に係る金融口座情報の報告書(登録情報)
version：1.0
Date：2017年09月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="AIA410-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="AIA410-1-0group">
<xsd:sequence>
<xsd:element name="AIA410">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CRA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRB00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報告対象年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRC00010" type="CRC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRD00010" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRE00010" type="CRE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"GIIN"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRF00010" type="CRF00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報告口座件数"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CRG00010" type="CRG00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"報告金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRH00010" type="CRH00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連絡先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="CRI00010" type="CRI00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他参考となるべき事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="AIA410-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CRG00010-1-0type">
<xsd:sequence>

<xsd:element name="CRG00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRG00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は本店等所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRG00040" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所轄税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRG00050" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CRH00010-1-0type">
<xsd:sequence>

<xsd:element name="CRH00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRH00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は本店等所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRH00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"担当者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRH00050" type="CRH00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所属部署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRH00060" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CRC00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CRE00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="19"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CRF00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CRH00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CRI00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CRF00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="CRF00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
