etax/19XMLスキーマ/kokusai/AIA520-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kokusai"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kokusai"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特定多国籍企業グループ等報告事項等
version：1.0
Date：2024年12月24日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="AIA520-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="AIA520-1-0group">
<xsd:sequence>
<xsd:element name="AIA520">
<xsd:complexType>
<xsd:sequence maxOccurs="unbounded">
<xsd:any processContents="lax"/>
</xsd:sequence>
<xsd:attribute name="VR"
type="AIA520-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

</xsd:schema>
