etax/19XMLスキーマ/kyotsu/TEF020-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：添付書類
version：1.0
Date：2022年08月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEF020-1-0VRtype">
	<xsd:restriction base="xsd:string">
	<xsd:enumeration value="1.0"/>
	</xsd:restriction>
</xsd:simpleType>
<!-- Root Element Definition -->
<xsd:element name="TEF020" type="TEF020-1-0type"/>

<xsd:complexType name="TEF020-1-0type">
<xsd:simpleContent>
	<xsd:extension base="xsd:string">
		<xsd:attribute name="VR" type="TEF020-1-0VRtype" use="required"/>
		<xsd:attributeGroup ref="gen:FormAttribute"/>
	</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>

</xsd:schema>
