etax/19XMLスキーマ/kyotsu/TEG100-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年分　給与所得の源泉徴収票
version：1.0
Date：2006年09月07日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="TEG100-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>
<!-- Root Element Definition -->
<xsd:element name="TEG100" type="TEG100-1-0type"/>

<xsd:complexType name="TEG100-1-0type">
<xsd:sequence>

<xsd:element name="ZXA00000" type="ZXA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"表題"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXB00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZXC00000" type="ZXC00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"支払を受ける者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZXD00000" type="ZXD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZXE00000" type="ZXE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZXF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与所得控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得控除の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZXH00000" type="ZXH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXI00000" type="ZXI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象配偶者の有無等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZXJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者特別控除の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZXK00000" type="ZXK00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"扶養親族の数（配偶者を除く）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXL00000" type="ZXL00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者の数（本人を除く）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXM00000" type="ZXM00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZXN00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生命保険料の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXO00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害保険料の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXP00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZXQ00000" type="ZXQ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZXR00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の合計所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXS00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人年金保険料の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXT00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"長期損害保険料の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZXU00000" type="ZXU00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本人控除内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXV00000" type="ZXV00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中途就・退職"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZXW00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受給者生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZXX00000" type="ZXX00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
<xsd:attribute name="VR"
type="TEG100-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>

<xsd:complexType name="ZXC00000-1-0type">
<xsd:sequence>

<xsd:element name="ZXC00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXC00020">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZXC00030" type="ZXC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受給者番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXC00040" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXC00050">
<xsd:annotation>
<xsd:appinfo>"氏名及び役職名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZXC00060" type="ZXC00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"役職名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXC00070" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZXE00000-1-0type">
<xsd:sequence>

<xsd:element name="ZXE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZXH00000-1-0type">
<xsd:sequence>

<xsd:element name="ZXH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZXI00000-1-0type">
<xsd:sequence>

<xsd:element name="ZXI00010" type="ZXI00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXI00020" type="ZXI00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXI00030" type="ZXI00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXI00040" type="ZXI00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXI00050" type="ZXI00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"老人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZXK00000-1-0type">
<xsd:sequence>

<xsd:element name="ZXK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZXK00020" type="ZXK00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXK00030" type="ZXK00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZXK00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"老人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZXK00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZXK00060" type="ZXK00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXK00070" type="ZXK00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZXK00080" type="ZXK00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZXK00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZXK00100" type="ZXK00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXK00110" type="ZXK00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZXL00000-1-0type">
<xsd:sequence>

<xsd:element name="ZXL00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZXL00020" type="ZXL00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXL00030" type="ZXL00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZXL00040" type="ZXL00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZXM00000-1-0type">
<xsd:sequence>

<xsd:element name="ZXM00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZXQ00000-1-0type">
<xsd:sequence>

<xsd:element name="ZXQ00010" type="ZXQ00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXQ00020" type="ZXQ00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電子交付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZXU00000-1-0type">
<xsd:sequence>

<xsd:element name="ZXU00010" type="ZXU00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成年者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXU00020" type="ZXU00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"乙欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXU00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本人が障害者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZXU00040" type="ZXU00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXU00050" type="ZXU00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZXU00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寡婦"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZXU00070" type="ZXU00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXU00080" type="ZXU00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZXU00090" type="ZXU00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寡夫"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXU00100" type="ZXU00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤労学生"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXU00110" type="ZXU00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡退職"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXU00120" type="ZXU00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXU00130" type="ZXU00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZXV00000-1-0type">
<xsd:sequence>

<xsd:element name="ZXV00010" type="ZXV00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"就職"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXV00020" type="ZXV00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXV00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中途就・退職年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZXX00000-1-0type">
<xsd:sequence>

<xsd:element name="ZXX00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXX00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZXX00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ZXA00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXC00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ZXI00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXI00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXI00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXI00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXI00050-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ZXK00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXK00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXK00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXK00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXK00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXK00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXK00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXL00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXL00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXL00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXQ00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZXQ00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ZXU00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXU00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXU00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXU00050-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXU00070-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXU00080-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXU00090-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXU00100-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXU00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXU00120-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXU00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXV00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZXV00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="ZXK00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZXK00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZXK00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZXK00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZXK00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZXK00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZXK00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZXK00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZXK00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZXK00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZXK00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZXK00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZXK00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZXK00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZXL00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZXL00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZXL00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZXL00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZXL00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZXL00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
