etax/19XMLスキーマ/kyotsu/TEG108-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年分　給与所得の源泉徴収票(令和5年以降用)
version：1.0
Date：2023年09月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="TEG108-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>
<!-- Root Element Definition -->
<xsd:element name="TEG108" type="TEG108-1-0type"/>

<xsd:complexType name="TEG108-1-0type">
<xsd:sequence>

<xsd:element name="ZPA00000" type="ZPA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"表題"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPB00000" type="gen:yy">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZPC00000" type="ZPC00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"支払を受ける者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZPD00000" type="ZPD00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZPE00000" type="ZPE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZPF00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与所得控除後の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得控除の額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZPH00000" type="ZPH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPI00000" type="ZPI00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（源泉）控除対象配偶者の有無等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZPJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者（特別）控除の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZPK00000" type="ZPK00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象扶養親族の数（配偶者を除く。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZPC10000" type="ZPC10000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"16歳未満扶養親族の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZPL00000" type="ZPL00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者の数（本人を除く。）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZPD10000" type="ZPD10000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非居住者である親族の数"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZPM00000" type="ZPM00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZPN00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生命保険料の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPO00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地震保険料の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPP00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZPQ00000" type="ZPQ00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZPR00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者の合計所得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPY00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新生命保険料の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPZ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧生命保険料の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPA10000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"介護医療保険料の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPB10000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新個人年金保険料の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPS00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧個人年金保険料の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPT00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"旧長期損害保険料の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZPE10000" type="ZPE10000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除の額の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPF10000" type="ZPF10000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（源泉・特別）控除対象配偶者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZPG10000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国民年金保険料等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPJ10000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基礎控除の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPK10000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額調整控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZPH10000" type="ZPH10000-1-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"控除対象扶養親族　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPI10000" type="ZPI10000-1-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"16歳未満の扶養親族　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPU00000" type="ZPU00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本人控除内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPV00000" type="ZPV00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中途就・退職"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ZPW00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受給者生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZPX00000" type="ZPX00000-1-0type">
<xsd:annotation>
<xsd:appinfo>"支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
<xsd:attribute name="VR"
type="TEG108-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>

<xsd:complexType name="ZPC00000-1-0type">
<xsd:sequence>

<xsd:element name="ZPC00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPC00080" type="ZPC00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（受給者番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPC00090" type="ZPC00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（役職名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPC00100">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZPC00110" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPC00120" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPE00000-1-0type">
<xsd:sequence>

<xsd:element name="ZPE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPH00000-1-0type">
<xsd:sequence>

<xsd:element name="ZPH00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPH00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPI00000-1-0type">
<xsd:sequence>

<xsd:element name="ZPI00010" type="ZPI00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPI00030" type="ZPI00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPI00050" type="ZPI00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"老人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPK00000-1-0type">
<xsd:sequence>

<xsd:element name="ZPK00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZPK00020" type="ZPK00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPK00030" type="ZPK00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZPK00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"老人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZPK00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZPK00060" type="ZPK00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPK00070" type="ZPK00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZPK00080" type="ZPK00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZPK00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZPK00100" type="ZPK00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPK00110" type="ZPK00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"従人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPL00000-1-0type">
<xsd:sequence>

<xsd:element name="ZPL00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZPL00020" type="ZPL00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPL00030" type="ZPL00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZPL00040" type="ZPL00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPM00000-1-0type">
<xsd:sequence>

<xsd:element name="ZPM00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPM00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPQ00000-1-0type">
<xsd:sequence>

<xsd:element name="ZPQ00010" type="ZPQ00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPQ00020" type="ZPQ00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電子交付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPE10000-1-0type">
<xsd:sequence>

<xsd:element name="ZPE10010" type="ZPE10010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除適用数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPE10020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除可能額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPE10030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日（１回目）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPE10040" type="ZPE10040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除区分（１回目）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPE10050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等年末残高（１回目）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPE10060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日（２回目）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPE10070" type="ZPE10070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除区分（２回目）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPE10080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等年末残高（２回目）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPF10000-1-0type">
<xsd:sequence>

<xsd:element name="ZPF10010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPF10020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPF10030" type="ZPF10030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPH10000-1-0type">
<xsd:sequence>

<xsd:element name="ZPH10010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPH10020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPH10030" type="ZPH10030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPI10000-1-0type">
<xsd:sequence>

<xsd:element name="ZPI10010" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPI10020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPI10030" type="ZPI10030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPU00000-1-0type">
<xsd:sequence>

<xsd:element name="ZPU00010" type="ZPU00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"未成年者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPU00020" type="ZPU00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"乙欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPU00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本人が障害者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZPU00040" type="ZPU00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPU00050" type="ZPU00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZPU00070" type="ZPU00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寡婦"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPU00090" type="ZPU00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ひとり親"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPU00100" type="ZPU00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤労学生"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPU00110" type="ZPU00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡退職"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPU00120" type="ZPU00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPU00130" type="ZPU00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPV00000-1-0type">
<xsd:sequence>

<xsd:element name="ZPV00010" type="ZPV00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"就職"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPV00020" type="ZPV00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"退職"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPV00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中途就・退職年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZPX00000-1-0type">
<xsd:sequence>

<xsd:element name="ZPX00010" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPX00020" type="gen:name">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZPX00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ZPA00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPC00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPC00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ZPI00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPI00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPI00050-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ZPK00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPK00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPK00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPK00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPK00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPK00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPK00110-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPC10000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPL00020-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPL00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPL00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPD10000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPQ00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="300"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPQ00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZPE10010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ZPE10040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="16"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPE10070-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/><xsd:enumeration value="05"/><xsd:enumeration value="06"/><xsd:enumeration value="07"/><xsd:enumeration value="08"/><xsd:enumeration value="09"/><xsd:enumeration value="10"/><xsd:enumeration value="11"/><xsd:enumeration value="12"/><xsd:enumeration value="13"/><xsd:enumeration value="14"/><xsd:enumeration value="15"/><xsd:enumeration value="16"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPF10030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPH10030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="00"/><xsd:enumeration value="01"/><xsd:enumeration value="02"/><xsd:enumeration value="03"/><xsd:enumeration value="04"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPI10030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPU00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPU00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPU00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPU00050-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPU00070-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPU00090-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPU00100-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPU00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPU00120-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPU00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPV00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZPV00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="ZPC10000-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPC10000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPD10000-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPD10000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPK00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPK00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPK00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPK00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPK00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPK00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPK00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPK00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPK00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPK00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPK00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPK00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPK00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPK00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPL00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPL00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPL00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPL00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPL00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPL00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ZPE10010-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZPE10010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
