etax/19XMLスキーマ/kyotsu/TEG201-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成__年分　特定口座年間取引報告書(平成19年以降用)
version：1.0
Date：2007年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="TEG201-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>
<!-- Root Element Definition -->
<xsd:element name="TEG201" type="TEG201-1-0type"/>

<xsd:complexType name="TEG201-1-0type">
<xsd:sequence>

<xsd:element name="ZWA00000" type="ZWA00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"表題"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWB00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWC00000" type="ZWC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWD00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ZWE00000" type="ZWE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定口座開設者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00000" type="ZWF00000-1-0type" minOccurs="0" maxOccurs="50">
<xsd:annotation>
<xsd:appinfo>"報告内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWG00000" type="ZWG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWH00000" type="ZWH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
<xsd:attribute name="VR"
type="TEG201-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>

<xsd:complexType name="ZWE00000-1-0type">
<xsd:sequence>

<xsd:element name="ZWE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前回提出時の住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZWE00040" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWE00050" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZWE00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWE00070" type="ZWE00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWE00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座開設年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWE00090" type="ZWE00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収の選択"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZWF00000-1-0type">
<xsd:sequence>

<xsd:element name="ZWF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡の対価の支払状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZWF00020" minOccurs="0" maxOccurs="20">
<xsd:annotation>
<xsd:appinfo>"支払状況明細の繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZWF00030" type="ZWF00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00040" type="ZWF00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00050" type="ZWF00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"株数又は口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡の対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00080" type="ZWF00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZWF00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年間取引損益及び源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZWF00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般上場分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZWF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額（収入金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額（収入金額）  外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等  外書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額（差損益金額）（(1)-(2)）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZWF00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定信用分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZWF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額（収入金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額（差損益金額）（(1)-(2)）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZWF00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ZWF00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)譲渡の対価の額（収入金額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)取得費及び譲渡に要した費用の額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引金額（差損益金額）（(1)-(2)）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWF00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZWG00000-1-0type">
<xsd:sequence>

<xsd:element name="ZWG00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWG00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWG00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ZWH00000-1-0type">
<xsd:sequence>

<xsd:element name="ZWH00010" type="ZWH00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZWH00020" type="ZWH00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電子交付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ZWA00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZWC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ZWE00070-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ZWE00090-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ZWF00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZWF00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZWF00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZWF00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZWH00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="300"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ZWH00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ZWF00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="ZWF00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
