etax/19XMLスキーマ/kyotsu/TEG820-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：寄附金受領証明書
version：1.0
Date：2018年02月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="TEG820-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>
<!-- Root Element Definition -->
<xsd:element name="TEG820" type="TEG820-1-0type"/>

<xsd:complexType name="TEG820-1-0type">
<xsd:sequence>

<xsd:element name="WGA00000" type="WGA00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"寄附を受けた団体名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGB00000" type="gen:address">
<xsd:annotation>
<xsd:appinfo>"寄附を受けた団体の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGC00000" type="gen:yyyymmdd">
<xsd:annotation>
<xsd:appinfo>"受領年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGD00000" type="WGD00000-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"寄附者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="WGE00000" type="WGE00000-1-0type" maxOccurs="100">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
<xsd:attribute name="VR"
type="TEG820-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>

<xsd:complexType name="WGE00000-1-0type">
<xsd:sequence>

<xsd:element name="WGE00010" type="WGE00010-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"領収書発行番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGE00020" type="WGE00020-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"寄附の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGE00030" type="WGE00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用条文"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGE00035" type="WGE00035-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用条文（その他）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGE00040" type="gen:kingaku">
<xsd:annotation>
<xsd:appinfo>"寄附金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WGE00050" type="WGE00050-1-0Rtype">
<xsd:annotation>
<xsd:appinfo>"但し書き"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="WGA00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGD00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGE00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="WGE00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/><xsd:enumeration value="8"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="WGE00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="90"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGE00035-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WGE00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
