etax/19XMLスキーマ/kyotsu/TEG901-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：住宅取得資金に係る借入金等の年末残高等情報
version：1.0
Date：2023年07月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="TEG901-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>
<!-- Root Element Definition -->
<xsd:element name="TEG901" type="TEG901-1-0type"/>

<xsd:complexType name="TEG901-1-0type">
<xsd:sequence>

<xsd:element name="WQA00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQB00000" type="WQB00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"訂正削除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQC00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="WQD00000" type="WQD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQE00000" type="WQE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等に係る債権者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="WQF00000" type="WQF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調書受付番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQG00000" type="WQG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調書一連番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
<xsd:attribute name="VR"
type="TEG901-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>

<xsd:complexType name="WQD00000-1-0type">
<xsd:sequence>

<xsd:element name="WQD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得資金の借入れ等をしている者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WQD00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WQD00040" type="WQD00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WQD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末残高"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WQD00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初借入年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WQD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償還期間又は賦払期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WQD00110" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償還期間又は賦払期間（自）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00120" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償還期間又は賦払期間（至）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00130" type="WQD00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償還期間又は賦払期間（年）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00140" type="WQD00140-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"償還期間又は賦払期間（月）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WQD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（摘要）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WQD00160" type="WQD00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00170" type="WQD00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務者人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00180" type="WQD00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"据置期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00190" type="WQD00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"据置期間（年）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00200" type="WQD00200-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"据置期間（月）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00210" type="WQD00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前払賃料融資額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"融資額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00230" type="WQD00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"借換有り"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WQD00240" type="WQD00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残高基準日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQD00260" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証明年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WQE00000-1-0type">
<xsd:sequence>

<xsd:element name="WQE00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQE00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WQE00030" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="WQB00000-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="WQD00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="WQD00130-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WQD00140-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WQD00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WQD00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WQD00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WQD00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WQD00200-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WQD00210-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WQD00230-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WQD00240-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WQF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WQG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="WQD00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="WQD00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WQD00140-1-0type">
<xsd:simpleContent>
<xsd:extension base="WQD00140-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WQD00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="WQD00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WQD00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="WQD00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WQD00200-1-0type">
<xsd:simpleContent>
<xsd:extension base="WQD00200-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
