etax/19XMLスキーマ/kyotsu/TEG911-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年末調整のための住宅借入金等特別控除証明書(令和4年以降居住開始用)
version：1.0
Date：2023年09月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../general/XMLDSIG050.xsd"/>

<!-- version -->
<xsd:simpleType name="TEG911-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>
<!-- Root Element Definition -->
<xsd:element name="TEG911" type="TEG911-1-0type"/>

<xsd:complexType name="TEG911-1-0type">
<xsd:sequence>

<xsd:element name="WRA00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書兼計算明細書年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRB00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証明書年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRC00000" type="WRC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再交付表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="WRD00000" type="WRD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整のための住宅借入金等特別控除証明書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="WRE00000" type="WRE00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総ページ数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRF00000" type="WRF00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証明額確認区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRG00000" type="gen:seiribango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRH00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="WRI00000" type="WRI00000-1-0type" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<!-- XML-SIGNATURE -->
<xsd:element ref="dsig:Signature" minOccurs="1" maxOccurs="1"/>
</xsd:sequence>
<xsd:attribute name="VR"
type="TEG911-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>

<xsd:complexType name="WRD00000-1-0type">
<xsd:sequence>

<xsd:element name="WRD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名郵便番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRD00020" type="WRD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名郵便番号１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00030" type="WRD00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名郵便番号２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00040" type="WRD00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名郵便番号３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00050" type="WRD00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名郵便番号４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00060" type="WRD00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名郵便番号５"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00070" type="WRD00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名郵便番号６"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00080" type="WRD00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名郵便番号７"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRD00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRD00100" type="WRD00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名住所１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00110" type="WRD00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名住所２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00120" type="WRD00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名住所３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRD00130" type="WRD00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"あて名氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00140" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"発行年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00160" type="WRD00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRD00170" type="WRD00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署長名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="WRI00000-1-0type">
<xsd:sequence>

<xsd:element name="WRI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与所得者の住宅借入金等特別控除申告書兼住宅借入金等特別控除計算明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築又は購入に係る借入金等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00040" type="WRI00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅のみ　連帯債務割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00050" type="WRI00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等のみ　連帯債務割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00060" type="WRI00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅及び土地等　連帯債務割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00070" type="WRI00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等に係る借入金等の計算　連帯債務割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）*「居住用割合」"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築又は購入に係る借入金等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00100" type="WRI00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅のみ　居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00110" type="WRI00110-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等のみ　居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00120" type="WRI00120-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅及び土地等　居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00130" type="WRI00130-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等に係る借入金等の計算　居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等の年末残高等　最高限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00160" type="WRI00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最高限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年間所得の見積額　＿万円"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重複適用（の特例）を受ける場合の（特定増改築等）住宅借入金等特別控除額　最高限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整のための住宅借入金等特別控除証明書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00210" type="WRI00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（証明事項）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00240" type="WRI00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築特定取得括弧１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00250" type="WRI00250-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築特定取得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00260" type="WRI00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築特定取得括弧２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00300" type="WRI00300-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新築家屋計表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00320" type="WRI00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00330" type="WRI00330-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得対価等の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00360" type="WRI00360-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00370" type="WRI00370-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00390" type="WRI00390-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築特定取得括弧１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00400" type="WRI00400-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築特定取得"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00410" type="WRI00410-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築特定取得括弧２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00420" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住開始年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"増改築等の費用の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00450" type="WRI00450-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"居住用割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00460" type="WRI00460-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連帯債務割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅の区分等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00480" type="WRI00480-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅の区分等１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00490" type="WRI00490-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅の区分等２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00500" type="WRI00500-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅の区分等３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="WRI00520" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例期間（自）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00530" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例期間（至）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="WRI00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（参考）適用初年分の控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WRI00560" type="WRI00560-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ページ数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="WRC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRD00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRE00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRF00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00050-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00070-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00100-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00110-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00120-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00130-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00210-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00240-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00250-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00260-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00300-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00320-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00330-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00360-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00370-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00390-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00400-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00410-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00450-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00460-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00480-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00490-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00500-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="WRI00560-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="WRI00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00110-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00110-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00120-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00120-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00130-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00130-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00330-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00330-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00360-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00360-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00370-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00370-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00450-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00450-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="WRI00460-1-0type">
<xsd:simpleContent>
<xsd:extension base="WRI00460-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
