etax/19XMLスキーマ/kyotsu/TEY010-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相互協議申立書
version：2.0
Date：2005年11月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEY010-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEY010-2-0group">
<xsd:sequence>
<xsd:element name="TEY010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEY010-1" type="TEY010-1-2-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"１面目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEY010-2" type="TEY010-2-2-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"２面目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEY010-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TEY010-1-2-0type">
<xsd:sequence>

<xsd:element name="DZA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00012" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申立法人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00014" type="DZA00014-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結親法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00016" type="DZA00016-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"単体法人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人名又は氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地　住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人の代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00090" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00100" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）責任者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00120" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00130" type="DZA00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（役職名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00140" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00150" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00160" type="DZA00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（内線）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZA00170" type="DZA00170-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申立内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00420" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00430" type="DZB00430-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00450" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"_局_署"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00470" type="DZB00470-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"_局"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00480" type="DZB00480-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"_署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00490" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00510" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00520" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00540" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00550" type="DZB00550-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(役職名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00560" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00570" type="DZB00570-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相互協議申立ての理由"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00590" type="DZB00590-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事前確認"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00600" type="DZB00600-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"我が国課税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00610" type="DZB00610-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国課税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00620" type="DZB00620-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00630" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国課税の課税年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00010" type="DZB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相互協議の相手国"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外関連者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00040" type="DZB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00060" type="DZB00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申立ての対象となる取引等を有する国内の者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00070" type="DZB00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国での相互協議申立ての有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国での相互協議申立ての日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申立ての対象となる所得金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00102" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国通貨による表示(相手国課税の場合)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00104" type="DZB00104-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額 通貨単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00106" type="DZB00106-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額 通貨単位"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00110" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(連結)事業年度（年分）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00160" type="DZB00160-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"円貨による表示 金額頭部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"円貨による表示 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国通貨による表示 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00210" type="DZB00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"円貨による表示 金額頭部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"円貨による表示 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国通貨による表示 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00270" type="DZB00270-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"円貨による表示 金額頭部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"円貨による表示 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国通貨による表示 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00320" type="DZB00320-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"円貨による表示 金額頭部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"円貨による表示 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国通貨による表示 金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="TEY010-2-2-0type">
<xsd:sequence>

<xsd:element name="DZC00010" type="DZC00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(申立ての対象となる事実の概要及び申立ての理由等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00020" type="DZC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(添付書類)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(連結子法人又は国外関連者が複数ある場合の追加記入欄)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結子法人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZC00060" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00070" type="DZC00070-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZC00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZC00090" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"_局_署"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZC00110" type="DZC00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"_局"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00120" type="DZC00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"_署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZC00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZC00150" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00160" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZC00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZC00180" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00190" type="DZC00190-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(役職名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00200" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZC00210" type="DZC00210-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外関連者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZC00230" type="DZC00230-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00240" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00250" type="DZC00250-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申立ての対象となる取引等を有する国内の者との関係"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00260" type="DZC00260-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国での相互協議申立ての有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZC00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国での相互協議申立ての日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZC00280" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:complexType name="DZA00170-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="JIGYO_NAIYO"/>
                <xsd:enumeration value="SHOKUGYO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="DZA00014-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DZA00016-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DZA00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZA00160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00430-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00470-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00480-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00550-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00570-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DZB00590-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DZB00600-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DZB00610-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="DZB00620-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DZB00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00060-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="90"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DZB00070-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DZB00104-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00106-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00160-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00270-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00320-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZC00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="500"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZC00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="300"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZC00070-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZC00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZC00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZC00190-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZC00210-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZC00230-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZC00250-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="90"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DZC00260-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
