etax/19XMLスキーマ/kyotsu/TEY010-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相互協議申立書
version：1.0
Date：2004年04月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEY010-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEY010-1-0group">
<xsd:sequence>
<xsd:element name="TEY010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00000" type="DZA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00000" type="DZB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申立内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEY010-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="DZA00000-1-0type">
<xsd:sequence>

<xsd:element name="DZA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地　住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人名又は氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人の代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00090" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00100" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人の代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）責任者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZA00120" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00130" type="DZA00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（役職名）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00140" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"責任者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00150" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00160" type="DZA00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（内線）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZA00170" type="DZA00170-1-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"資本金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZA00190" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="DZB00000-1-0type">
<xsd:sequence>

<xsd:element name="DZB00010" type="DZB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相互協議の相手国"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00020" type="DZB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（申立ての対象となる事実の概要及び申立ての理由）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国外関連者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00040" type="DZB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00050" type="DZB00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（本店所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00060" type="DZB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（申立者との関係）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00070" type="DZB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（相手国での協議の申立ての有無）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00080" type="DZB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国での協議の申立ての日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00090" type="DZB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申立ての対象となる所得金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00110" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度（年分）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00130" type="DZB00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00140" type="DZB00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00160" type="DZB00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額頭部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（日本円）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00180" type="DZB00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（単位）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（外貨）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00210" type="DZB00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額頭部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（日本円）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00230" type="DZB00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（単位）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（外貨）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00270" type="DZB00270-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額頭部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（日本円）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00290" type="DZB00290-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（単位）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（外貨）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="DZB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DZB00320" type="DZB00320-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額頭部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（日本円）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00340" type="DZB00340-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（単位）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="DZB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額（外貨）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="DZA00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZA00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DZA00170-1-0IDREFtype">
	<xsd:attribute name="IDREF" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:IDREF">
				<xsd:enumeration value="JIGYO_NAIYO"/>
				<xsd:enumeration value="SHOKUGYO"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="DZB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="400"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DZB00070-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="DZB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="11"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00210-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00180-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00230-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00270-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00320-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00290-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DZB00340-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
