etax/19XMLスキーマ/kyotsu/TEY020-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：納税管理人届出書(相続税用)
version：1.0
Date：2004年02月06日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEY020-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEY020-1-0group">
<xsd:sequence>
<xsd:element name="TEY020">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="EAA00000" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EAC00000" type="EAC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00000" type="EAD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00000" type="EAE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税管理人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="EAF00000" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法の施行地外における住所又は居所となる場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAG00000" type="EAG00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税管理人を定めた理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EAH00000" type="EAH00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEY020-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EAC00000-1-0type">
<xsd:sequence>

<xsd:element name="EAC00010" type="gen:NOZEISHA_ADR_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00020" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00030" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00050" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者等氏名(法人等の場合)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EAC00080" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者等氏名（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAC00090" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者等氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EAC00100" type="gen:BIRTHDAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EAD00000-1-0type">
<xsd:sequence>

<xsd:element name="EAD00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAD00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EAE00000-1-0type">
<xsd:sequence>

<xsd:element name="EAE00010" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00020" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00040" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00050" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00070" type="EAE00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出者との続柄(関係)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAE00080" type="EAE00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業又は事業内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="EAH00000-1-0type">
<xsd:sequence>

<xsd:element name="EAH00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"出国（予定）年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAH00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帰国（予定）年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EAH00030" type="EAH00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="EAE00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAE00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAG00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EAH00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
