etax/19XMLスキーマ/kyotsu/TEZ029-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：次葉
申告に係る課税価格等及び更正の請求による課税価格等(贈与税-付表2)(平成23年分用)
version：3.0
Date：2011年12月14日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ029-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ029-3-0group">
<xsd:sequence>
<xsd:element name="TEZ029">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00000" type="BEA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の非課税の適用を受けている場合の計算明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ029-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BEA00000-3-0type">
<xsd:sequence>

<xsd:element name="BEA00010" type="BEA00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告・更正・決定区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の合計額１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の合計額２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成22年分の贈与税の申告で非課税の適用を受けた金額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)のうち非課税の適用を受ける金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)のうち非課税の適用を受ける金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEA00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税の適用を受ける金額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEA00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)のうち課税価格に算入される金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEA00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(27)のうち課税価格に算入される金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="BEA00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
