etax/19XMLスキーマ/kyotsu/TEZ023-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：次葉
申告に係る課税価格、税額等及び更正の請求による課税価格、税額等(贈与税)
version：1.0
Date：2004年03月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ023-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ023-1-0group">
<xsd:sequence>
<xsd:element name="TEZ023">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00000" type="ABA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ023-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ABA00000-1-0type">
<xsd:sequence>

<xsd:element name="ABA00010" type="ABA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告・更正・決定区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)取得した財産の価額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)配偶者控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)基礎控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)(2)及び(3)の控除後の課税価格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)算出贈与税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)在外財産に対する贈与税の控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)差引税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)農地等の贈与に係る納税猶予額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABA00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)申告期限までに納付すべき税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABA00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ABA00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


</xsd:schema>
