etax/19XMLスキーマ/kyotsu/TEZ092-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：次葉 申告に係る課税価格、税額等及び更正の請求による課税価格、税額等(相続税-付表2の2)
version：1.0
Date：2018年08月30日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ092-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ092-1-0group">
<xsd:sequence>
<xsd:element name="TEZ092">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00000" type="UWA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　特例株式等納税猶予税額の基となる相続税の総額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00000" type="UWB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　特例株式等納税猶予税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ092-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UWA00000-1-0type">
<xsd:sequence>

<xsd:element name="UWA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「特定価額に基づく課税遺産総額」等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00020" type="UWA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告・更正・決定区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)特例対象（相続）非上場株式等の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)特例経営承継相続人等及び特例経営相続承継受贈者に係る債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)特例経営承継人が相続又は遺贈により取得した財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)控除未済債務額の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)特定価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)特例経営承継人以外の相続人等の課税価格の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)基礎控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)特定価額に基づく課税遺産総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「特定価額に基づく相続税の総額」等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00280" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00290" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)法定相続人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)法定相続分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00310" type="UWA00310-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00320" type="UWA00320-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)法定相続分に応ずる取得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)相続税の総額の基礎となる税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)相続税の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWA00370" type="UWA00370-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWA00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWA00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UWB00000-1-0type">
<xsd:sequence>

<xsd:element name="UWB00010" type="UWB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告・更正・決定区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)特例経営承継人の税額控除額の合計と相続時精算課税分の贈与税額控除額の合計から暦年課税分の贈与税額控除額を差し引いた額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)特定価額に基づく特例経営承継人の算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)特定価額に基づき相続税額の２割加算が行われる場合の加算金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"a（(2)＋(3)－暦年課税分の贈与税額控除額）の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"b特例経営承継人の課税価格に基づく算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)（(1)＋a－b）の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)（a－(4)）の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)特例対象（相続）非上場株式等に係る会社が２社以上ある場合の会社ごとの特例株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ（会社名）に係る特例株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00250" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会社名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ（会社名）に係る特例株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00290" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会社名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ハ（会社名）に係る特例株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00330" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会社名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UWB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)特例株式等納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UWB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（更正・決定）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UWB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="UWA00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="UWA00310-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UWA00320-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UWA00370-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="UWB00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="UWA00310-1-0type">
<xsd:simpleContent>
<xsd:extension base="UWA00310-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UWA00320-1-0type">
<xsd:simpleContent>
<xsd:extension base="UWA00320-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
