etax/19XMLスキーマ/kyotsu/TEZ045-005.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：更正の請求書(連結申告用)(平成30年4月1日前終了連結事業年度分)
version：5.1
Date：2019年09月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ045-5-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="5.0"/><xsd:enumeration value="5.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ045-5-1group">
<xsd:sequence>
<xsd:element name="TEZ045">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USA00000" type="USA00000-5-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00000" type="USB00000-5-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="USC00000" type="USC00000-5-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ045-5-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="USA00000-5-1type">
<xsd:sequence>

<xsd:element name="USA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USA00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USA00070" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USA00080" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USA00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USA00095" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USA00110" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USA00120" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USA00140" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USA00150" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USA00160" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USA00170" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USA00180" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="USB00000-5-1type">
<xsd:sequence>

<xsd:element name="USB00002" type="USB00002-5-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税通則法第23条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00004" type="USB00004-5-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法第82条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00006" type="USB00006-5-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税法第24条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00008" type="USB00008-5-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法第68条の88"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00043" type="USB00043-5-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結事業年度の連結確定申告"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00047" type="USB00047-5-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税事業年度の地方法人税確定申告"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得金額又は連結欠損金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減税率適用連結所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認を取消された場合等における既に控除された法人税額の特別控除額の加算額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡利益金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税土地譲渡利益金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結留保金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税連結留保金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使途秘匿金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使途秘匿金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引連結所得に対する法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結中間申告分の法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期へ繰り越す連結欠損金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結所得の金額に対する法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00860" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税連結留保金額に対する法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(22)に係る地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)に係る地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00980" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB01020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB01040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB01060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB01070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告分の地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB01130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB01140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB01160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB01170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="USB01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="USB00740" type="USB00740-5-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(更正の請求をする理由等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00750" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告書提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00760" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正決定通知書受理年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="USB00770" type="USB00770-5-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="USB00002-5-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="USB00004-5-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="USB00006-5-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="USB00008-5-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="USB00043-5-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="USB00047-5-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="USB00740-5-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="USB00770-5-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="USC00000-5-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
