etax/19XMLスキーマ/kyotsu/TEZ055-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：更正の請求書(令和5年4月1日以後終了事業年度分)
version：2.0
Date：2024年11月19日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ055-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ055-2-0group">
<xsd:sequence>
<xsd:element name="TEZ055">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAA00000" type="UAA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00000" type="UAB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAC00000" type="UAC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ055-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UAA00000-2-0type">
<xsd:sequence>

<xsd:element name="UAA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAA00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAA00080" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00090" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAA00100" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAA00120" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00130" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAA00150" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00160" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAA00170" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00180" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAA00190" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UAB00000-2-0type">
<xsd:sequence>

<xsd:element name="UAB00010" type="UAB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税通則法第23条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00020" type="UAB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法第81条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00030" type="UAB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税法第24条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00040" type="UAB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法第66条の４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00080" type="UAB00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00090" type="UAB00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減税率適用所得金額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の金額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除超過額相当額等の加算額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地譲渡利益金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税土地譲渡利益金額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に対する税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"留保金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に対する税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使途秘匿金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使途秘匿金額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上に対する税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額計　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額及び外国関係会社等に係る控除対象所得税額等相当額の控除額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引所得に対する法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告分の法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期へ繰り越す欠損金又は災害損失金　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の金額に対する法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税留保金額に対する法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(23)に係る地方法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額控除超過額相当額等の加算額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(24)に係る地方法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得地方法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額及び外国関係会社等に係る控除対象所得税額等相当額の控除額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"仮装経理に基づく過大申告の更正に伴う控除地方法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引地方法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告分の地方法人税額　更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00620" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UAB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UAB00650" type="UAB00650-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(更正の請求をする理由等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00660" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告書提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00670" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正決定通知書受理年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAB00680" type="UAB00680-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UAC00000-2-0type">
<xsd:sequence>

<xsd:element name="UAC00010" type="UAC00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分(更正通知書等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UAC00020" type="UAC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分(還付金振込)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="UAB00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="UAB00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="UAB00030-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="UAB00040-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="UAB00080-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="UAB00090-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="UAB00650-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UAB00680-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="UAC00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="UAC00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
