etax/19XMLスキーマ/kyotsu/TEZ072-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：酒税更正請求書次葉(その__)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ072-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ072-1-0group">
<xsd:sequence>
<xsd:element name="TEZ072">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="AAA00000" type="AAA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAB00000" type="AAB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AAC00000" type="AAC00000-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告に係る金額等(＿額)の課税区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAD00000" type="AAD00000-1-0type" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00000" type="AAE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告等に係る金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00000" type="AAF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ072-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAB00000-1-0type">
<xsd:sequence>

<xsd:element name="AAB00010" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAD00000-1-0type">
<xsd:sequence>

<xsd:element name="AAD00010" type="AAD00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"酒類の種類・品目別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00020" type="AAD00020-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"アルコール分別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告に係る金額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00050" type="AAD00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"標準課税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00080" type="AAD00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"標準課税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAE00000-1-0type">
<xsd:sequence>

<xsd:element name="AAE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除(還付)本税相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"戻入れによるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入によるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害被害によるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金相当本税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき本税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAF00000-1-0type">
<xsd:sequence>

<xsd:element name="AAF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除(還付)本税相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"戻入れによるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入によるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害被害によるもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金相当本税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき本税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AAA00000-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAC00000-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAD00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="35"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAD00020-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?"/><xsd:pattern value="[-]?\d?\d?[.]\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAD00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAD00080-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AAA00000-1-0type">
<xsd:simpleContent>
<xsd:extension base="AAA00000-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAD00020-1-0type">
<xsd:simpleContent>
<xsd:extension base="AAD00020-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAD00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="AAD00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAD00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="AAD00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
