etax/19XMLスキーマ/kyotsu/TEZ025-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：贈与税の更正の請求書
version：3.1
Date：2019年07月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ025-3-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/><xsd:enumeration value="3.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ025-3-1group">
<xsd:sequence>
<xsd:element name="TEZ025">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00000" type="ACA00000-3-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00000" type="ACB00000-3-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求の対象となった申告又は通知の区分及び申告書提出年月日又は更正の請求のできる事由の生じたことを知った日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ACC00000" type="ACC00000-3-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付した書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00000" type="ACD00000-3-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求をする理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00000" type="ACE00000-3-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求をするに至った事情の詳細、その他参考となるべき事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACG00000" type="ACG00000-3-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ACF00000" type="ACF00000-3-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ025-3-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ACA00000-3-1type">
<xsd:sequence>

<xsd:element name="ACA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"前納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00040" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地（郵便番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地（住所等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00070" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称（フリガナ）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00080" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00085" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00090" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者等氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00100" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00110" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00120" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする銀行等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ACB00000-3-1type">
<xsd:sequence>

<xsd:element name="ACB00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原因年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00020" type="ACB00020-3-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求の対象となった申告又は通知の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求の対象となった申告又は通知の区分及び申告書提出年月日又は更正の請求のできる事由の生じたことを知った日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00040" type="ACB00040-3-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出、遺産分割等の文言"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ACF00000-3-1type">
<xsd:sequence>

<xsd:element name="ACF00010" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"関与税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACF00020" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ACB00020-3-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACB00040-3-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACC00000-3-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="300"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACD00000-3-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="400"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACE00000-3-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="400"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ACG00000-3-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
