etax/19XMLスキーマ/kyotsu/TEZ027-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：次葉
申告に係る課税価格、税額等及び更正の請求による課税価格、税額等(贈与税-付表)
version：1.0
Date：2005年08月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ027-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ027-1-0group">
<xsd:sequence>
<xsd:element name="TEZ027">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="EEA00000" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定贈与者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="EEB00000" type="EEB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続時精算課税の適用を受けている場合の計算明細書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ027-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="EEB00000-1-0type">
<xsd:sequence>

<xsd:element name="EEB00010" type="EEB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産の価額の合計額(課税価格)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち住宅取得等資金の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)のうち住宅取得等資金以外の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過去の年分の申告において控除した住宅資金特別控除額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅資金特別控除額の残額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅資金特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以降に繰り越される住宅資金特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(21)の控除後の課税価格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"過去の年分の申告において控除した特別控除額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額の残額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌年以降に繰り越される特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(26)の控除後の課税価格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(28)に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="EEB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EEB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(更正・決定)額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="EEB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="EEB00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
