etax/19XMLスキーマ/kyotsu/TEZ022-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：次葉 更正の請求による課税標準等又は税額等(相続税-付表1)(令和5年1月分以降用)
version：4.0
Date：2023年05月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ022-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ022-4-0group">
<xsd:sequence>
<xsd:element name="TEZ022">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00000" type="BDA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額等の計算明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BDB00000" type="BDB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格に基づく相続税の総額の計算明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ022-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BDA00000-4-0type">
<xsd:sequence>

<xsd:element name="BDA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)農業投資価格に基づく取得財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業相続人の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の人の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00122" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)純資産価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00126" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)純資産価額に加算される暦年課税分の贈与財産価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)課税価格"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)農業投資価格に基づく相続税の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)同上のあん分割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00240" type="BDA00240-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業相続人の農業投資価格超過額に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)相続税の総額の差額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)農業投資価格超過額の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)取得した農地等の農業投資価格超過額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)あん分額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDA00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)農業投資価格に基づく算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDA00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BDB00000-4-0type">
<xsd:sequence>

<xsd:element name="BDB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)農業投資価格に基づく取得財産価額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業相続人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)債務及び葬式費用の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)純資産価額に加算される暦年課税分の贈与財産価額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)課税価格の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)法定相続人の数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00200" type="BDB00200-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)遺産に係る基礎控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)計算の基礎となる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BDB00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)農業投資価格に基づく相続税の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BDB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BDA00240-4-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:maxInclusive value="100"/><xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d\d\d\d\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d\d\d\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BDB00200-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BDA00240-4-0type">
<xsd:simpleContent>
<xsd:extension base="BDA00240-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BDB00200-4-0type">
<xsd:simpleContent>
<xsd:extension base="BDB00200-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
