etax/19XMLスキーマ/kyotsu/TEZ010-007.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分所得税の更正の請求書(平成23年分以降用)
version：7.1
Date：2012年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ010-7-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="7.0"/><xsd:enumeration value="7.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ010-7-1group">
<xsd:sequence>
<xsd:element name="TEZ010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00000" type="BAA00000-7-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BAB00000" type="BAB00000-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求の目的となった申告又は処分の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BAC00000" type="BAC00000-7-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書を提出した日、処分の通知を受けた日又は請求の目的となった事実が生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BAD00000" type="BAD00000-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求をする理由、請求をするに至った事情の詳細、添付した書類等"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BCE00000" type="BCE00000-7-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額の計算書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ010-7-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BAA00000-7-1type">
<xsd:sequence>

<xsd:element name="BAA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成  年分所得税の更正の請求書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00030" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00040" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00043" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00045" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00055" type="BAA00055-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所以外の事業所、事務所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00080" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"平成  年分所得税について次のとおり更正の請求をします。"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00110" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00120" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金の受取場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00140" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00150" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（電話番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00160" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BAC00000-7-1type">
<xsd:sequence>

<xsd:element name="BAC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BCE00000-7-1type">
<xsd:sequence>

<xsd:element name="BCE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総合課税の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00020" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"総合課税の所得金額　　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00030" type="BCE00030-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00035" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00038" type="BCE00038-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00045" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00048" type="BCE00048-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00130" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"分離課税の所得金額　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00140" type="BCE00140-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得から差し引かれる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損、医療費控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00223" type="BCE00223-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00225" type="BCE00225-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療費控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料、小規模企業共済等掛金控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00253" type="BCE00253-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00255" type="BCE00255-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小規模企業共済等掛金控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生命保険料控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地震保険料、寄附金控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00313" type="BCE00313-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地震保険料控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00315" type="BCE00315-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者、寡婦、寡夫、勤労学生控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00341" type="BCE00341-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00343" type="BCE00343-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寡婦控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00344" type="BCE00344-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寡夫控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00345" type="BCE00345-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤労学生控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者特別控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"扶養控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00450" type="BCE00450-7-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00480" type="BCE00480-7-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基礎控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税される所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)に対する金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)に対する金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)に対する金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当控除、投資税額等の控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00795" type="BCE00795-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00796" type="BCE00796-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資税額等の控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政党等寄附金等特別控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修特別控除、住宅特定改修・認定長期優良住宅新築等特別税額控除　区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01320" type="BCE01320-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修特別控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01330" type="BCE01330-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅特定改修特別税額控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01340" type="BCE01340-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"認定長期優良住宅新築等特別税額控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00872" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修特別控除、住宅特定改修・認定長期優良住宅新築等特別税額控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00875" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00878" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00881" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電子証明書等特別控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00882" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00883" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00885" type="BCE00885-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00895" type="BCE00895-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害減免額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00940" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"予定納税額　（第１期分・第２期分）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第３期分の税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納める税金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告加算税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01250" type="BCE01250-7-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税区分名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"重加算税"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告し又は処分の通知を受けた額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BAA00055-7-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAB00000-7-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAD00000-7-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE00030-7-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE00038-7-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE00048-7-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE00140-7-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BCE00223-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00225-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00253-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00255-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00313-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00315-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00341-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00343-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00344-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00345-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BCE00450-7-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE00480-7-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BCE00795-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00796-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE01320-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE01330-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE01340-7-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BCE00885-7-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE00895-7-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE01250-7-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BCE00450-7-1type">
<xsd:simpleContent>
<xsd:extension base="BCE00450-7-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCE00480-7-1type">
<xsd:simpleContent>
<xsd:extension base="BCE00480-7-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
