etax/19XMLスキーマ/kyotsu/TEZ010-017.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：年分所得税及び復興特別所得税の更正の請求書(令和6年分用)
version：17.0
Date：2024年08月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ010-17-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="17.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ010-17-0group">
<xsd:sequence>
<xsd:element name="TEZ010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00000" type="BAA00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BAB00000" type="BAB00000-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求の目的となった申告又は処分の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BAC00000" type="BAC00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告書を提出した日、処分の通知を受けた日又は請求の目的となった事実が生じた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BAD00000" type="BAD00000-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求をする理由、請求をするに至った事情の詳細等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAE00000" type="BAE00000-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付した書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BCE00000" type="BCE00000-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額の計算書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BAF00000" type="BAF00000-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分（更正通知書等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAH00000" type="BAH00000-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分（還付金振込）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAG00000" type="BAG00000-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座情報提供同意区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAI00000" type="BAI00000-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座情報利用同意区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ010-17-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BAA00000-17-0type">
<xsd:sequence>

<xsd:element name="BAA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分所得税及び復興特別所得税の更正の請求書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00020" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00030" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00040" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00043" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00045" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地（住所等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00055" type="BAA00055-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所以外の事業所、事務所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00057" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号（マイナンバー）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00080" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分所得税及び復興特別所得税について次のとおり更正の請求をします。"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00110" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BAA00120" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金の受取場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BAA00140" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00150" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（電話番号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAA00160" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BAC00000-17-0type">
<xsd:sequence>

<xsd:element name="BAC00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BCE00000-17-0type">
<xsd:sequence>

<xsd:element name="BCE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"総合課税の所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00020" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"総合課税の所得金額　　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00030" type="BCE00030-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00045" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00048" type="BCE00048-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特例表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00130" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"分離課税の所得金額　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00140" type="BCE00140-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得から差し引かれる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損、医療費(特例)控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00223" type="BCE00223-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"雑損控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00225" type="BCE00225-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"医療費(特例)控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料、小規模企業共済等掛金控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00253" type="BCE00253-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"社会保険料控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00255" type="BCE00255-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"小規模企業共済等掛金控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生命保険料、地震保険料控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01450" type="BCE01450-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生命保険料控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01460" type="BCE01460-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地震保険料控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寡婦、ひとり親、勤労学生、障害者控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00341" type="BCE00341-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00343" type="BCE00343-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寡婦控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00344" type="BCE00344-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ひとり親控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00345" type="BCE00345-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勤労学生控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配偶者(特別)控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"扶養控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00480" type="BCE00480-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基礎控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)から(9)までの計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"寄附金控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税される所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)に対する金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)に対する金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)に対する金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当控除、投資税額等の控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00795" type="BCE00795-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00796" type="BCE00796-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"投資税額等の控除区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(特定増改築等)住宅借入金等特別控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"政党等寄附金等特別控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00872" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅耐震改修特別控除等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00878" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00895" type="BCE00895-17-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再々差引所得税額　特例表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引所得税額　請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害減免額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再差引所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"令和６年分特別税額控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01610" type="BCE01610-17-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"再々差引所得税額　請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別所得税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税及び復興特別所得税の額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE00940" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額控除等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE00960" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"予定納税額　（第１期分・第２期分）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第３期分の税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納める税金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCE01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BCE01580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の第３期分の税額　請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCE01590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第３期分の税額の差額　請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BAA00055-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAB00000-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAD00000-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BAE00000-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE00030-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE00048-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE00140-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="13"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BCE00223-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00225-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00253-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00255-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE01450-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE01460-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00341-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00343-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00344-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00345-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BCE00480-17-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BCE00795-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BCE00796-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BCE00895-17-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="3"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCE01610-17-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BAF00000-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BAH00000-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BAG00000-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BAI00000-17-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="BCE00480-17-0type">
<xsd:simpleContent>
<xsd:extension base="BCE00480-17-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BCE01610-17-0type">
<xsd:simpleContent>
<xsd:extension base="BCE01610-17-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
