etax/19XMLスキーマ/kyotsu/TEZ060-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：消費税及び地方消費税の更正の請求書
version：2.0
Date：2004年11月08日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ060-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ060-2-0group">
<xsd:sequence>
<xsd:element name="TEZ060">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADA00000" type="ADA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00000" type="ADB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ADC00000" type="ADC00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ060-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ADA00000-2-0type">
<xsd:sequence>

<xsd:element name="ADA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00040" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者の氏名(フリガナ)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称及び代表者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADA00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADA00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00120" type="ADA00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00130" type="ADA00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求をする理由、請求をするに至った事情等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告書提出年月日又は更正決定通知書受理年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00150" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金の受取場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00160" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ADB00000-2-0type">
<xsd:sequence>

<xsd:element name="ADB00010" type="ADB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額（　　　額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税の税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除過大調整税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除対象仕入税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還等対価に係る税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貸倒れに係る税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額小計((4)+(5)+(6))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除不足還付税額((7)-(2)-(3))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額((2)+(3)-(7))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付税額((9)-(10))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付還付税額((10)-(9))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方消費税の税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方消費税の課税標準となる消費税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00420" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除不足還付税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"譲渡割額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付額((13)*25%)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税額((14)*25%)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付譲渡割額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00580" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付譲渡割額((16)-(17))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間納付還付譲渡割額((17)-(16))"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ADA00120-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ADA00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ADB00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ADC00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
