etax/19XMLスキーマ/kyotsu/TEZ047-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：更正の請求書(復興特別法人税用)
version：1.0
Date：2012年07月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ047-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ047-1-0group">
<xsd:sequence>
<xsd:element name="TEZ047">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URA00000" type="URA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URB00000" type="URB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税事業年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00000" type="URC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ047-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="URA00000-1-0type">
<xsd:sequence>

<xsd:element name="URA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URA00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URA00070" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URA00080" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URA00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URA00110" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URA00120" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URA00140" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URA00150" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URA00160" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URA00170" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URA00180" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="URB00000-1-0type">
<xsd:sequence>

<xsd:element name="URB00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URB00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="URC00000-1-0type">
<xsd:sequence>

<xsd:element name="URC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URC00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連結納税の承認を取り消された場合等における既に控除された法人税額の特別控除額の加算額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00170" type="URC00170-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00180" type="URC00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"復興特別法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URC00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URC00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき復興特別法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URC00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="URC00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="URC00340" type="URC00340-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(更正の請求をする理由等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00350" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告書提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正決定通知書受理年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="URC00370" type="URC00370-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="URC00170-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="URC00180-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="URC00340-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="URC00370-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="URC00170-1-0type">
<xsd:simpleContent>
<xsd:extension base="URC00170-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="URC00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="URC00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
