etax/19XMLスキーマ/kyotsu/TEZ094-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：次葉 更正の請求による課税標準等又は税額等(相続税-付表6)(令和5年1月分以降用)
version：2.0
Date：2023年05月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ094-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ094-2-0group">
<xsd:sequence>
<xsd:element name="TEZ094">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00000" type="UGA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　事業用資産納税猶予税額の基となる相続税の総額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGB00000" type="UGB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　事業用資産納税猶予税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ094-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UGA00000-2-0type">
<xsd:sequence>

<xsd:element name="UGA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「特定価額に基づく課税遺産総額」等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)特例事業用資産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)特例事業相続人等に係る特定債務額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)特定価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)特例事業相続人等以外の相続人等の課税価格の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)基礎控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)特定価額に基づく課税遺産総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGA00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「特定価額に基づく相続税の総額」等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00220" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00230" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)法定相続人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGA00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)法定相続分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00250" type="UGA00250-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGA00260" type="UGA00260-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGA00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)法定相続分に応ずる取得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGA00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)相続税の総額の基礎となる税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGA00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)相続税の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGA00310" type="UGA00310-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UGA00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGA00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UGB00000-2-0type">
<xsd:sequence>

<xsd:element name="UGB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)特例事業相続人等の税額控除額の合計と相続時精算課税分の贈与税額控除額の合計から暦年課税分の贈与税額控除額を差し引いた額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)特定価額に基づく特例事業相続人等の算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)特定価額に基づき相続税額の２割加算が行われる場合の加算金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"a（(2)＋(3)－特例事業相続人等の暦年課税分の贈与税額控除額）の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"b特例事業相続人等の課税価格に基づく算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)（(1)＋a－b）の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UGB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)事業用資産納税猶予税額（a－(4)）の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UGB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="UGA00250-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UGA00260-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UGA00310-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="UGA00250-2-0type">
<xsd:simpleContent>
<xsd:extension base="UGA00250-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UGA00260-2-0type">
<xsd:simpleContent>
<xsd:extension base="UGA00260-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
