etax/19XMLスキーマ/kyotsu/TEZ093-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：次葉 更正の請求による課税標準等又は税額等(相続税-付表5)(令和5年1月分以降用)
version：2.0
Date：2023年05月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ093-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ093-2-0group">
<xsd:sequence>
<xsd:element name="TEZ093">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00000" type="UFA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　美術品納税猶予税額の基となる相続税の総額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UFB00000" type="UFB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　美術品納税猶予税額の計算"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ093-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UFA00000-2-0type">
<xsd:sequence>

<xsd:element name="UFA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「特定価額に基づく課税遺産総額」等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)寄託相続人の特定美術品の価額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)寄託相続人に係る債務及び葬式費用の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)寄託相続人が相続又は遺贈により取得した財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)控除未済債務額の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)特定価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)特定価額の20％に相当する金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)寄託相続人以外の相続人等の課税価格の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)基礎控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)特定価額に基づく課税遺産総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)特定価額の20％に相当する金額に基づく課税遺産総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「特定価額に基づく相続税の総額」等の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00340" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00350" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)法定相続人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UFA00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)法定相続分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00370" type="UFA00370-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分子"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UFA00380" type="UFA00380-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分母"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)法定相続分に応ずる取得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UFA00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)相続税の総額の基礎となる税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UFA00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)法定相続分に応ずる取得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UFA00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(16)相続税の総額の基礎となる税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(17)相続税の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00440" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00450" type="UFA00450-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UFA00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00480" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(18)相続税の総額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次葉合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFA00500" type="UFA00500-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UFA00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFA00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税の総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UFB00000-2-0type">
<xsd:sequence>

<xsd:element name="UFB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)寄託相続人の税額控除額の合計と相続時精算課税分の贈与税額控除額の合計から暦年課税分の贈与税額控除額を差し引いた額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)特定価額に基づく寄託相続人の算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)特定価額に基づき相続税額の２割加算が行われる場合の加算金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"a（(2)＋(3)－寄託相続人の暦年課税分の贈与税額控除額）の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)特定価額の20％に相当する金額に基づく寄託相続人の算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)特定価額の20％に相当する金額に基づき相続税額の２割加算が行われる場合の加算金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"b（(4)＋(5)－寄託相続人の暦年課税分の贈与税額控除額）の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"c寄託相続人の課税価格に基づく算出税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)（(1)＋a－b－c）の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)（a－b－(6)）の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)特定美術品が２以上ある場合の特定美術品ごとの美術品納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"イ（特定美術品の名称）に係る美術品納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00340" type="UFB00340-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定美術品の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UFB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ロ（特定美術品の名称）に係る美術品納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00380" type="UFB00380-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定美術品の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UFB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ハ（特定美術品の名称）に係る美術品納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00420" type="UFB00420-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定美術品の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UFB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UFB00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)美術品納税猶予税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UFB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="UFA00370-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UFA00380-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UFA00450-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UFA00500-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UFB00340-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UFB00380-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UFB00420-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="UFA00370-2-0type">
<xsd:simpleContent>
<xsd:extension base="UFA00370-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="UFA00380-2-0type">
<xsd:simpleContent>
<xsd:extension base="UFA00380-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
