etax/19XMLスキーマ/kyotsu/TEZ095-015.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：次葉 更正の請求による課税標準等(贈与税-付表3)(令和7年分以降用)
version：15.0
Date：2025年08月15日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ095-15-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="15.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ095-15-0group">
<xsd:sequence>
<xsd:element name="TEZ095">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00000" type="AKA00000-15-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ095-15-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AKA00000-15-0type">
<xsd:sequence>

<xsd:element name="AKA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の合計額１"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKA00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅取得等資金の合計額２"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKA00073" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税限度額の計算　住宅資金非課税限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00078" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKA00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税限度額の計算　令和６年分以後の贈与税の申告で非課税の適用を受けた金額　請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税限度額の計算　住宅資金非課税限度額の残額　請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者別の非課税の適用を受ける金額の計算　(48)のうち非課税の適用を受ける金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者別の非課税の適用を受ける金額の計算　(49)のうち非課税の適用を受ける金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与者別の非課税の適用を受ける金額の計算　非課税の適用を受ける金額の合計額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKA00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与税の課税価格に算入される金額の計算　(48)のうち課税価格に算入される金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AKA00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与税の課税価格に算入される金額の計算　(49)のうち課税価格に算入される金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
