etax/19XMLスキーマ/kyotsu/TEZ044-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：更正の請求書(外国法人用)(平成31年4月1日以後終了事業年度分)
version：1.1
Date：2023年01月17日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ044-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ044-1-1group">
<xsd:sequence>
<xsd:element name="TEZ044">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJA00000" type="UJA00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00000" type="UJB00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="UJC00000" type="UJC00000-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分(更正通知書等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJD00000" type="UJD00000-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知希望区分(還付金振込)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ044-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="UJA00000-1-1type">
<xsd:sequence>

<xsd:element name="UJA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJA00040" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJA00050" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJA00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJA00070" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）法人名等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJA00090" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJA00100" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJA00110" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJA00120" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJA00130" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国内源泉所得に係る事業等の責任者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJA00140" type="gen:JIGYO_NAIYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJA00150" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金融機関等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJA00160" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="UJB00000-1-1type">
<xsd:sequence>

<xsd:element name="UJB00010" type="UJB00010-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国税通則法第23条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00020" type="UJB00020-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税法第145条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00030" type="UJB00030-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税法第24条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00040" type="UJB00040-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法第66条の４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業年度等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額又は欠損金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"軽減税率適用所得金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額の特別控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"リース特別控除取戻税額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00540" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00550" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00600" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使途秘匿金に対する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00660" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税額計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00740" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額の控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00860" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00870" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引所得に対する法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00890" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00910" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除しきれなかった金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00960" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB00970" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB00990" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"翌期へ繰り越す欠損金又は災害損失金"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)恒久的施設帰属所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)その他の国内源泉所得に係る所得の金額に係る法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"13(1)のうち"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の国内源泉所得法人税額から控除できる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除しきれなかった金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"13(2)のうち"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"恒久的施設帰属所得に係る法人税額から控除できる金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除しきれなかった金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告分の法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準法人税額の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分配時調整外国税相当額の控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外国税額の控除額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"中間申告分の地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01560" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき地方法人税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="UJB01600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"この請求前の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正の請求金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="UJB01620" type="UJB01620-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(更正の請求をする理由等)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01630" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"修正申告書提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01640" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正決定通知書受理年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="UJB01650" type="UJB01650-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="UJB00010-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="UJB00020-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="UJB00030-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="UJB00040-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="UJB01620-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="150"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="UJB01650-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="UJC00000-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="UJD00000-1-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
