etax/19XMLスキーマ/kyotsu/TEZ120-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：国税関係帳簿の電磁的記録等による保存等の承認申請書(帳簿)
version：3.0
Date：2009年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ120-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ120-3-0group">
<xsd:sequence>
<xsd:element name="TEZ120">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TEZ120-1" type="TEZ120-1-3-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"一面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEZ120-2" type="TEZ120-2-3-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"二面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEZ120-3" type="TEZ120-3-3-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"三面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="TEZ120-4" type="TEZ120-4-3-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"四面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ120-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="TEZ120-1-3-0type">
<xsd:sequence>

<xsd:element name="BOA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOA00020" type="BOA00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOA00030" type="BOA00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(所轄外税務署)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)住所又は居所（法人の場合）本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOA00050" type="gen:NOZEISHA_ADR_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOA00055" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所（法人の場合）本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOA00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)名称（屋号）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOA00090" type="BOA00090-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOA00100" type="BOA00100-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称（屋号）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)氏名（法人の場合）代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOA00120" type="BOA00120-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOA00130" type="BOA00130-3-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（法人の場合）代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)（法人の場合）代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOA00150" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOA00155" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOA00160" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOA00170" type="gen:DAIHYO_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOA00180" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOB00010" type="BOB00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第４条第１項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOB00020" type="BOB00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第５条第１項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　承認を受けようとする国税関係帳簿の種類、備付けを開始する日及び保存場所等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOC00010" minOccurs="0" maxOccurs="10">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOC00030" type="BOC00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"根拠税法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOC00040" type="BOC00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOC00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備付け開始日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOC00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保存方法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOC00070" type="BOC00070-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電磁的記録"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOC00080" type="BOC00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＣＯＭ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOC00090" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地等(上段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOC00100" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保存場所(下段)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="TEZ120-2-3-0type">
<xsd:sequence>

<xsd:element name="BOD00000" type="BOD00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　所轄外税務署長を経由して提出する理由（法第6条第6項の規定を適用しようとする場合）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOE00000" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　設立の日（新たに設立された法人が、法第6条第1項ただし書の規定を適用しようとする場合）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　取りやめの届出書を提出し、又は取消しの通知を受けた国税関係帳簿の種類及びその年月日（この申請に係る国税関係帳簿について、電磁的記録等による保存等の取りやめの届出書を提出し、又は承認を取り消された後に、再び、承認を受けようとする場合）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOF00010" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOF00020" type="BOF00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOF00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象となった帳簿の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOF00040" type="BOF00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"根拠税法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOF00050" type="BOF00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOF00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出書の提出・通知書の受理年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"対象となった保存方法"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOF00080" type="BOF00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電磁的記録"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOF00090" type="BOF00090-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＣＯＭ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５　承認を受けようとする国税関係帳簿の作成に使用する電子計算機の概要"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOG00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOG00030" type="BOG00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"コンピュータ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOG00040" type="BOG00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プリンタ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOG00060" type="BOG00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOG00070" type="BOG00070-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOG00080" type="BOG00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機種名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOG00090" type="BOG00090-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"台数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOG00100" type="BOG00100-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"運用形態"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOG00110" type="BOG00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設置場所（委託運用の場合は、委託先の名称及び所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６　承認を受けようとする国税関係帳簿の作成に使用するプログラムの概要"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOH00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOH00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOH00030" type="BOH00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自己開発"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOH00040" type="BOH00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"委託開発"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOH00050" type="BOH00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市販"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOH00060" type="BOH00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOH00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市販プログラムの場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOH00080" type="BOH00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"メーカー名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOH00090" type="BOH00090-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"商品名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOH00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"市販プログラム以外の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOH00110" type="BOH00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所有者名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOH00120" type="BOH00120-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"プログラム言語"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOH00130" type="BOH00130-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="TEZ120-3-3-0type">
<xsd:sequence>

<xsd:element name="BOI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７　財務省令に定める要件を満たすためにとろうとする措置"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電磁的記録による保存等・ＣＯＭによる保存に共通の措置"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOI00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)訂正又は削除の事実及び内容の確認に関する措置（第3条第1項第1号イ関係）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOI00030" type="BOI00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データを直接に訂正し又は削除することができるが、その事実及び内容が自動的に記録されるシステムを使用する。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00040" type="BOI00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"データを直接に訂正し又は削除することができないシステムを使用し、訂正又は削除は、いわゆる反対仕訳（当初データの特定に必要な情報を付加）を入力することにより行う。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00050" type="BOI00050-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の方法による。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00060" type="BOI00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00070" type="BOI00070-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ただし、入力日から［　］日間に限っては、訂正又は削除の事実及び内容を残さない（内部規程等でこの旨を定める）。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00080" type="BOI00080-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"［　　］日間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOI00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)追加入力した事実の確認に関する措置（第3条第1項第1号ロ関係）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOI00100" type="BOI00100-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入力データに入力年月日の情報を自動的に付加する（付加した情報を訂正し又は削除することができない）システムを使用する。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00110" type="BOI00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"入力データに個々のデータを特定することができる情報[一連番号、伝票番号、その他(　　)]を自動的に付加する（付加した情報を訂正し又は削除することができない）システムを使用する。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00120" type="BOI00120-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一連番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00130" type="BOI00130-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"伝票番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00140" type="BOI00140-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00150" type="BOI00150-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00160" type="BOI00160-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の方法による。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00170" type="BOI00170-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOI00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)国税関係帳簿間の記録事項の関連性の確認に関する措置（第3条第1項第2号関係）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOI00190" type="BOI00190-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"[一連番号、伝票番号、その他(　　)]により国税関係帳簿間の関連性を確認することができるようにする。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00200" type="BOI00200-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一連番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00210" type="BOI00210-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"伝票番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00220" type="BOI00220-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00230" type="BOI00230-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00250" type="BOI00250-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の方法による。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00260" type="BOI00260-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOI00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)システム関係書類及び事務手続関係書類の備付けに関する措置（第3条第1項第3号関係）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOI00280" type="BOI00280-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"次の名称の書類を備え付ける。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00290" type="BOI00290-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)システムの概要を記載した書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00300" type="BOI00300-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)システムの開発に際して作成した書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00310" type="BOI00310-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)システムの操作説明書"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00320" type="BOI00320-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)電子計算機処理に関する事務手続を明らかにした書類（又は処理委託契約書）及び電磁的記録の備付け及び保存に関する事務手続を明らかにした書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOI00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)ディスプレイ及びプリンタの備付け並びに出力に関する措置（第3条第1項第4号関係）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOI00340" type="BOI00340-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電磁的記録の備付け及び保存をする場所に出力のための電子計算機、プログラム、ディスプレイ及びプリンタを備え付けて、電磁的記録をディスプレイの画面及び書面に、整然とした形式及び明りょうな状態で出力することができるようにする。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00350" type="BOI00350-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の方法による。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOI00360" type="BOI00360-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="TEZ120-4-3-0type">
<xsd:sequence>

<xsd:element name="BOJ00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７　財務省令に定める要件を満たすためにとろうとする措置"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電磁的記録による保存等・ＣＯＭによる保存に共通の措置"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)検索機能の確保に関する措置（第3条第1項第5号関係）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00030" type="BOJ00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記録項目を検索の条件として設定することができる。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"検索の条件として設定することができる記録項目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1段目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00060" type="BOJ00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00070" type="BOJ00070-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定科目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00080" type="BOJ00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取引金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"検索条件"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00100" type="BOJ00100-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00110" type="BOJ00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00120" type="BOJ00120-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な帳簿名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00130" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"2段目以降 繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"検索条件1"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00150" type="BOJ00150-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00160" type="BOJ00160-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名1"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"検索条件2"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00180" type="BOJ00180-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00190" type="BOJ00190-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名2"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"検索条件3"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00210" type="BOJ00210-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00220" type="BOJ00220-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名3"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"検索条件4"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00240" type="BOJ00240-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00250" type="BOJ00250-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項目名4"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00260" type="BOJ00260-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"主な帳簿名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00270" type="BOJ00270-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日付け又は金額に係る記録項目は、その範囲を指定して条件を設定することができる。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00280" type="BOJ00280-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"二以上の記録項目を組み合わせて条件を設定することができる。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"COMによる保存に固有の措置"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)COMの作成等に関する事務手続関係書類等の備付けに関する措置（第4条第1項第1号関係）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00310" type="BOJ00310-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"COMの作成及び保存に関する事務手続を明らかにした書類として次の名称の書類を備え付ける。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00320" type="BOJ00320-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00330" type="BOJ00330-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)保存義務者（又は事務責任者）の電磁的記録が真正に出力され、ＣＯＭが作成された旨を証する記載及び記名押印、(2)ＣＯＭの作成責任者の記名押印、(3)ＣＯＭの作成年月日が記載された書類を備え付ける。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00340" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)ＣＯＭの索引簿の備付けに関する措置（第4条第1項第2号関係）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00350" type="BOJ00350-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"帳簿の種類などを特定し、対応するＣＯＭを探し出すことができる索引簿を備え付ける。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00360" type="BOJ00360-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"索引簿の備付けに代え、ＣＯＭフィッシュのヘッダーに所要の事項を出力し、これをフィッシュアルバムに整然と収納する。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00370" type="BOJ00370-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の方法による。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00380" type="BOJ00380-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)ＣＯＭの索引の出力に関する措置（第4条第1項第3号関係）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00400" type="BOJ00400-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＣＯＭごとの記録事項の索引をそれぞれのＣＯＭに出力する。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)マイクロフィルムリーダプリンタの備付け及び出力に関する措置（第4条第1項第4号関係）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00420" type="BOJ00420-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ＣＯＭの保存をする場所に出力のためのマイクロフィルムリーダプリンタを備え付けて、ＣＯＭの内容をマイクロフィルムリーダプリンタの画面及び書面に、整然とした形式及び明りょうな状態で出力することができるようにする。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00430" type="BOJ00430-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の方法による。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00440" type="BOJ00440-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOJ00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)３年間の電磁的記録の並行保存又はＣＯＭの検索機能の確保に関する措置（第4条第1項第5号関係）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOJ00460" type="BOJ00460-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記(5)及び(6)の措置をとって電磁的記録を保存する。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00470" type="BOJ00470-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記(6)の機能に相当するＣＯＭの記録事項の検索をすることができる機能を確保する。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00475" type="BOJ00475-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記以外の方法による。"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOJ00480" type="BOJ00480-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（　　　　　）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BOK00000" type="BOK00000-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８　その他参考となる事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOL00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付書類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BOL00010" type="BOL00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1 電子計算機処理システムの概要を記載した書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOL00020" type="BOL00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2 電子計算機処理に関する事務手続の概要を明らかにした書類（当該電子計算機処理を他の者に委託している場合には、その委託に係る契約書の写し）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BOL00030" type="BOL00030-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3 記載事項を補完するために必要となる書類その他参考となるべき書類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:complexType name="BOA00090-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_YAGO_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="BOA00100-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="NOZEISHA_YAGO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="BOA00120-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="BOA00130-3-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM"/>
                <xsd:enumeration value="NOZEISHA_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="BOA00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOA00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOB00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOB00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOC00030-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOC00040-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOC00070-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOC00080-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOD00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="300"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOF00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOF00040-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOF00050-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="32"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOF00080-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOF00090-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOG00030-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOG00040-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOG00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOG00070-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOG00080-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOG00090-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOG00100-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOG00110-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="145"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOH00030-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOH00040-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOH00050-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOH00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOH00080-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOH00090-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOH00110-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOH00120-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOH00130-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="45"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOI00030-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOI00040-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOI00050-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOI00060-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOI00070-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOI00080-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOI00100-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOI00110-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOI00120-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOI00130-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOI00140-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOI00150-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOI00160-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOI00170-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOI00190-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOI00200-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOI00210-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOI00220-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOI00230-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOI00250-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOI00260-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOI00280-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOI00290-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOI00300-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOI00310-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOI00320-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOI00340-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOI00350-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOI00360-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOJ00030-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00060-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00070-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00080-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00100-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOJ00110-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOJ00120-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOJ00150-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOJ00160-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOJ00180-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOJ00190-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOJ00210-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOJ00220-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOJ00240-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOJ00250-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOJ00260-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOJ00270-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00280-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00310-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOJ00320-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOJ00330-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00350-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00360-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00370-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOJ00380-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOJ00400-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00420-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00430-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOJ00440-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOJ00460-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00470-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOJ00475-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BOJ00480-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BOK00000-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="800"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BOL00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOL00020-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BOL00030-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="BOG00090-3-0type">
<xsd:simpleContent>
<xsd:extension base="BOG00090-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BOI00080-3-0type">
<xsd:simpleContent>
<xsd:extension base="BOI00080-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
