etax/19XMLスキーマ/kyotsu/TEZ190-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：国税関係書類の電磁的記録によるスキャナ保存の適用届出書(過去分重要書類)
version：2.0
Date：2021年09月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ190-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ190-2-0group">
<xsd:sequence>
<xsd:element name="TEZ190">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RCA00000" type="RCA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCB00000" type="RCB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　届出をする過去分重要書類の種類及び基準日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="RCD00000" type="RCD00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　その他参考となる事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ190-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RCA00000-2-0type">
<xsd:sequence>

<xsd:element name="RCA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00020" type="RCA00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00030" type="RCA00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(所轄外税務署)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00035" type="RCA00035-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(規則第２条第10項の規定を適用して提出する理由)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)住所又は居所(法人の場合)本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RCA00050" type="gen:NOZEISHA_ADR_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00060" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00070" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所(法人の場合)本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00080" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RCA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)名称(屋号)"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RCA00100" type="RCA00100-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00110" type="RCA00110-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称(屋号)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RCA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)氏名(法人の場合)代表者氏名"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RCA00130" type="RCA00130-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00140" type="RCA00140-2-0IDREFtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名(法人の場合)代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RCA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)(法人の場合)代表者住所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RCA00160" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00170" type="gen:DAIHYO_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00180" type="gen:DAIHYO_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCA00190" type="gen:DAIHYO_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RCA00200" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RCB00000-2-0type">
<xsd:sequence>

<xsd:element name="RCB00010" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RCB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"書類の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RCB00030" type="RCB00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"根拠税法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCB00040" type="RCB00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RCB00050" type="RCB00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ファイル形式"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RCB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基準日((承認を受けた)保存に代える日)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RCA00100-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_YAGO_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="RCA00110-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="NOZEISHA_NM"/>
                <xsd:enumeration value="NOZEISHA_YAGO"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="RCA00130-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM_KN"/>
                <xsd:enumeration value="NOZEISHA_NM_KN"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>
<xsd:complexType name="RCA00140-2-0IDREFtype">
    <xsd:attribute name="IDREF" use="required">
        <xsd:simpleType>
            <xsd:restriction base="xsd:IDREF">
                <xsd:enumeration value="DAIHYO_NM"/>
                <xsd:enumeration value="NOZEISHA_NM"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="RCA00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RCA00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RCA00035-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="42"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RCB00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RCB00040-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RCB00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RCD00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="800"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
