etax/19XMLスキーマ/kyotsu/TEZ352-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：更正請求書次葉(その__)(令和4年12月31日以後終了課税期間分)
version：1.0
Date：2022年09月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ352-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ352-1-0group">
<xsd:sequence>
<xsd:element name="TEZ352">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTA00000" type="RTA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00000" type="RTB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ352-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="RTA00000-1-0type">
<xsd:sequence>

<xsd:element name="RTA00010" type="RTA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（その＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTA00030" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="RTB00000-1-0type">
<xsd:sequence>

<xsd:element name="RTB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税石油ガス"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00020" type="RTB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00040" type="RTB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RTB00060" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00070" type="RTB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00080" type="RTB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00100" type="RTB00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RTB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額の合計額　正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除（還付）本税相当額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"戻入れによるもの　正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入によるもの　正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"領収不能によるもの　正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害被害によるもの　正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）の内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00190" type="RTB00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RTB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計　正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RTB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金相当本税額　正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき本税額　正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="RTB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"更正前の税額等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RTB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金相当本税額　正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RTB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき本税額　正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="RTA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RTB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RTB00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RTB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RTB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RTB00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RTB00190-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="RTB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="RTB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="RTB00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="RTB00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
