etax/19XMLスキーマ/kyotsu/TEZ351-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：更正請求書次葉(その__)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ351-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ351-1-0group">
<xsd:sequence>
<xsd:element name="TEZ351">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNA00000" type="CNA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNB00000" type="CNB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額（＿）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00000" type="CNC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税石油ガス"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00000" type="CND00000-1-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNE00000" type="CNE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNF00000" type="CNF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除（還付）本税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNG00000" type="CNG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ351-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CNA00000-1-0type">
<xsd:sequence>

<xsd:element name="CNA00010" type="CNA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（その＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNA00030" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNB00000-1-0type">
<xsd:sequence>

<xsd:element name="CNB00010" type="CNB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNC00000-1-0type">
<xsd:sequence>

<xsd:element name="CNC00010" type="CNC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNC00030" type="CNC00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額（＿）額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNC00060" type="CNC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CND00000-1-0type">
<xsd:sequence>

<xsd:element name="CND00010" type="CND00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00020" type="CND00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CND00040" type="CND00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CND00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額（＿）額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CND00070" type="CND00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CND00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNE00000-1-0type">
<xsd:sequence>

<xsd:element name="CNE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ)確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNF00000-1-0type">
<xsd:sequence>

<xsd:element name="CNF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"戻入れによるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入によるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"領収不能によるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害被害によるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNF00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）の内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNF00140" type="CNF00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNF00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ)確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CNG00000-1-0type">
<xsd:sequence>

<xsd:element name="CNG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金相当本税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ハ)確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CNG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき本税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CNG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CNG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ニ)確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CNA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CNB00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CNC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNC00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNC00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CND00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CND00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CND00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CND00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CNF00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CNC00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="CNC00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CNC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="CNC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CND00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="CND00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CND00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="CND00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
