etax/19XMLスキーマ/kyotsu/TEZ331-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：更正請求書次葉(その__)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ331-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ331-1-0group">
<xsd:sequence>
<xsd:element name="TEZ331">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLA00000" type="CLA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00000" type="CLB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額（＿）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00000" type="CLC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"揮発油"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00000" type="CLD00000-1-0type" minOccurs="0" maxOccurs="7">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLE00000" type="CLE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLF00000" type="CLF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除（還付）本税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLG00000" type="CLG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ331-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CLA00000-1-0type">
<xsd:sequence>

<xsd:element name="CLA00010" type="CLA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（その＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLA00030" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLB00000-1-0type">
<xsd:sequence>

<xsd:element name="CLB00010" type="CLB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLC00000-1-0type">
<xsd:sequence>

<xsd:element name="CLC00010" type="CLC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLC00030" type="CLC00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額（＿）額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLC00060" type="CLC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLD00000-1-0type">
<xsd:sequence>

<xsd:element name="CLD00010" type="CLD00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00020" type="CLD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00040" type="CLD00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額（＿）額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00070" type="CLD00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLE00000-1-0type">
<xsd:sequence>

<xsd:element name="CLE00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ)確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLF00000-1-0type">
<xsd:sequence>

<xsd:element name="CLF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"戻入れによるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入によるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害被害によるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLF00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）の内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLF00110" type="CLF00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLF00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLF00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLF00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLF00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLF00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ)確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLG00000-1-0type">
<xsd:sequence>

<xsd:element name="CLG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金相当本税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLG00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ハ)確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき本税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLG00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ニ)確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="CLA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CLB00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CLC00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLC00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLC00060-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLF00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="CLC00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="CLC00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CLC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="CLC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CLD00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="CLD00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CLD00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="CLD00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
