etax/19XMLスキーマ/kyotsu/TEZ371-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns="http://xml.e-tax.nta.go.jp/XSD/kyotsu"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：更正請求書次葉(その__)(令和4年12月31日前終了課税期間分)
version：2.0
Date：2022年09月01日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TEZ371-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TEZ371-2-0group">
<xsd:sequence>
<xsd:element name="TEZ371">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPA00000" type="CPA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPB00000" type="CPB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額（＿）額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00000" type="CPC00000-2-0type" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPD00000" type="CPD00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額の合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPE00000" type="CPE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"控除（還付）本税相当額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPF00000" type="CPF00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TEZ371-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CPA00000-2-0type">
<xsd:sequence>

<xsd:element name="CPA00010" type="CPA00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（その＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPA00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPA00030" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CPB00000-2-0type">
<xsd:sequence>

<xsd:element name="CPB00010" type="CPB00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CPC00000-2-0type">
<xsd:sequence>

<xsd:element name="CPC00010" type="CPC00010-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00020" type="CPC00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00030" type="CPC00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税率"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPC00050" type="CPC00050-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CPC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額（＿）額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPC00080" type="CPC00080-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税標準"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPC00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CPD00000-2-0type">
<xsd:sequence>

<xsd:element name="CPD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ)確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CPE00000-2-0type">
<xsd:sequence>

<xsd:element name="CPE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"返還（戻入れ）によるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CPE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移入によるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CPE00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害被害によるもの"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPE00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CPE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）の内容"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPE00110" type="CPE00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（＿）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CPE00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPE00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ)確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CPF00000-2-0type">
<xsd:sequence>

<xsd:element name="CPF00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金相当本税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPF00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（ハ）確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CPF00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき本税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CPF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)正当とする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CPF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ニ)確定額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CPA00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CPB00010-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CPC00010-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CPC00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CPC00030-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CPC00050-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CPC00080-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CPE00110-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CPC00050-2-0type">
<xsd:simpleContent>
<xsd:extension base="CPC00050-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CPC00080-2-0type">
<xsd:simpleContent>
<xsd:extension base="CPC00080-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
