etax/19XMLスキーマ/saiken/CRZ010-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続税延納条件変更申請書
version：2.1
Date：2009年09月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="CRZ010-2-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/><xsd:enumeration value="2.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="CRZ010-2-1group">
<xsd:sequence>
<xsd:element name="CRZ010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CRZ010-1" type="CRZ010-1-2-1type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"1面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRZ010-2" type="CRZ010-2-2-1type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"2面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="CRZ010-2-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CRZ010-1-2-1type">
<xsd:sequence>

<xsd:element name="AAA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00040" type="AAA00040-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第＿号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00050" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00065" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00080" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00090" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00110" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00120" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00130" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　変更を求めようとする分納税額及び分納期限"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第1回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第2回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第3回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第4回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第5回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第6回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00300" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第7回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00350" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第8回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第9回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00450" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第10回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00500" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第11回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00540" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第12回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00580" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第13回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00620" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第14回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00660" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第15回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00700" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第16回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00740" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第17回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00780" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第18回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00820" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第19回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00860" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第20回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00900" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="CRZ010-2-2-1type">
<xsd:sequence>

<xsd:element name="AAC00000" type="AAC00000-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　変更を求めようとする理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　許可に係る分納税額及び分納期限"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第1回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第2回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第3回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第4回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第5回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00250" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第6回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00300" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第7回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00350" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第8回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00400" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第9回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00450" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第10回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00500" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第11回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00540" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第12回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00580" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第13回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00620" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第14回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00660" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第15回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00700" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第16回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00720" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00740" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第17回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00780" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00790" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第18回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00810" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00820" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第19回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00860" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第20回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00900" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00920" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)不動産等(又は立木)に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="AAA00040-2-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAC00000-2-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="539"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
