etax/19XMLスキーマ/saiken/CRZ160-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続税物納申請書
version：2.1
Date：2009年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="CRZ160-2-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/><xsd:enumeration value="2.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="CRZ160-2-1group">
<xsd:sequence>
<xsd:element name="CRZ160">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00000" type="ACA00000-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00000" type="ACB00000-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　物納申請税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ACC00000" type="ACC00000-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　延納によっても金銭で納付することを困難とする理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00000" type="ACD00000-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　物納財産の順位によらない場合の事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ACE00000" type="ACE00000-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5　その他参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="CRZ160-2-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ACA00000-2-1type">
<xsd:sequence>

<xsd:element name="ACA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00060" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00090" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00100" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00110" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ACB00000-2-1type">
<xsd:sequence>

<xsd:element name="ACB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同上のうち"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)現金で納付する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)延納を求めようとする税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)納税猶予を受ける税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)物納を求めようとする税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ACE00000-2-1type">
<xsd:sequence>

<xsd:element name="ACE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACE00020" type="ACE00020-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人 遺贈者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACE00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00050" type="ACE00050-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続開始  遺贈  年月日区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続開始　遺贈　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00070" type="ACE00070-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(期限内、期限後、修正)更正決定年月日区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告（期限内、期限後、修正）更正決定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00100" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地の指定を受けた場合のその指定された納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ACC00000-2-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACD00000-2-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="190"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ACE00020-2-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ACE00050-2-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ACE00070-2-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
