etax/19XMLスキーマ/saiken/CRZ290-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：納税の猶予申請書
version：2.0
Date：2014年11月19日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="CRZ290-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="CRZ290-2-0group">
<xsd:sequence>
<xsd:element name="CRZ290">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00000" type="AEA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00000" type="AEB00000-2-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"納付すべき国税　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00000" type="AEC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記のうち、納税の猶予を受けようとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00000" type="AED00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税の猶予を受けようとする期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00000" type="AEE00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害を受けた期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AEF00000" type="AEF00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"財産につき相当な損失を受けたことの事実の詳細"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AEG00000" type="AEG00000-2-0type" minOccurs="0" maxOccurs="14">
<xsd:annotation>
<xsd:appinfo>"被災の状況　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="CRZ290-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AEA00000-2-0type">
<xsd:sequence>

<xsd:element name="AEA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEB00000-2-0type">
<xsd:sequence>

<xsd:element name="AEB00011" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00020" type="AEB00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00045" type="AEB00045-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"滞納処分費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00090" type="AEB00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEC00000-2-0type">
<xsd:sequence>

<xsd:element name="AEC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"滞納処分費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00055" type="AEC00055-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AED00000-2-0type">
<xsd:sequence>

<xsd:element name="AED00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00030" type="AED00030-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"まで＿月間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEE00000-2-0type">
<xsd:sequence>

<xsd:element name="AEE00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEG00000-2-0type">
<xsd:sequence>

<xsd:element name="AEG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災前の全財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEG00020" type="AEG00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災財産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEG00050" type="AEG00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災の程度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(４)に対し保険金等により補てんされる額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引実損額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AEG00090" type="AEG00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEG00100" type="AEG00100-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AEB00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AEB00045-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AEB00090-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEC00055-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AED00030-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEF00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="500"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEG00020-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEG00050-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEG00090-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEG00100-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="AED00030-2-0type">
<xsd:simpleContent>
<xsd:extension base="AED00030-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AEG00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="AEG00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
