etax/19XMLスキーマ/saiken/CRZ220-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：物納撤回申請不動産の内訳
version：1.0
Date：2004年03月25日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="CRZ220-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="CRZ220-1-0group">
<xsd:sequence>
<xsd:element name="CRZ220">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADA00000" type="ADA00000-1-0type" minOccurs="0" maxOccurs="13">
<xsd:annotation>
<xsd:appinfo>"明細繰返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00000" type="ADB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="CRZ220-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ADA00000-1-0type">
<xsd:sequence>

<xsd:element name="ADA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"物納の撤回を求めようとする不動産"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADA00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00030" type="ADA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00040" type="ADA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収納価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ADA00060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の不動産上の賃借権等の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ADA00070" type="ADA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00080" type="ADA00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00090" type="ADA00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00100" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利者の住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADA00110" type="ADA00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"権利者名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ADB00000-1-0type">
<xsd:sequence>

<xsd:element name="ADB00010" type="ADB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ADB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収納価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ADA00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ADA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ADA00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ADA00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ADA00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ADA00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ADB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
