etax/19XMLスキーマ/saiken/CRZ290-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：納税の猶予申請書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="CRZ290-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="CRZ290-1-0group">
<xsd:sequence>
<xsd:element name="CRZ290">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00000" type="AEA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00000" type="AEB00000-1-0type" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"納付すべき国税　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00000" type="AEC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上記のうち、納税の猶予を受けようとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00000" type="AED00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税の猶予を受けようとする期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00000" type="AEE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害を受けた期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="CRZ290-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AEA00000-1-0type">
<xsd:sequence>

<xsd:element name="AEA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00030" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AEA00050" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEA00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEB00000-1-0type">
<xsd:sequence>

<xsd:element name="AEB00010" type="AEB00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00020" type="AEB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"滞納処分費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEB00090" type="AEB00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEC00000-1-0type">
<xsd:sequence>

<xsd:element name="AEC00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"加算税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"滞納処分費"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AED00000-1-0type">
<xsd:sequence>

<xsd:element name="AED00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AED00030" type="AED00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"まで＿月間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AEE00000-1-0type">
<xsd:sequence>

<xsd:element name="AEE00010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AEE00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AEB00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AEB00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AED00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AEB00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="AEB00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AED00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="AED00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
