etax/19XMLスキーマ/saiken/CRZ210-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：物納撤回申請書兼延納申請書
version：2.1
Date：2009年09月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="CRZ210-2-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/><xsd:enumeration value="2.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="CRZ210-2-1group">
<xsd:sequence>
<xsd:element name="CRZ210">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CRZ210-1" type="CRZ210-1-2-1type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"１面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRZ210-2" type="CRZ210-2-2-1type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"２面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="CRZ210-2-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CRZ210-1-2-1type">
<xsd:sequence>

<xsd:element name="AUA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00050" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00060" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00080" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00090" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00100" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通知年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　物納撤回及び延納申請税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"物納撤回により納付する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一時に納付する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最低一時に納付しなければならない税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"実際に一時に納付する税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納申請額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"左の内訳"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00340" type="AUA00340-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　金銭で一時に納付することを困難とする理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　不動産等の割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00390" type="AUA00390-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00420" type="AUA00420-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全体の課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00480" type="AUA00480-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00510" type="AUA00510-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00520" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全体の課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUA00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUA00540" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　物納財産収納済証書に記載してある収納の日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUA00550" type="AUA00550-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6　物納の撤回の承認を求めようとする理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="CRZ210-2-2-1type">
<xsd:sequence>

<xsd:element name="AUB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"9　延納税額、分納期限及び分納税額の計算の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第1回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第2回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第3回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第4回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00240" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第5回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00300" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第6回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第7回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00420" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00470" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第8回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00480" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00500" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00510" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00530" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第9回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00540" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00560" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00570" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第10回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00600" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00630" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00650" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第11回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00660" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00680" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第12回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00710" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00720" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00730" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00750" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第13回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00760" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00770" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00780" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00800" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第14回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00810" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00820" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00830" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00850" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第15回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00860" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00870" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00880" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00900" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第16回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00910" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00920" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00930" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB00950" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第17回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00960" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00970" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB00980" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB01000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第18回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB01010" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB01020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB01030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB01050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第19回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB01060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB01070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB01080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUB01100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第20回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB01110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB01120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AUB01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AUB01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AUC00000" type="AUC00000-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10　その他参考となる事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="AUA00340-2-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="190"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00390-2-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00420-2-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00480-2-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00510-2-1Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUA00550-2-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="288"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AUC00000-2-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="561"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="AUA00390-2-1type">
<xsd:simpleContent>
<xsd:extension base="AUA00390-2-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00420-2-1type">
<xsd:simpleContent>
<xsd:extension base="AUA00420-2-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00480-2-1type">
<xsd:simpleContent>
<xsd:extension base="AUA00480-2-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AUA00510-2-1type">
<xsd:simpleContent>
<xsd:extension base="AUA00510-2-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
