etax/19XMLスキーマ/saiken/CRZ310-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：相続税延納申請書
version：2.0
Date：2005年07月05日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="CRZ310-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="CRZ310-2-0group">
<xsd:sequence>
<xsd:element name="CRZ310">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CRZ310-1" type="CRZ310-1-2-0type" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:appinfo>"1面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CRZ310-2" type="CRZ310-2-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="CRZ310-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CRZ310-1-2-0type">
<xsd:sequence>

<xsd:element name="BEA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00050" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(フリガナ)氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00070" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00080" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEA00100" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00110" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEA00120" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　延納申請税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)納付すべき相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)(1)のうち物納申請税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)(1)のうち農地等の納税猶予をする税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)(4)のうち現金で納付する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)延納申請税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEC00000" type="BEC00000-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　金銭で納付することを困難とする理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　不動産等の割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00040" type="BED00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BED00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等((7)を含む。)の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00070" type="BED00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BED00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全体の課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BED00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00130" type="BED00130-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BED00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等((7)を含む。)の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BED00160" type="BED00160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BED00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全体の課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BED00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"4　延納申請税額の内訳、5　延納申請年数、6　利子税の割合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等の割合(11)が75％以上の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEE00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEE00040" type="BEE00040-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納申請年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEE00070" type="BEE00070-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納申請年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等の割合(11)が50％以上75％未満の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEE00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEE00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEE00110" type="BEE00110-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納申請年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEE00140" type="BEE00140-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納申請年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEE00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等の割合(11)が50％未満の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEE00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEE00180" type="BEE00180-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納申請年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEE00210" type="BEE00210-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納申請年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="CRZ310-2-2-0type">
<xsd:sequence>

<xsd:element name="BEH00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"9　分納税額、分納期限及び分納税額の計算の明細"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第1回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等又はその他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第2回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00080" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等又はその他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第3回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等又はその他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第4回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等又はその他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00240" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第5回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00260" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00290" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等又はその他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第6回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00320" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00330" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等又はその他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第7回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00380" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等又はその他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00430" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第8回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00440" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00450" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00470" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等又はその他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00480" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00490" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第9回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00500" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00510" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等又はその他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00540" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第10回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00560" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00570" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00590" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等又はその他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00600" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第11回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00620" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00630" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00640" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00650" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00660" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第12回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00670" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00690" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00710" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第13回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00720" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00740" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00760" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第14回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00770" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00780" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00790" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00800" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00810" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第15回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00820" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00830" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00840" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00850" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00860" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第16回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00870" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00880" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00890" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00900" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00910" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第17回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00920" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00930" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00940" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00950" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH00960" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第18回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00970" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH00980" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH00990" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH01000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH01010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第19回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH01020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH01030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH01040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH01050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH01060" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限回数　第20回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH01070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH01080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH01090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH01100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEH01110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH01120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEH01130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等又は立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH01140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"動産等又はその他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEH01150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEI00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"10　その他参考事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEI00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人、遺贈者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEI00020" type="BEI00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEI00030" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEI00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEI00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続開始　遺贈年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEI00060" type="BEI00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEI00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEI00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(期限内、期限後、修正)、更正、決定年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BEI00090" type="BEI00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(期限内、期限後、修正)更正決定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BEI00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BEI00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="BEC00000-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="174"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00040-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00070-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00130-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BED00160-2-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BEE00040-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BEE00070-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BEE00110-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BEE00140-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BEE00180-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BEE00210-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BEI00020-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BEI00060-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BEI00090-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



<xsd:complexType name="BED00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="BED00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BED00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="BED00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BED00130-2-0type">
<xsd:simpleContent>
<xsd:extension base="BED00130-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BED00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="BED00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BEE00040-2-0type">
<xsd:simpleContent>
<xsd:extension base="BEE00040-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BEE00070-2-0type">
<xsd:simpleContent>
<xsd:extension base="BEE00070-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BEE00110-2-0type">
<xsd:simpleContent>
<xsd:extension base="BEE00110-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BEE00140-2-0type">
<xsd:simpleContent>
<xsd:extension base="BEE00140-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BEE00180-2-0type">
<xsd:simpleContent>
<xsd:extension base="BEE00180-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BEE00210-2-0type">
<xsd:simpleContent>
<xsd:extension base="BEE00210-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
