etax/19XMLスキーマ/saiken/CRZ330-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：緑地保全地区等内の土地に係る相続税の延納の明細書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="CRZ330-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="CRZ330-1-0group">
<xsd:sequence>
<xsd:element name="CRZ330">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGA00000" type="BGA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00000" type="BGB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　延納申請税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00000" type="BGC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　緑地保全地区等内土地の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGD00000" type="BGD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　延納申請税額の内訳、4　延納申請年数、5　利子税の割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00000" type="BGE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"6　分納期限及び分納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGF00000" type="BGF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"7　緑地保全地区内土地の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="CRZ330-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BGA00000-1-0type">
<xsd:sequence>

<xsd:element name="BGA00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGB00000-1-0type">
<xsd:sequence>

<xsd:element name="BGB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納付すべき相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち物納申請税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（1）のうち農地等の納税猶予をする税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（4）のうち現金で納付する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納申請税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGC00000-1-0type">
<xsd:sequence>

<xsd:element name="BGC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合の判定"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"緑地保全地区等内土地の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGC00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00060" type="BGC00060-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGC00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等（（7）、（8）を含む。）の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00090" type="BGC00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全体の課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合の計算"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"緑地保全地区等内土地の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00150" type="BGC00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00180" type="BGC00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等（（7）、（8）を含む。）の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGC00210" type="BGC00210-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGC00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全体の課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGD00000-1-0type">
<xsd:sequence>

<xsd:element name="BGD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等の割合（12）が50％未満の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGD00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"緑地保全地区等内土地に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGD00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGD00040" type="BGD00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納申請年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGD00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGD00070" type="BGD00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納申請年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGD00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産に係る延納相続税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGD00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGD00100" type="BGD00100-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納申請年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGE00000-1-0type">
<xsd:sequence>

<xsd:element name="BGE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第１回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"緑地保全地区等内土地に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGE00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第２回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"緑地保全地区等内土地に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGE00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGE00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第３回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"緑地保全地区等内土地に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGE00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGE00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第４回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00230" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"緑地保全地区等内土地に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00270" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGE00280" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGE00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第５回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00300" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00310" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00320" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"緑地保全地区等内土地に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00330" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGE00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGE00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延納相続税額の分納税額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGE00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"緑地保全地区等内土地に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00390" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産に係る税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGE00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BGF00000-1-0type">
<xsd:sequence>

<xsd:element name="BGF00010" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGF00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地番"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGF00030" type="BGF00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"緑地保全地区等内の土地の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGF00040" type="BGF00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGF00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGF00060" type="BGF00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BGF00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BGF00080" type="BGF00080-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"地積"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGF00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相続税評価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BGF00100" type="BGF00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"備考"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BGC00060-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGC00090-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGC00150-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGC00180-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGC00210-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?"/><xsd:pattern value="[-]?\d?[.]\d"/><xsd:pattern value="[-]?\d?[.]\d\d"/><xsd:pattern value="[-]?\d?[.]\d\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGD00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGD00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGD00100-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BGF00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BGF00040-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGF00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGF00080-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?\d?\d?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BGF00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BGC00060-1-0type">
<xsd:simpleContent>
<xsd:extension base="BGC00060-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BGC00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="BGC00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BGC00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="BGC00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BGC00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="BGC00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BGC00210-1-0type">
<xsd:simpleContent>
<xsd:extension base="BGC00210-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BGD00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BGD00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BGD00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="BGD00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BGD00100-1-0type">
<xsd:simpleContent>
<xsd:extension base="BGD00100-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BGF00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BGF00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BGF00080-1-0type">
<xsd:simpleContent>
<xsd:extension base="BGF00080-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
