etax/19XMLスキーマ/saiken/CRZ360-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：贈与税延納申請書
version：2.1
Date：2009年08月27日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="CRZ360-2-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/><xsd:enumeration value="2.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="CRZ360-2-1group">
<xsd:sequence>
<xsd:element name="CRZ360">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHA00000" type="AHA00000-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00000" type="AHB00000-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1　延納申請税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AHC00000" type="AHC00000-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"2　金銭で納付することを困難とする理由"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AHD00000" type="AHD00000-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"3　分納税額及び分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00000" type="AHE00000-2-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"5　その他参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="CRZ360-2-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AHA00000-2-1type">
<xsd:sequence>

<xsd:element name="AHA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00050" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（フリガナ）氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00070" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00080" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"作成税理士"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHA00100" type="gen:DAIRI_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事務所所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00110" type="gen:DAIRI_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHA00120" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHB00000-2-1type">
<xsd:sequence>

<xsd:element name="AHB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)納付すべき贈与税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)(1)のうち納税猶予をする税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)差引((1)-(2))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)現金で納付する税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)延納申請税額((3)－(4))"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHD00000-2-1type">
<xsd:sequence>

<xsd:element name="AHD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第1回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHD00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHD00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第2回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHD00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHD00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第3回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHD00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第4回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHD00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHD00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"期間　第5回"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHD00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHD00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"分納税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AHE00000-2-1type">
<xsd:sequence>

<xsd:element name="AHE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"贈与年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(期限内、期限後、修正)、更正、決定年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AHE00050" type="AHE00050-2-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告(期限内、期限後、修正)更正決定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AHE00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AHE00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納期限"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AHC00000-2-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="168"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AHE00050-2-1Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
