etax/19XMLスキーマ/saiken/CRZ320-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns="http://xml.e-tax.nta.go.jp/XSD/saiken"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：不動産等の財産の明細書
version：1.0
Date：2004年02月12日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="CRZ320-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="CRZ320-1-0group">
<xsd:sequence>
<xsd:element name="CRZ320">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFA00000" type="BFA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00000" type="BFB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種類・不動産等の内訳"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BFC00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家屋・構築物"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="BFD00000" type="BFD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業（農業）用資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFE00000" type="BFE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFF00000" type="BFF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の財産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="BFG00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFH00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"不動産等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFI00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格による課税相続財産の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFJ00000" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格による不動産等の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="VR"
type="CRZ320-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BFA00000-1-0type">
<xsd:sequence>

<xsd:element name="BFA00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFA00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被相続人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFB00000-1-0type">
<xsd:sequence>

<xsd:element name="BFB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"土地（土地の上に存する権利を含む。）"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"田"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"畑"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"宅地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"山林"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の土地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（6）のうち特例農地等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"農業投資価格による価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFD00000-1-0type">
<xsd:sequence>

<xsd:element name="BFD00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"機械、器具、農耕具、その他の減価償却資産"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFE00000-1-0type">
<xsd:sequence>

<xsd:element name="BFE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定同族会社の株式及び出資"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFE00020" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"配当還元方式によったもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFE00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"その他の方式によったもの"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFF00000-1-0type">
<xsd:sequence>

<xsd:element name="BFF00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"立木"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


</xsd:schema>
