etax/19XMLスキーマ/tokeichosa/TOZ005-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/tokeichosa"
xmlns="http://xml.e-tax.nta.go.jp/XSD/tokeichosa"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：民間給与実態統計調査票(源泉徴収義務者用)様式第1号
version：1.1
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TOZ005-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TOZ005-1-1group">
<xsd:sequence>
<xsd:element name="TOZ005">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAC00000" type="AAC00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調査票名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AAD00000" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"１　名称又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAE00000" type="AAE00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２　所在地又は住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="AAF00000" type="AAF00000-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３　企業の主な業務"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="AAG00000" type="AAG00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４　給与所得者用調査票の枚数及び人員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00000" type="AAH00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５　この調査票について答えられる方の氏名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00000" type="AAI00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６　調査項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TOZ005-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AAC00000-1-1type">
<xsd:sequence>

<xsd:element name="AAC00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAE00000-1-1type">
<xsd:sequence>

<xsd:element name="AAE00010" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地又は住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAG00000-1-1type">
<xsd:sequence>

<xsd:element name="AAG00010" type="AAG00010-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"枚数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAG00020" type="AAG00020-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAH00000-1-1type">
<xsd:sequence>

<xsd:element name="AAH00010" type="AAH00010-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"内線番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00020" type="AAH00020-1-1Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"課(係)名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAI00000-1-1type">
<xsd:sequence>

<xsd:element name="AAI00010" type="AAI00010-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（１）組織及び資本金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（２）給与所得者数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAI00030" type="AAI00030-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ)３月末現在の人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00040" type="AAI00040-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ)６月末現在の人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00050" type="AAI00050-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ハ)９月末現在の人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00060" type="AAI00060-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ニ)１２月末現在の人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAI00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（３）年間給与支給総額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"（４）給与支給総額に対する年間源泉徴収税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="AAF00000-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="100"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAG00010-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAG00020-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00010-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAH00020-1-1Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAI00010-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAI00030-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAI00040-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAI00050-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AAI00060-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="AAG00010-1-1type">
<xsd:simpleContent>
<xsd:extension base="AAG00010-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAG00020-1-1type">
<xsd:simpleContent>
<xsd:extension base="AAG00020-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAI00010-1-1type">
<xsd:simpleContent>
<xsd:extension base="AAI00010-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAI00030-1-1type">
<xsd:simpleContent>
<xsd:extension base="AAI00030-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAI00040-1-1type">
<xsd:simpleContent>
<xsd:extension base="AAI00040-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAI00050-1-1type">
<xsd:simpleContent>
<xsd:extension base="AAI00050-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAI00060-1-1type">
<xsd:simpleContent>
<xsd:extension base="AAI00060-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
