etax/19XMLスキーマ/tokeichosa/TOZ010-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/tokeichosa"
xmlns="http://xml.e-tax.nta.go.jp/XSD/tokeichosa"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：民間給与実態統計調査票(給与所得者用)様式第2号
version：1.1
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="TOZ010-1-1VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/><xsd:enumeration value="1.1"/></xsd:restriction></xsd:simpleType>

<xsd:group name="TOZ010-1-1group">
<xsd:sequence>
<xsd:element name="TOZ010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABA00000" type="ABA00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調査票名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00000" type="ABB00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"調査項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00000" type="ABC00000-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"枚数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="TOZ010-1-1VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ABA00000-1-1type">
<xsd:sequence>

<xsd:element name="ABA00005" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABB00000-1-1type">
<xsd:sequence>

<xsd:element name="ABB00010" minOccurs="0" maxOccurs="8">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)氏名又は記号等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00050" type="ABB00050-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)一連番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00060" type="ABB00060-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)性別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00070" type="ABB00070-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)前年12月31日現在　満年齢"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00080" type="ABB00080-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)前年12月31日現在　勤続年数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00090" type="ABB00090-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)一年間に給与を支給した月数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00100" type="ABB00100-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)職務"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00110" type="ABB00110-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)年末調整の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00120" type="ABB00120-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)控除対象配偶者の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(10)扶養親族数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00140" type="ABB00140-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ)一般扶養親族[1]"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00150" type="ABB00150-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ)特定扶養親族[2]"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ハ)老人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00170" type="ABB00170-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)同居老親等[3]"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00180" type="ABB00180-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(b)一般[4]"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00190" type="ABB00190-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00200" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ニ)[1]から[4]のうち"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00210" type="ABB00210-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)障害者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(b)特別障害者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00230" type="ABB00230-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"同居"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00240" type="ABB00240-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非同居"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(11)本人が該当する控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00260" type="ABB00260-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ)障害者控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00270" type="ABB00270-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ)特別障害者控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00280" type="ABB00280-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ハ)老年者控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00290" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ニ)寡婦控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00300" type="ABB00300-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(a)特別加算あり"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00310" type="ABB00310-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(b)一般"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00320" type="ABB00320-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ホ)寡夫控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00330" type="ABB00330-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(へ)勤労学生控除"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)個人年金保険料支払額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(13)給与の金額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00360" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ)給料・手当等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ)賞与等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00380" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ハ)計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00390" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(14)諸控除"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ABB00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(イ)社会保険料控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00410" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ロ)小規模企業共済等掛金控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00420" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ハ)生命保険料控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ニ)損害保険料控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ホ)配偶者特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABB00450" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(ヘ)住宅借入金等特別控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ABB00460" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(15)年税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ABC00000-1-1type">
<xsd:sequence>

<xsd:element name="ABC00010" type="ABC00010-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"全体"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ABC00020" type="ABC00020-1-1type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"枚目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ABB00050-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00060-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00070-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00080-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00090-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="2"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00100-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00110-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="1"/><xsd:maxInclusive value="4"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00120-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:minInclusive value="0"/><xsd:maxInclusive value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00140-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00150-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00170-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00180-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00190-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00210-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00230-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00240-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00260-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:enumeration value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00270-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:enumeration value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00280-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:enumeration value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00300-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:enumeration value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00310-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:enumeration value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00320-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:enumeration value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABB00330-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:enumeration value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABC00010-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ABC00020-1-1Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ABB00050-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00050-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00060-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00060-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00070-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00070-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00080-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00080-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00090-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00090-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00100-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00100-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00110-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00110-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00120-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00120-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00140-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00140-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00150-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00150-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00170-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00170-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00180-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00180-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00190-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00190-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00210-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00210-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00230-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00230-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00240-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00240-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00260-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00260-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00270-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00270-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00280-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00280-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00300-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00300-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00310-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00310-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00320-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00320-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABB00330-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABB00330-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABC00010-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABC00010-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ABC00020-1-1type">
<xsd:simpleContent>
<xsd:extension base="ABC00020-1-1Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
