etax/19XMLスキーマ/gensen/GEA010-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：報酬・料金等の所得税徴収高計算書
version：4.0
Date：2012年09月11日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEA010-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEA030-4-0group">
<xsd:sequence>
<xsd:element name="GEA030" type="GEA010-4-0type"/>
</xsd:sequence>
</xsd:group>
<xsd:group name="GEA040-4-0group">
<xsd:sequence>
<xsd:element name="GEA040" type="GEA010-4-0type"/>
</xsd:sequence>
</xsd:group>
<xsd:group name="GEA050-4-0group">
<xsd:sequence>
<xsd:element name="GEA050" type="GEA010-4-0type"/>
</xsd:sequence>
</xsd:group>
<xsd:group name="GEA060-4-0group">
<xsd:sequence>
<xsd:element name="GEA060" type="GEA010-4-0type"/>
</xsd:sequence>
</xsd:group>
<xsd:group name="GEA070-4-0group">
<xsd:sequence>
<xsd:element name="GEA070" type="GEA010-4-0type"/>
</xsd:sequence>
</xsd:group>
<xsd:group name="GEA080-4-0group">
<xsd:sequence>
<xsd:element name="GEA080" type="GEA010-4-0type"/>
</xsd:sequence>
</xsd:group>
<xsd:group name="GEA090-4-0group">
<xsd:sequence>
<xsd:element name="GEA090" type="GEA010-4-0type"/>
</xsd:sequence>
</xsd:group>
<xsd:complexType name="GEA010-4-0type">
<xsd:sequence>
<xsd:element name="AAA00000" type="AAA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基本項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00000" type="AAB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00000" type="AAC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細１"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00000" type="AAD00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細２"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00000" type="AAE00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細３"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00000" type="AAF00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細４"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAG00000" type="AAG00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細５"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00000" type="AAH00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細６"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00000" type="AAI00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細７"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAJ00000" type="AAJ00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細８"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00000" type="AAK00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAL00000" type="AAL00000-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税徴収高計算書用紙の送付の要否"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEA010-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>

<xsd:complexType name="AAA00000-4-0type">
<xsd:sequence>

<xsd:element name="AAA00100" type="gen:KEISANSHO_KBNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"計算書の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00110" type="AAA00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納期等の区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAA00130" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAA00140" type="gen:yymm" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　年月"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAB00000-4-0type">
<xsd:sequence>

<xsd:element name="AAB00100" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"会計年度"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00110" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00120" type="gen:SEIRIBANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"徴収義務者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAB00140" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（所在地）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00150" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAB00160" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名（名称）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAB00170" type="AAB00170-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAC00000-4-0type">
<xsd:sequence>

<xsd:element name="AAC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAC00110" type="AAC00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAC00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAC00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00140" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAC00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAC00170" type="AAC00170-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払額（支給額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAD00000-4-0type">
<xsd:sequence>

<xsd:element name="AAD00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00110" type="AAD00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00140" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAD00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAD00170" type="AAD00170-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払額（支給額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAD00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAE00000-4-0type">
<xsd:sequence>

<xsd:element name="AAE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAE00110" type="AAE00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAE00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAE00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00140" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAE00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAE00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAE00170" type="AAE00170-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払額（支給額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAE00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAF00000-4-0type">
<xsd:sequence>

<xsd:element name="AAF00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAF00110" type="AAF00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAF00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAF00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00140" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAF00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAF00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAF00170" type="AAF00170-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払額（支給額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAF00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAG00000-4-0type">
<xsd:sequence>

<xsd:element name="AAG00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAG00110" type="AAG00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAG00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAG00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAG00140" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAG00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAG00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAG00170" type="AAG00170-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAG00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払額（支給額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAG00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAH00000-4-0type">
<xsd:sequence>

<xsd:element name="AAH00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00110" type="AAH00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00140" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAH00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAH00170" type="AAH00170-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払額（支給額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAH00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAI00000-4-0type">
<xsd:sequence>

<xsd:element name="AAI00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAI00110" type="AAI00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAI00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAI00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00140" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAI00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAI00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAI00170" type="AAI00170-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払額（支給額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAI00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAJ00000-4-0type">
<xsd:sequence>

<xsd:element name="AAJ00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAJ00110" type="AAJ00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"区分コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAJ00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAJ00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"自　年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAJ00140" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"至　月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAJ00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払確定年月日"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AAJ00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AAJ00170" type="AAJ00170-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人員"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAJ00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払額（支給額）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAJ00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AAK00000-4-0type">
<xsd:sequence>

<xsd:element name="AAK00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"延滞税"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AAK00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="AAA00110-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/>
                            <xsd:enumeration value="02"/>
                            <xsd:enumeration value="03"/>
                            <xsd:enumeration value="04"/>
                            <xsd:enumeration value="05"/>
                            <xsd:enumeration value="06"/>
                            <xsd:enumeration value="07"/>
                            <xsd:enumeration value="08"/>
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="11"/>
                            <xsd:enumeration value="12"/>
                            <xsd:enumeration value="13"/>
                            <xsd:enumeration value="2"/>
                            <xsd:enumeration value="21"/>
                            <xsd:enumeration value="22"/>
                            <xsd:enumeration value="24"/>
                            <xsd:enumeration value="25"/>
                            <xsd:enumeration value="26"/>
                            <xsd:enumeration value="27"/>
                            <xsd:enumeration value="28"/>
                            <xsd:enumeration value="29"/>
                            <xsd:enumeration value="3"/>
                            <xsd:enumeration value="30"/>
                            <xsd:enumeration value="31"/>
                            <xsd:enumeration value="32"/>
                            <xsd:enumeration value="33"/>
                            <xsd:enumeration value="4"/>
                            <xsd:enumeration value="41"/>
                            <xsd:enumeration value="42"/>
                            <xsd:enumeration value="43"/>
                            <xsd:enumeration value="5"/>
                            <xsd:enumeration value="51"/>
                            <xsd:enumeration value="52"/>
                            <xsd:enumeration value="6"/>
                            <xsd:enumeration value="61"/>
                            <xsd:enumeration value="7"/>
                            <xsd:enumeration value="71"/>
                            <xsd:enumeration value="8"/>
                            <xsd:enumeration value="81"/>
                            <xsd:enumeration value="82"/>
                            <xsd:enumeration value="83"/>
                            <xsd:enumeration value="85"/>
                            <xsd:enumeration value="86"/>
                            <xsd:enumeration value="87"/>
                            <xsd:enumeration value="88"/>
                            <xsd:enumeration value="91"/>
                            <xsd:enumeration value="92"/>
                            <xsd:enumeration value="93"/>
                            <xsd:enumeration value="94"/>
                            <xsd:enumeration value="95"/>
                            <xsd:enumeration value="96"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAB00170-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAC00110-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/>
                            <xsd:enumeration value="02"/>
                            <xsd:enumeration value="03"/>
                            <xsd:enumeration value="04"/>
                            <xsd:enumeration value="05"/>
                            <xsd:enumeration value="06"/>
                            <xsd:enumeration value="07"/>
                            <xsd:enumeration value="08"/>
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="11"/>
                            <xsd:enumeration value="12"/>
                            <xsd:enumeration value="13"/>
                            <xsd:enumeration value="2"/>
                            <xsd:enumeration value="21"/>
                            <xsd:enumeration value="22"/>
                            <xsd:enumeration value="24"/>
                            <xsd:enumeration value="25"/>
                            <xsd:enumeration value="26"/>
                            <xsd:enumeration value="27"/>
                            <xsd:enumeration value="28"/>
                            <xsd:enumeration value="29"/>
                            <xsd:enumeration value="3"/>
                            <xsd:enumeration value="30"/>
                            <xsd:enumeration value="31"/>
                            <xsd:enumeration value="32"/>
                            <xsd:enumeration value="33"/>
                            <xsd:enumeration value="4"/>
                            <xsd:enumeration value="41"/>
                            <xsd:enumeration value="42"/>
                            <xsd:enumeration value="43"/>
                            <xsd:enumeration value="5"/>
                            <xsd:enumeration value="51"/>
                            <xsd:enumeration value="52"/>
                            <xsd:enumeration value="6"/>
                            <xsd:enumeration value="61"/>
                            <xsd:enumeration value="7"/>
                            <xsd:enumeration value="71"/>
                            <xsd:enumeration value="8"/>
                            <xsd:enumeration value="81"/>
                            <xsd:enumeration value="82"/>
                            <xsd:enumeration value="83"/>
                            <xsd:enumeration value="85"/>
                            <xsd:enumeration value="86"/>
                            <xsd:enumeration value="87"/>
                            <xsd:enumeration value="88"/>
                            <xsd:enumeration value="91"/>
                            <xsd:enumeration value="92"/>
                            <xsd:enumeration value="93"/>
                            <xsd:enumeration value="94"/>
                            <xsd:enumeration value="95"/>
                            <xsd:enumeration value="96"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAC00170-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAD00110-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/>
                            <xsd:enumeration value="02"/>
                            <xsd:enumeration value="03"/>
                            <xsd:enumeration value="04"/>
                            <xsd:enumeration value="05"/>
                            <xsd:enumeration value="06"/>
                            <xsd:enumeration value="07"/>
                            <xsd:enumeration value="08"/>
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="11"/>
                            <xsd:enumeration value="12"/>
                            <xsd:enumeration value="13"/>
                            <xsd:enumeration value="2"/>
                            <xsd:enumeration value="21"/>
                            <xsd:enumeration value="22"/>
                            <xsd:enumeration value="24"/>
                            <xsd:enumeration value="25"/>
                            <xsd:enumeration value="26"/>
                            <xsd:enumeration value="27"/>
                            <xsd:enumeration value="28"/>
                            <xsd:enumeration value="29"/>
                            <xsd:enumeration value="3"/>
                            <xsd:enumeration value="30"/>
                            <xsd:enumeration value="31"/>
                            <xsd:enumeration value="32"/>
                            <xsd:enumeration value="33"/>
                            <xsd:enumeration value="4"/>
                            <xsd:enumeration value="41"/>
                            <xsd:enumeration value="42"/>
                            <xsd:enumeration value="43"/>
                            <xsd:enumeration value="5"/>
                            <xsd:enumeration value="51"/>
                            <xsd:enumeration value="52"/>
                            <xsd:enumeration value="6"/>
                            <xsd:enumeration value="61"/>
                            <xsd:enumeration value="7"/>
                            <xsd:enumeration value="71"/>
                            <xsd:enumeration value="8"/>
                            <xsd:enumeration value="81"/>
                            <xsd:enumeration value="82"/>
                            <xsd:enumeration value="83"/>
                            <xsd:enumeration value="85"/>
                            <xsd:enumeration value="86"/>
                            <xsd:enumeration value="87"/>
                            <xsd:enumeration value="88"/>
                            <xsd:enumeration value="91"/>
                            <xsd:enumeration value="92"/>
                            <xsd:enumeration value="93"/>
                            <xsd:enumeration value="94"/>
                            <xsd:enumeration value="95"/>
                            <xsd:enumeration value="96"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAD00170-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAE00110-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/>
                            <xsd:enumeration value="02"/>
                            <xsd:enumeration value="03"/>
                            <xsd:enumeration value="04"/>
                            <xsd:enumeration value="05"/>
                            <xsd:enumeration value="06"/>
                            <xsd:enumeration value="07"/>
                            <xsd:enumeration value="08"/>
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="11"/>
                            <xsd:enumeration value="12"/>
                            <xsd:enumeration value="13"/>
                            <xsd:enumeration value="2"/>
                            <xsd:enumeration value="21"/>
                            <xsd:enumeration value="22"/>
                            <xsd:enumeration value="24"/>
                            <xsd:enumeration value="25"/>
                            <xsd:enumeration value="26"/>
                            <xsd:enumeration value="27"/>
                            <xsd:enumeration value="28"/>
                            <xsd:enumeration value="29"/>
                            <xsd:enumeration value="3"/>
                            <xsd:enumeration value="30"/>
                            <xsd:enumeration value="31"/>
                            <xsd:enumeration value="32"/>
                            <xsd:enumeration value="33"/>
                            <xsd:enumeration value="4"/>
                            <xsd:enumeration value="41"/>
                            <xsd:enumeration value="42"/>
                            <xsd:enumeration value="43"/>
                            <xsd:enumeration value="5"/>
                            <xsd:enumeration value="51"/>
                            <xsd:enumeration value="52"/>
                            <xsd:enumeration value="6"/>
                            <xsd:enumeration value="61"/>
                            <xsd:enumeration value="7"/>
                            <xsd:enumeration value="71"/>
                            <xsd:enumeration value="8"/>
                            <xsd:enumeration value="81"/>
                            <xsd:enumeration value="82"/>
                            <xsd:enumeration value="83"/>
                            <xsd:enumeration value="85"/>
                            <xsd:enumeration value="86"/>
                            <xsd:enumeration value="87"/>
                            <xsd:enumeration value="88"/>
                            <xsd:enumeration value="91"/>
                            <xsd:enumeration value="92"/>
                            <xsd:enumeration value="93"/>
                            <xsd:enumeration value="94"/>
                            <xsd:enumeration value="95"/>
                            <xsd:enumeration value="96"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAE00170-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAF00110-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/>
                            <xsd:enumeration value="02"/>
                            <xsd:enumeration value="03"/>
                            <xsd:enumeration value="04"/>
                            <xsd:enumeration value="05"/>
                            <xsd:enumeration value="06"/>
                            <xsd:enumeration value="07"/>
                            <xsd:enumeration value="08"/>
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="11"/>
                            <xsd:enumeration value="12"/>
                            <xsd:enumeration value="13"/>
                            <xsd:enumeration value="2"/>
                            <xsd:enumeration value="21"/>
                            <xsd:enumeration value="22"/>
                            <xsd:enumeration value="24"/>
                            <xsd:enumeration value="25"/>
                            <xsd:enumeration value="26"/>
                            <xsd:enumeration value="27"/>
                            <xsd:enumeration value="28"/>
                            <xsd:enumeration value="29"/>
                            <xsd:enumeration value="3"/>
                            <xsd:enumeration value="30"/>
                            <xsd:enumeration value="31"/>
                            <xsd:enumeration value="32"/>
                            <xsd:enumeration value="33"/>
                            <xsd:enumeration value="4"/>
                            <xsd:enumeration value="41"/>
                            <xsd:enumeration value="42"/>
                            <xsd:enumeration value="43"/>
                            <xsd:enumeration value="5"/>
                            <xsd:enumeration value="51"/>
                            <xsd:enumeration value="52"/>
                            <xsd:enumeration value="6"/>
                            <xsd:enumeration value="61"/>
                            <xsd:enumeration value="7"/>
                            <xsd:enumeration value="71"/>
                            <xsd:enumeration value="8"/>
                            <xsd:enumeration value="81"/>
                            <xsd:enumeration value="82"/>
                            <xsd:enumeration value="83"/>
                            <xsd:enumeration value="85"/>
                            <xsd:enumeration value="86"/>
                            <xsd:enumeration value="87"/>
                            <xsd:enumeration value="88"/>
                            <xsd:enumeration value="91"/>
                            <xsd:enumeration value="92"/>
                            <xsd:enumeration value="93"/>
                            <xsd:enumeration value="94"/>
                            <xsd:enumeration value="95"/>
                            <xsd:enumeration value="96"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAF00170-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAG00110-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/>
                            <xsd:enumeration value="02"/>
                            <xsd:enumeration value="03"/>
                            <xsd:enumeration value="04"/>
                            <xsd:enumeration value="05"/>
                            <xsd:enumeration value="06"/>
                            <xsd:enumeration value="07"/>
                            <xsd:enumeration value="08"/>
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="11"/>
                            <xsd:enumeration value="12"/>
                            <xsd:enumeration value="13"/>
                            <xsd:enumeration value="2"/>
                            <xsd:enumeration value="21"/>
                            <xsd:enumeration value="22"/>
                            <xsd:enumeration value="24"/>
                            <xsd:enumeration value="25"/>
                            <xsd:enumeration value="26"/>
                            <xsd:enumeration value="27"/>
                            <xsd:enumeration value="28"/>
                            <xsd:enumeration value="29"/>
                            <xsd:enumeration value="3"/>
                            <xsd:enumeration value="30"/>
                            <xsd:enumeration value="31"/>
                            <xsd:enumeration value="32"/>
                            <xsd:enumeration value="33"/>
                            <xsd:enumeration value="4"/>
                            <xsd:enumeration value="41"/>
                            <xsd:enumeration value="42"/>
                            <xsd:enumeration value="43"/>
                            <xsd:enumeration value="5"/>
                            <xsd:enumeration value="51"/>
                            <xsd:enumeration value="52"/>
                            <xsd:enumeration value="6"/>
                            <xsd:enumeration value="61"/>
                            <xsd:enumeration value="7"/>
                            <xsd:enumeration value="71"/>
                            <xsd:enumeration value="8"/>
                            <xsd:enumeration value="81"/>
                            <xsd:enumeration value="82"/>
                            <xsd:enumeration value="83"/>
                            <xsd:enumeration value="85"/>
                            <xsd:enumeration value="86"/>
                            <xsd:enumeration value="87"/>
                            <xsd:enumeration value="88"/>
                            <xsd:enumeration value="91"/>
                            <xsd:enumeration value="92"/>
                            <xsd:enumeration value="93"/>
                            <xsd:enumeration value="94"/>
                            <xsd:enumeration value="95"/>
                            <xsd:enumeration value="96"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAG00170-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAH00110-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/>
                            <xsd:enumeration value="02"/>
                            <xsd:enumeration value="03"/>
                            <xsd:enumeration value="04"/>
                            <xsd:enumeration value="05"/>
                            <xsd:enumeration value="06"/>
                            <xsd:enumeration value="07"/>
                            <xsd:enumeration value="08"/>
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="11"/>
                            <xsd:enumeration value="12"/>
                            <xsd:enumeration value="13"/>
                            <xsd:enumeration value="2"/>
                            <xsd:enumeration value="21"/>
                            <xsd:enumeration value="22"/>
                            <xsd:enumeration value="24"/>
                            <xsd:enumeration value="25"/>
                            <xsd:enumeration value="26"/>
                            <xsd:enumeration value="27"/>
                            <xsd:enumeration value="28"/>
                            <xsd:enumeration value="29"/>
                            <xsd:enumeration value="3"/>
                            <xsd:enumeration value="30"/>
                            <xsd:enumeration value="31"/>
                            <xsd:enumeration value="32"/>
                            <xsd:enumeration value="33"/>
                            <xsd:enumeration value="4"/>
                            <xsd:enumeration value="41"/>
                            <xsd:enumeration value="42"/>
                            <xsd:enumeration value="43"/>
                            <xsd:enumeration value="5"/>
                            <xsd:enumeration value="51"/>
                            <xsd:enumeration value="52"/>
                            <xsd:enumeration value="6"/>
                            <xsd:enumeration value="61"/>
                            <xsd:enumeration value="7"/>
                            <xsd:enumeration value="71"/>
                            <xsd:enumeration value="8"/>
                            <xsd:enumeration value="81"/>
                            <xsd:enumeration value="82"/>
                            <xsd:enumeration value="83"/>
                            <xsd:enumeration value="85"/>
                            <xsd:enumeration value="86"/>
                            <xsd:enumeration value="87"/>
                            <xsd:enumeration value="88"/>
                            <xsd:enumeration value="91"/>
                            <xsd:enumeration value="92"/>
                            <xsd:enumeration value="93"/>
                            <xsd:enumeration value="94"/>
                            <xsd:enumeration value="95"/>
                            <xsd:enumeration value="96"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AAH00170-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AAI00110-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/>
                            <xsd:enumeration value="02"/>
                            <xsd:enumeration value="03"/>
                            <xsd:enumeration value="04"/>
                            <xsd:enumeration value="05"/>
                            <xsd:enumeration value="06"/>
                            <xsd:enumeration value="07"/>
                            <xsd:enumeration value="08"/>
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="11"/>
                            <xsd:enumeration value="12"/>
                            <xsd:enumeration value="13"/>
                            <xsd:enumeration value="2"/>
                            <xsd:enumeration value="21"/>
                            <xsd:enumeration value="22"/>
                            <xsd:enumeration value="24"/>
                            <xsd:enumeration value="25"/>
                            <xsd:enumeration value="26"/>
                            <xsd:enumeration value="27"/>
                            <xsd:enumeration value="28"/>
                            <xsd:enumeration value="29"/>
                            <xsd:enumeration value="3"/>
                            <xsd:enumeration value="30"/>
                            <xsd:enumeration value="31"/>
                            <xsd:enumeration value="32"/>
                            <xsd:enumeration value="33"/>
                            <xsd:enumeration value="4"/>
                            <xsd:enumeration value="41"/>
                            <xsd:enumeration value="42"/>
                            <xsd:enumeration value="43"/>
                            <xsd:enumeration value="5"/>
                            <xsd:enumeration value="51"/>
                            <xsd:enumeration value="52"/>
                            <xsd:enumeration value="6"/>
                            <xsd:enumeration value="61"/>
                            <xsd:enumeration value="7"/>
                            <xsd:enumeration value="71"/>
                            <xsd:enumeration value="8"/>
                            <xsd:enumeration value="81"/>
                            <xsd:enumeration value="82"/>
                            <xsd:enumeration value="83"/>
                            <xsd:enumeration value="85"/>
                            <xsd:enumeration value="86"/>
                            <xsd:enumeration value="87"/>
                            <xsd:enumeration value="88"/>
                            <xsd:enumeration value="91"/>
                            <xsd:enumeration value="92"/>
                            <xsd:enumeration value="93"/>
                            <xsd:enumeration value="94"/>
                            <xsd:enumeration value="95"/>
                            <xsd:enumeration value="96"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAJ00110-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun2">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun2_CD">
                            <xsd:enumeration value="01"/>
                            <xsd:enumeration value="02"/>
                            <xsd:enumeration value="03"/>
                            <xsd:enumeration value="04"/>
                            <xsd:enumeration value="05"/>
                            <xsd:enumeration value="06"/>
                            <xsd:enumeration value="07"/>
                            <xsd:enumeration value="08"/>
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="11"/>
                            <xsd:enumeration value="12"/>
                            <xsd:enumeration value="13"/>
                            <xsd:enumeration value="2"/>
                            <xsd:enumeration value="21"/>
                            <xsd:enumeration value="22"/>
                            <xsd:enumeration value="24"/>
                            <xsd:enumeration value="25"/>
                            <xsd:enumeration value="26"/>
                            <xsd:enumeration value="27"/>
                            <xsd:enumeration value="28"/>
                            <xsd:enumeration value="29"/>
                            <xsd:enumeration value="3"/>
                            <xsd:enumeration value="30"/>
                            <xsd:enumeration value="31"/>
                            <xsd:enumeration value="32"/>
                            <xsd:enumeration value="33"/>
                            <xsd:enumeration value="4"/>
                            <xsd:enumeration value="41"/>
                            <xsd:enumeration value="42"/>
                            <xsd:enumeration value="43"/>
                            <xsd:enumeration value="5"/>
                            <xsd:enumeration value="51"/>
                            <xsd:enumeration value="52"/>
                            <xsd:enumeration value="6"/>
                            <xsd:enumeration value="61"/>
                            <xsd:enumeration value="7"/>
                            <xsd:enumeration value="71"/>
                            <xsd:enumeration value="8"/>
                            <xsd:enumeration value="81"/>
                            <xsd:enumeration value="82"/>
                            <xsd:enumeration value="83"/>
                            <xsd:enumeration value="85"/>
                            <xsd:enumeration value="86"/>
                            <xsd:enumeration value="87"/>
                            <xsd:enumeration value="88"/>
                            <xsd:enumeration value="91"/>
                            <xsd:enumeration value="92"/>
                            <xsd:enumeration value="93"/>
                            <xsd:enumeration value="94"/>
                            <xsd:enumeration value="95"/>
                            <xsd:enumeration value="96"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAL00000-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/>
                            <xsd:enumeration value="0"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AAC00170-4-0type">
<xsd:simpleContent>
<xsd:extension base="AAC00170-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAD00170-4-0type">
<xsd:simpleContent>
<xsd:extension base="AAD00170-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAE00170-4-0type">
<xsd:simpleContent>
<xsd:extension base="AAE00170-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAF00170-4-0type">
<xsd:simpleContent>
<xsd:extension base="AAF00170-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAG00170-4-0type">
<xsd:simpleContent>
<xsd:extension base="AAG00170-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAH00170-4-0type">
<xsd:simpleContent>
<xsd:extension base="AAH00170-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAI00170-4-0type">
<xsd:simpleContent>
<xsd:extension base="gen:nonNegativeType">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="AAJ00170-4-0type">
<xsd:simpleContent>
<xsd:extension base="gen:nonNegativeType">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
