etax/19XMLスキーマ/gensen/GEI010-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：非課税適用確認書の交付申請書に記載された事項
version：1.0
Date：2013年06月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEI010-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEI010-1-0group">
<xsd:sequence>
<xsd:element name="GEI010">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IAA00000" type="IAA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEI010-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IAA00000-1-0type">
<xsd:sequence>

<xsd:element name="IAA00010" type="IAA00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請事項等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00030" type="IAA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00040" type="IAA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者のフリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者の生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00060" type="IAA00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者の現住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00070" type="IAA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請者の基準日における国内の住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00080" type="IAA00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00090" type="IAA00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00100" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00110" type="IAA00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般基準日に国内に住所を有しない旨"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一般基準日後最初に国内に住所を有することとなった日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00130" type="IAA00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用不可項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00140" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定設定期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00150" type="IAA00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"使用不可項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00160" type="IAA00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"送付先の有無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00170" type="IAA00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"送付先の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00180" type="IAA00180-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"送付先の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00190" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"送付先の郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00200" type="IAA00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所使用欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IAA00210" type="gen:zeimusho" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の所轄税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IAA00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAA00030-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAA00040-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAA00060-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAA00070-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAA00080-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAA00090-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IAA00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="0"/><xsd:enumeration value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="IAA00130-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:pattern value="[^0-9]"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IAA00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IAA00160-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="0"/><xsd:enumeration value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IAA00170-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAA00180-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IAA00200-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="IAA00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="IAA00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IAA00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="IAA00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
