etax/19XMLスキーマ/gensen/GEI040-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：非課税口座移管依頼書に記載された事項等
version：1.0
Date：2013年06月18日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEI040-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEI040-1-0group">
<xsd:sequence>
<xsd:element name="GEI040">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IDA00000" type="IDA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEI040-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IDA00000-1-0type">
<xsd:sequence>

<xsd:element name="IDA00010" type="IDA00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請事項等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00020" type="IDA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00030" type="IDA00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者のフリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00050" type="IDA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の現住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00060" type="IDA00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管前の金融商品取引業者等の営業所の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00070" type="IDA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管前の金融商品取引業者等の営業所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00080" type="IDA00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管先の金融商品取引業者等の営業所の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00090" type="IDA00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管先の金融商品取引業者等の営業所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00100" type="IDA00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管前の非課税口座の記号又は番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定設定期間の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管希望年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の基準日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00140" type="IDA00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の基準日における国内の住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00150" type="IDA00150-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00160" type="gen:zeimusho" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管前の金融商品取引業者等の営業所の所轄税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IDA00170" type="gen:zeimusho" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管先の金融商品取引業者等の営業所の所轄税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IDA00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00020-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00030-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00050-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00060-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00070-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00080-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00090-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00100-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00140-1-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IDA00150-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="IDA00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="IDA00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IDA00150-1-0type">
<xsd:simpleContent>
<xsd:extension base="IDA00150-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
