etax/19XMLスキーマ/gensen/GEI030-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：「非課税口座異動届出書に記載された事項等」又は「未成年者口座異動届出書に記載された事項等」
version：2.0
Date：2015年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEI030-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEI030-2-0group">
<xsd:sequence>
<xsd:element name="GEI030">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ICA00000" type="ICA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEI030-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ICA00000-2-0type">
<xsd:sequence>

<xsd:element name="ICA00010" type="ICA00010-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請事項等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00020" type="ICA00020-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00030" type="ICA00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者のフリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00050" type="ICA00050-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の現住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00055" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00060" type="ICA00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「非課税口座の記号又は番号」又は「未成年者口座の記号又は番号」"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定設定期間の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00080" type="ICA00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の変更前の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00090" type="ICA00090-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の変更前の氏名のフリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00100" type="ICA00100-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の変更前の住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00105" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の変更前の個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00110" type="ICA00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の変更後の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00120" type="ICA00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の変更後の氏名のフリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00130" type="ICA00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の変更後の住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00135" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の変更後の個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の基準日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00150" type="ICA00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の基準日における国内の住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00160" type="ICA00160-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ICA00170" type="gen:zeimusho" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の所轄税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="ICA00010-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00020-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00030-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00050-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00060-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00080-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00090-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00100-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00110-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00120-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00130-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00150-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ICA00160-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="ICA00010-2-0type">
<xsd:simpleContent>
<xsd:extension base="ICA00010-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ICA00160-2-0type">
<xsd:simpleContent>
<xsd:extension base="ICA00160-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
