etax/19XMLスキーマ/gensen/GEI020-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：「非課税適用確認書の提出をした者に関する事項」又は「未成年者非課税適用確認書の提出をした者に関する事項」
version：2.0
Date：2015年08月31日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEI020-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEI020-2-0group">
<xsd:sequence>
<xsd:element name="GEI020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IBA00000" type="IBA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEI020-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IBA00000-2-0type">
<xsd:sequence>

<xsd:element name="IBA00010" type="IBA00010-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請事項等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00030" type="IBA00030-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00040" type="IBA00040-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者のフリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00060" type="IBA00060-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の現住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00065" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の基準日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00080" type="IBA00080-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の基準日における国内の住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00090" type="IBA00090-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00100" type="IBA00100-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の氏名が変更されている旨"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00110" type="IBA00110-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「非課税適用確認書の氏名」又は「未成年者非課税適用確認書の氏名」"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00120" type="IBA00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「非課税適用確認書の氏名のフリガナ」又は「未成年者非課税適用確認書の氏名のフリガナ」"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00130" type="IBA00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00140" type="IBA00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00150" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「最初に非課税管理勘定が設定された年月日又は設定予定年月日」又は「非課税管理勘定が設定された年月日又は設定予定年月日」"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00170" type="IBA00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「非課税口座の記号又は番号」又は「未成年者口座の記号又は番号」"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IBA00180" type="gen:zeimusho" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の所轄税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IBA00010-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IBA00030-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IBA00040-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IBA00060-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IBA00080-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IBA00090-2-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IBA00100-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="0"/><xsd:enumeration value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IBA00110-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IBA00120-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IBA00130-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IBA00140-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IBA00170-2-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="IBA00010-2-0type">
<xsd:simpleContent>
<xsd:extension base="IBA00010-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IBA00090-2-0type">
<xsd:simpleContent>
<xsd:extension base="IBA00090-2-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
