etax/19XMLスキーマ/gensen/GEI080-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：「提出事項(勘定廃止通知書等の提出をした者に関する事項)」又は「提出事項(未成年者口座廃止通知書の提出をした者に関する事項)」
version：4.0
Date：2023年11月20日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEI080-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEI080-4-0group">
<xsd:sequence>
<xsd:element name="GEI080">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IHA00000" type="IHA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"情報"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEI080-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="IHA00000-4-0type">
<xsd:sequence>

<xsd:element name="IHA00010" type="IHA00010-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請事項等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00020" type="IHA00020-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"勘定廃止通知書又は非課税口座廃止通知書の提出を受けた旨"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00040" type="IHA00040-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00050" type="IHA00050-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者のフリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00065" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の基準日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00080" type="IHA00080-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の基準日における国内の住所（居所）又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00090" type="IHA00090-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の整理番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00100" type="IHA00100-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者の氏名が変更されている旨"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00110" type="IHA00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"廃止通知書の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00120" type="IHA00120-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"廃止通知書の氏名のフリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00130" type="IHA00130-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00140" type="IHA00140-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00150" type="IHA00150-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"廃止通知書の提出の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"廃止年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00170" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「最初に設けようとする非課税管理勘定、累積投資勘定又は特定累積投資勘定の年分」又は「未成年者口座に現に設けられている非課税管理勘定又は継続管理勘定の年分」"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00180" type="IHA00180-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"「非課税口座の記号又は番号」又は「未成年者口座の記号又は番号」"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00190" type="IHA00190-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所使用欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="IHA00200" type="gen:zeimusho" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融商品取引業者等の営業所の所轄税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="IHA00010-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IHA00020-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="0"/><xsd:enumeration value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IHA00040-4-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IHA00050-4-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IHA00080-4-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IHA00090-4-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IHA00100-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="0"/><xsd:enumeration value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IHA00110-4-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IHA00120-4-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IHA00130-4-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IHA00140-4-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="IHA00150-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="0"/><xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="IHA00180-4-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="IHA00190-4-0Rtype">
    <xsd:restriction base="gen:i-string">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="IHA00010-4-0type">
<xsd:simpleContent>
<xsd:extension base="IHA00010-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="IHA00090-4-0type">
<xsd:simpleContent>
<xsd:extension base="IHA00090-4-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
