etax/19XMLスキーマ/gensen/GEZ090-004.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：非課税貯蓄者死亡通知書
version：4.0
Date：2023年03月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ090-4-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="4.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ090-4-0group">
<xsd:sequence>
<xsd:element name="GEZ090">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJA00000" type="AJA00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00000" type="AJB00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貯蓄の受入機関の営業所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00000" type="AJC00000-4-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ090-4-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AJA00000-4-0type">
<xsd:sequence>

<xsd:element name="AJA00100" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00110" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00120" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00140" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00150" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00160" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJA00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AJB00000-4-0type">
<xsd:sequence>

<xsd:element name="AJB00100" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00110" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00120" type="AJB00120-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJB00130" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AJC00000-4-0type">
<xsd:sequence>

<xsd:element name="AJC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種別"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJC00110" type="AJC00110-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預貯金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00120" type="AJC00120-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合同運用信託"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00130" type="AJC00130-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00140" type="AJC00140-4-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公募公社債等運用投資信託"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJC00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最高限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AJC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預貯金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合同運用信託"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公募公社債等運用投資信託"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AJC00200" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AJC00210" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡届出書受理日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AJB00120-4-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AJC00110-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AJC00120-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AJC00130-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="AJC00140-4-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
