etax/19XMLスキーマ/gensen/GEZ050-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：営業譲渡等による非課税貯蓄に関する移管申告書(マル優用)
version：2.0
Date：2005年08月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ050-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ050-2-0group">
<xsd:sequence>
<xsd:element name="GEZ050">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFA00000" type="AFA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00000" type="AFB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関情報部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00000" type="AFC00000-2-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細内容　繰返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ050-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AFA00000-2-0type">
<xsd:sequence>

<xsd:element name="AFA00100" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFA00110" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFB00000-2-0type">
<xsd:sequence>

<xsd:element name="AFB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原店舗の営業所等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFB00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00130" type="AFB00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新店舗の営業所等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFB00150" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00160" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFB00170" type="AFB00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFB00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AFC00000-2-0type">
<xsd:sequence>

<xsd:element name="AFC00100" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00110" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00120" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00130" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00140" type="AFC00140-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者等の事実"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に非課税扱いの申告をしている貯蓄の最高限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最高限度額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AFC00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預貯金"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00190" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合同運用信託"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有価証券"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AFC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定公募公社債等運用投資信託"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AFC00220" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"非課税貯蓄申告書の提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="AFB00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AFB00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AFC00140-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
