etax/19XMLスキーマ/gensen/GEZ020-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：平成  年分源泉所得税の徴収猶予・還付申請書(災免用)給与等・公的年金等・報酬等
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ020-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ020-1-0group">
<xsd:sequence>
<xsd:element name="GEZ020">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACA00000" type="ACA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

<xsd:element name="ACB00000" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="ACC00000" type="ACC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害の状況"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00000" type="ACD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の見積額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00000" type="ACE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"徴収猶予期間又は還付金額等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACF00000" type="ACF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の証明"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ020-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="ACA00000-1-0type">
<xsd:sequence>

<xsd:element name="ACA00100" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00110" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00130" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00120" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00135" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00140" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所(居所)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00150" type="gen:SHOKUGYOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"職業"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACA00160" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ACC00000-1-0type">
<xsd:sequence>

<xsd:element name="ACC00100" type="ACC00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"災害の原因"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被害を受けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00120" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災財産の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住宅"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACC00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災直前の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補てんされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損害額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00180" type="ACC00180-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"家財"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACC00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"被災直前の価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"保険金などで補てんされる金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00230" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引損害額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACC00240" type="ACC00240-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"損害割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ACD00000-1-0type">
<xsd:sequence>

<xsd:element name="ACD00100" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"所得の種類 繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACD00110" type="ACD00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00120" type="ACD00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"種目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の生ずる場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00140" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収入金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00150" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"必要経費等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業専従者控除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACD00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACD00180" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得金額合計"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ACE00000-1-0type">
<xsd:sequence>

<xsd:element name="ACE00100" minOccurs="0" maxOccurs="3">
<xsd:annotation>
<xsd:appinfo>"給与等、公的年金等、報酬等の内容　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACE00110" type="ACE00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等、公的年金等、報酬等の別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等、公的年金等、報酬等の支払者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等、公的年金等、報酬等の支払者の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACE00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"徴収猶予期間"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACE00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"徴収猶予開始日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"徴収猶予終了日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金の受取場所　銀行等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACE00190" type="ACE00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銀行等区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00200" type="ACE00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00210" type="ACE00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00220" type="ACE00220-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00230" type="ACE00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本支店区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00240" type="ACE00240-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預金種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00250" type="ACE00250-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACE00260" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金の受取場所　日本郵政公社の通常貯金口座"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACE00270" type="ACE00270-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常貯金口座区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00280" type="ACE00280-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貯金記号番号　上5桁"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00290" type="ACE00290-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貯金記号番号　下8桁"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ACE00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付される税金の受取場所　郵便局窓口"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACE00310" type="ACE00310-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便局窓口区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACE00320" type="ACE00320-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便局名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="ACF00000-1-0type">
<xsd:sequence>

<xsd:element name="ACF00100" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等又は公的年金等の支払者がこの申請書を受け付けた日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACF00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"今年の1月からこの申請書を受け付けた日までの間に、申請者に支払った給与等又は公的年金等から徴収した税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACF00120" type="ACF00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"上の税額の納付先税務署長"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACF00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の証明"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ACF00140" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等又は公的年金等の支払者の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACF00150" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"給与等又は公的年金等の支払者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ACF00160" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証明年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ACC00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="9"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACC00180-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACC00240-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACD00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACD00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACE00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ACE00190-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ACE00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ACE00210-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ACE00220-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ACE00230-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ACE00240-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="9"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ACE00250-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ACE00270-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ACE00280-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACE00290-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ACE00310-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ACE00320-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ACF00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="6"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="ACC00180-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACC00180-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ACC00240-1-0type">
<xsd:simpleContent>
<xsd:extension base="ACC00240-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
