etax/19XMLスキーマ/gensen/GEZ140-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：外国法人又は非居住者に対する源泉徴収の免除証明書交付(追加)申請書
version：3.0
Date：2013年12月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ140-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ140-3-0group">
<xsd:sequence>
<xsd:element name="GEZ140">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHA00000" type="BHA00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"標題"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00000" type="BHB00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00000" type="BHC00000-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ140-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BHA00000-3-0type">
<xsd:sequence>

<xsd:element name="BHA00010" type="BHA00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請書種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BHB00000-3-0type">
<xsd:sequence>

<xsd:element name="BHB00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税又は所得税の納税地にある事務所等の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHB00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称又は氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00060" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00070" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地又は住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00080" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者その他の責任者の氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00090" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者その他の責任者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BHB00100" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税管理人の氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00110" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税管理人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHB00120" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BHC00000-3-0type">
<xsd:sequence>

<xsd:element name="BHC00010" type="BHC00010-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)所得税法第180条第1項,所得税法第214条第1項,租税特別措置法施行令第3条の3第2項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00020" type="BHC00020-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請部数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当初の申請書の提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00040" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)本店若しくは主たる事務所の所在地又は住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)非居住者で国内に居所がある場合のその居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)法人税法に定める外国普通法人となった届出書若しくは収益事業開始届出書又は所得税法に定める開業届出書を提出した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)会社法第933条第１項、旧商法第479条第１項、旧有限会社法第76条又は民法第49条第１項に規定する登記をした年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00080" type="BHC00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)支払を受ける所得が法人税又は総合課税に係る所得税を課される所得に含まれる事情の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00090" type="BHC00090-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(7)所得税法施行令の区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00100" type="BHC00100-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(8)所得の支払を受ける事務所等が国外にある場合の(2)の事務所等に対する通知、記録等の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00110" type="BHC00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(9)外国法人の国内において行う事業の内容が法人税法第149条又は第150条の規定による届出書の内容と異なっている場合は、その現在の事業の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00120" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"(10)証明書を提示しようとする所得のうち主たるものの支払者及びその支払を受ける事務所等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHC00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の支払者の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHC00140" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名･名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00150" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所･所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BHC00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払を受ける"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHC00170" type="BHC00170-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00180" type="BHC00180-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"見込期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BHC00190" type="BHC00190-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の支払を受ける事務所等の名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BHC00200" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:appinfo>"(11)租税特別措置法第８条に規定する外国銀行等が同法の適用を受ける場合には、その利子又は収益の分配の主たる支払者の名称及び事務所等　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHC00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子等の支払者の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BHC00220" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00230" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BHC00240" type="BHC00240-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払を受ける見込期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BHC00250" type="BHC00250-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得の支払を受ける事務所等の名称及び所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BHC00260" type="BHC00260-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(12)証明書の交付を受けようとする外国法人が所得税法第180条第１項第２号若しくは第３号に規定する外国法人に該当する場合又は非居住者が同法第214条第１項第２号若しくは第３号に規定する非居住者に該当する場合に、この証明書により同項の適用を受けようとする国内源泉所得がその法人(者)のこれらの号に掲げる国内源泉所得に該当する事情"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="BHA00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BHC00010-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BHC00020-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHC00080-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BHC00090-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BHC00100-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHC00110-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHC00170-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHC00180-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHC00190-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHC00240-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHC00250-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BHC00260-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BHC00020-3-0type">
<xsd:simpleContent>
<xsd:extension base="BHC00020-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
