etax/19XMLスキーマ/gensen/GEZ150-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：源泉徴収の免除証明書の交付を受けている外国法人又は非居住者が証明書の交付要件に該当しなくなったことの届出書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ150-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ150-1-0group">
<xsd:sequence>
<xsd:element name="GEZ150">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BIA00000" type="BIA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIB00000" type="BIB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ150-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BIA00000-1-0type">
<xsd:sequence>

<xsd:element name="BIA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人税又は所得税の納税地にある事務所等の"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BIA00040" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIA00050" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIA00060" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIA00070" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIA00080" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIA00090" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者その他の責任者の氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIA00100" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者その他の責任者の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BIA00110" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税管理人の氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIA00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税管理人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIA00130" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BIB00000-1-0type">
<xsd:sequence>

<xsd:element name="BIB00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)該当しなくなった法条及び交付を受けた年月日、交付を受けた添付証明書部数"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BIB00020" type="BIB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"該当しなくなった法条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIB00030" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"交付を受けていた証明書の交付年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIB00040" type="BIB00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"添付する証明書部数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"証明書番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BIB00060" type="BIB00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BIB00070" type="BIB00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"第__号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BIB00080" type="BIB00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)証明書の交付を受ける要件等に該当しなくなったことの事情の詳細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BIB00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BIB00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BIB00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BIB00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BIB00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="800"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BIB00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BIB00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
