etax/19XMLスキーマ/gensen/GEZ100-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：金融機関の営業所等の(異動)届出書
version：1.0
Date：2003年10月28日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ100-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ100-1-0group">
<xsd:sequence>
<xsd:element name="GEZ100">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00000" type="AKA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"基本項目"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00000" type="AKB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ100-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="AKA00000-1-0type">
<xsd:sequence>

<xsd:element name="AKA00100" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00110" type="AKA00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"届出の事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新設・変更等年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00125" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00130" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00140" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKA00160" type="AKA00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"団体区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKA00170" type="AKA00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業界コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="AKB00000-1-0type">
<xsd:sequence>

<xsd:element name="AKB00100" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00110" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00120" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00130" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00140" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00150" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00160" type="AKB00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関等の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00170" type="AKB00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店の表示"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合併等により営業所等の承継がある場合の営業所番号"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AKB00190" type="AKB00190-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"団体区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="AKB00200" type="AKB00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"業界コード"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="AKA00110-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AKA00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKA00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKB00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="AKB00170-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="AKB00190-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AKB00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="7"/>
    </xsd:restriction>
</xsd:simpleType>


</xsd:schema>
