etax/19XMLスキーマ/gensen/GEZ120-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：芸能人の役務提供に関する事業を行う個人事業者に対する所得税の源泉徴収免除証明書交付(追加)申請書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ120-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ120-1-0group">
<xsd:sequence>
<xsd:element name="GEZ120">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BCA00000" type="BCA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"標題"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00000" type="BCB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00000" type="BCC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ120-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BCA00000-1-0type">
<xsd:sequence>

<xsd:element name="BCA00010" type="BCA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請書種別"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BCB00000-1-0type">
<xsd:sequence>

<xsd:element name="BCB00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00050" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00060" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00070" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00080" type="gen:NOZEISHA_YAGO_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00090" type="gen:NOZEISHA_YAGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCB00100" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BCC00000-1-0type">
<xsd:sequence>

<xsd:element name="BCC00010" type="BCC00010-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申請部数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00020" type="BCC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(1)現に行っている事業の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00030" type="BCC00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(2)現に行っている事業が次に掲げる要件の－に該当する事情の詳細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00040" type="BCC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(3)芸能人の役務の提供に関して支払を受ける報酬又は料金がその備付帳簿に明確に記録されていることの事実の詳細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00050" type="BCC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(4)証明書を2部以上必要とする事情の詳細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00060" type="BCC00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(5)自己に専属する主要芸能人の氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCC00070" type="BCC00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(6)自己に専属する芸能人との専属契約の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="BCA00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BCC00010-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCC00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="390"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCC00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BCC00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="80"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BCC00010-1-0type">
<xsd:simpleContent>
<xsd:extension base="BCC00010-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
