etax/19XMLスキーマ/gensen/GEZ170-003.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：源泉所得税及び復興特別所得税の年末調整過納額還付請求書兼残存過納額明細書
version：3.0
Date：2013年12月09日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ170-3-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="3.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ170-3-0group">
<xsd:sequence>
<xsd:element name="GEZ170">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEZ170-1" type="GEZ170-1-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"一面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEZ170-2" type="GEZ170-2-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"ニ面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEZ170-3" type="GEZ170-3-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"三面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ170-3-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GEZ170-1-3-0type">
<xsd:sequence>

<xsd:element name="BBA00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00030" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00040" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00050" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00060" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00080" type="gen:DAIHYO_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00090" type="gen:DAIHYO_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"代表者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBA00100" type="gen:DAIRI_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税理士署名押印"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付項目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBB00010" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付請求年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00020" type="BBB00020-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付請求事由"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする年末調整により生じた過納額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00040" type="BBB00040-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金の受領人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収義務者(代理人)が還付を受ける場合の還付金受領場所　　銀行等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBB00060" type="BBB00060-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銀行等区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00070" type="BBB00070-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00080" type="BBB00080-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00090" type="BBB00090-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00100" type="BBB00100-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本支店区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00110" type="BBB00110-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預金種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00120" type="BBB00120-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBB00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収義務者(代理人)が還付を受ける場合の還付金受領場所　　ゆうちょ銀行の貯金口座"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBB00140" type="BBB00140-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貯金口座区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00150" type="BBB00150-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貯金口座の記号番号　上5桁"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00160" type="BBB00160-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貯金口座の記号番号　下8桁"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBB00170" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収義務者(代理人)が還付を受ける場合の還付金受領場所　　郵便局等窓口"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBB00180" type="BBB00180-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便局等窓口区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBB00190" type="BBB00190-3-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便局名等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残存過納額明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　1行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00060" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　2行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00150" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　3行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00200" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00240" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　4行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00290" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00300" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00330" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　5行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00380" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00390" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00420" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00450" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　6行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00470" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00480" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00510" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00540" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　7行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00560" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00570" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00600" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00630" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　8行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00650" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00660" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00690" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00720" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBC00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBC00740" type="BBC00740-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBC00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額  C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="GEZ170-2-3-0type">
<xsd:sequence>

<xsd:element name="BBD00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBD00010" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"＿殿"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBD00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBD00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残存過納額明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　1行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00060" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00090" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　2行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00150" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　3行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00200" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00240" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00250" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00260" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00270" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00280" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　4行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00290" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00300" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00330" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00340" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00350" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00360" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　5行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00380" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00390" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00400" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00420" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00430" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00440" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00450" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00460" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　6行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00470" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00480" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00490" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00510" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00520" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00530" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00540" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　7行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00560" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00570" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00580" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00600" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00610" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00620" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00630" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　8行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00650" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00660" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00670" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00680" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00690" type="gen:mmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00700" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00710" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額 C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00720" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整を行った年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBE00730" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBE00740" type="BBE00740-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00750" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"年末調整による超過額　A"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00760" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Aのうち現在までに充当又は還付した額　B"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBE00770" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"差引残存過納額  C"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="GEZ170-3-3-0type">
<xsd:sequence>

<xsd:element name="BBF00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBF00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBF00020" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所(所在地)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBF00030" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名(名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBF00040" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求者氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBF00050" type="BBF00050-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"外__名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBF00060" type="gen:yy" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付請求年分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBG00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"残存過納額明細書"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBG00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　1行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBG00020" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBG00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　2行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBG00050" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00060" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBG00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　3行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBG00080" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00090" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBG00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　4行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBG00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBG00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　5行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBG00140" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00150" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBG00160" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　6行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBG00170" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00180" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBG00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　7行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBG00200" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00210" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBG00220" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細　8行目"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBG00230" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BBG00240" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BBG00250" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BBG00260" type="BBG00260-3-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"人数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>


<xsd:simpleType name="BBB00020-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BBB00040-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BBB00060-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BBB00070-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BBB00080-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BBB00090-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BBB00100-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="BBB00110-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="9"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BBB00120-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BBB00140-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BBB00150-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBB00160-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BBB00180-3-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="BBB00190-3-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBC00740-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBE00740-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBF00050-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BBG00260-3-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="BBC00740-3-0type">
<xsd:simpleContent>
<xsd:extension base="BBC00740-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBE00740-3-0type">
<xsd:simpleContent>
<xsd:extension base="BBE00740-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBF00050-3-0type">
<xsd:simpleContent>
<xsd:extension base="BBF00050-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BBG00260-3-0type">
<xsd:simpleContent>
<xsd:extension base="BBG00260-3-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
