etax/19XMLスキーマ/gensen/GEZ240-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：簡易な公的年金等の受給者の扶養親族等申告書の提出の特例に関する承認申請書
version：2.0
Date：2005年11月04日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>
<xsd:include schemaLocation="../general/TEK000-002.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ240-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ240-2-0group">
<xsd:sequence>
<xsd:element name="GEZ240">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="TEK000-2-0type">
<xsd:attribute name="VR"
type="GEZ240-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>


</xsd:schema>
