etax/19XMLスキーマ/gensen/GEZ440-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：租税条約に関する芸能人等の役務提供事業の対価に係る源泉徴収税額の還付請求書
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ440-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ440-1-0group">
<xsd:sequence>
<xsd:element name="GEZ440">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="GEZ440-1" type="GEZ440-1-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求書一面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="GEZ440-2" type="GEZ440-2-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"請求書ニ面"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ440-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="GEZ440-1-1-0type">
<xsd:sequence>

<xsd:element name="ATA00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00010" type="ATA00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Tax Office"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00020" type="ATA00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00030" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用条項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00040" type="ATA00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00050" type="ATA00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00060" type="ATA00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00070" type="ATA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"partner country"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00080" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"applicable provision"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00090" type="ATA00090-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Article"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00100" type="ATA00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"para."</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"２．還付の請求をする者（対価の支払を受ける者）に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00120" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00130" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00150" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00160" type="ATA00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00170" type="ATA00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国籍"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人その他の団体の場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00190" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00200" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00210" type="ATA00210-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00220" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"設立又は組織された場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00230" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業が管理・支配されている場所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00240" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00250" type="ATA00250-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00260" type="ATA00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本国内で芸能人等の役務提供事業を開始した年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00270" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"下記「５」の対価につき居住者として課税される国及び納税地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00280" type="ATA00280-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00290" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00295" type="ATA00295-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00300" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税管理人"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00310" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00330" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所又は居所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00340" type="ATA00340-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00350" type="ATA00350-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税管理人の届出をした税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00360" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"３．還付請求金額に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00370" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)還付を請求する金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00380" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(２)還付金の受領場所に関する希望"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00390" type="ATA00390-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本国内で受領する"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00400" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付金の受領場所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00410" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ．預金口座に振込みを希望する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00420" type="ATA00420-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銀行等区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00430" type="ATA00430-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00440" type="ATA00440-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00450" type="ATA00450-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支店名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00460" type="ATA00460-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本支店区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00470" type="ATA00470-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預金種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00480" type="ATA00480-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"口座番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00490" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"預金口座名義人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00500" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ．日本郵政公社の郵便貯金口座に振込みを希望する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00510" type="ATA00510-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常貯金口座区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00520" type="ATA00520-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貯金記号番号　上5桁"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00530" type="ATA00530-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"貯金記号番号　下8桁"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00540" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"通常貯金口座名義人"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00550" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｃ．郵便局窓口での受取りを希望する場合"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00560" type="ATA00560-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便局窓口区分"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00570" type="ATA00570-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便局名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00580" type="ATA00580-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本国外で受領する"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00590" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"４．還付を請求する税額の源泉徴収をした対価の支払者に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00600" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00610" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は本店（主たる事務所）の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00620" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00630" type="ATA00630-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00640" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本国内の恒久的施設の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00650" type="ATA00650-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"有"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00660" type="ATA00660-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"無"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00670" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00680" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00690" type="ATA00690-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATA00700" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATA00710" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATA00720" type="ATA00720-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType><xsd:complexType name="GEZ440-2-1-0type">
<xsd:sequence>

<xsd:element name="ATB00000" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"５．上記「４」の支払者から支払を受ける芸能人等の役務提供事業の対価で「１」の租税条約の規定の適用を受けるものに関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATB00010" type="ATB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)提供する役務の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00020" type="ATB00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(２)役務提供期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00030" type="ATB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(３)対価の支払期日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00040" type="ATB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(４)対価の支払方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00050" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(５)対価の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(６)(５)の対価から源泉徴収した税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATB00070" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"６．還付の請求をする者から報酬・給与又は対価の支払を受けるものに関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATB00080" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00090" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所（居所）又は本店（主たる事務所）の所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATB00100" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00110" type="ATB00110-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATB00120" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業が管理・支配されている場所"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATB00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"場所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00140" type="ATB00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATB00150" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日本国内の恒久的施設の状況"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATB00190" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00200" type="ATB00200-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"事業の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATB00210" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATB00220" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00230" type="ATB00230-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATB00240" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"７．上記「６」の所得者に対して支払う報酬・給与又は対価に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATB00250" type="ATB00250-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)提供する役務の概要"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00260" type="ATB00260-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(２)役務提供期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00270" type="ATB00270-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(３)報酬・給与又は対価の支払期日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00280" type="ATB00280-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(４)報酬・給与又は対価の支払方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00290" type="gen:gaika" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(５)報酬・給与又は対価の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00300" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(６)源泉徴収すべき税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00310" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(７)(６)のうち納付した税額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00320" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(８)未納付の源泉徴収税額がある場合の納付に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATB00330" type="ATB00330-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ａ．納付予定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00340" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Ｂ．還付の請求をする者又はその納税管理人の署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATB00350" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"８．還付の請求をする者が法人である場合の上記「６」の所得者（個人に限る。）との関係に関する事項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATB00360" type="ATB00360-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(１)上記「６」の所得者による当該法人その他の団体の支配関係がないことに関する参考事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00370" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"(２)上記「６」の所得者による当該法人その他の団体の株式の保有割合等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ATB00380" type="ATB00380-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人その他の団体が日本国内で取得する所得のうち上記「６」の所得者の役務提供から生ずる割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00390" type="ATB00390-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人その他の団体の総議決権のうち上記「６」の所得者が所有する割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00400" type="ATB00400-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該法人その他の団体の株式の総価額のうち上記「６」の所得者が所有する割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00410" type="ATB00410-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該その他の団体の資産のうち上記「６」の所得者が権利を有する割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00420" type="ATB00420-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"当該その他の団体の所得のうち上記「６」の所得者が権利を有する割合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ATB00430" type="ATB00430-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"９．その他参考となるべき事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00440" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"宣言年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00450" type="ATB00450-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"Date"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00460" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付の請求をする者又はその納税管理人の署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ATB00470" type="ATB00470-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用を受ける租税条約が特典条項を有する租税条約である場合"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="page" type="xsd:positiveInteger"/>
</xsd:complexType>

<xsd:simpleType name="ATA00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00090-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00210-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00250-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00260-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00280-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00295-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00340-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00350-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ATA00390-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ATA00420-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ATA00430-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ATA00440-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ATA00450-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="15"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ATA00460-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ATA00470-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="9"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ATA00480-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ATA00510-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ATA00520-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="5"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00530-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ATA00560-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ATA00570-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ATA00580-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ATA00630-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ATA00650-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ATA00660-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="ATA00690-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATA00720-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="26"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00110-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00200-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00230-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00250-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00260-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00270-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00280-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="14"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00330-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00360-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00380-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00390-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00400-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00410-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00420-1-0Rtype">
    <xsd:restriction base="gen:decimalType">
        <xsd:pattern value="[-]?\d?\d?\d?"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d"/><xsd:pattern value="[-]?\d?\d?\d?[.]\d\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00430-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="200"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ATB00450-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="ATB00470-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>


<xsd:complexType name="ATA00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATA00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATA00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATA00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATA00090-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATA00090-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATB00380-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATB00380-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATB00390-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATB00390-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATB00400-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATB00400-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATB00410-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATB00410-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="ATB00420-1-0type">
<xsd:simpleContent>
<xsd:extension base="ATB00420-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
