etax/19XMLスキーマ/gensen/GEZ470-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：租税条約に関する源泉徴収税額の還付請求書(利子所得に相手国の租税が賦課されている場合の外国税額の還付)
version：1.0
Date：2004年12月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ470-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ470-1-0group">
<xsd:sequence>
<xsd:element name="GEZ470">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFA00000" type="BFA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00000" type="BFB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付請求に関する事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00000" type="BFC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子等の支払者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFD00000" type="BFD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子等の支払の取扱者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFE00000" type="BFE00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券の内容等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFF00000" type="BFF00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"債券以外のものの内容等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFG00000" type="BFG00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けることができる事情の詳細等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ470-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BFA00000-1-0type">
<xsd:sequence>

<xsd:element name="BFA00010" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFA00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFA00030" type="gen:NOZEISHA_ZIPref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFA00040" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFA00050" type="gen:NOZEISHA_NM_KNref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFA00060" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFA00070" type="gen:NOZEISHA_TELref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFB00000-1-0type">
<xsd:sequence>

<xsd:element name="BFB00010" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFB00020" type="gen:KANPU_KINYUKIKANref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受取金融機関"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFC00000-1-0type">
<xsd:sequence>

<xsd:element name="BFC00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地(住所又は居所)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFC00020" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称(氏名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFD00000-1-0type">
<xsd:sequence>

<xsd:element name="BFD00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"本店又は主たる事務所の所在地(住所又は居所)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFD00020" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"電話番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFD00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称(氏名)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFE00000-1-0type">
<xsd:sequence>

<xsd:element name="BFE00010" type="BFE00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"銘柄・回号(種類・名称)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFE00020" type="BFE00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"記号番号(登録番号)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFE00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名義人の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFE00040" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"額面金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFE00050" type="BFE00050-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"数量"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFE00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFE00070" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子等の支払期日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFE00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFF00000-1-0type">
<xsd:sequence>

<xsd:element name="BFF00010" type="BFF00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払の基因となった契約の内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFF00020" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約の締結年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFF00030" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFF00040" type="BFF00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"契約期間"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFF00050" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子等の支払期日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFF00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"利子等の金額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BFG00000-1-0type">
<xsd:sequence>

<xsd:element name="BFG00010" type="BFG00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"相手国名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFG00020" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用条項"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BFG00030" type="BFG00030-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"条"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFG00040" type="BFG00040-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFG00050" type="BFG00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BFG00060" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所得税法の規定により徴収された所得税の額(1)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFG00070" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払の際に課される相手国の租税の額(みなし外国税額を含む。)(2)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BFG00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"還付を受けようとする金額((1)と(2)のいずれか少ない方の金額)(3)"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="BFE00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFE00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="16"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFE00050-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFF00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFF00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFG00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFG00030-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFG00040-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BFG00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="12"/>
    </xsd:restriction>
</xsd:simpleType>


<xsd:complexType name="BFE00050-1-0type">
<xsd:simpleContent>
<xsd:extension base="BFE00050-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BFG00030-1-0type">
<xsd:simpleContent>
<xsd:extension base="BFG00030-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="BFG00040-1-0type">
<xsd:simpleContent>
<xsd:extension base="BFG00040-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
