etax/19XMLスキーマ/gensen/GEZ570-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：営業譲渡等による特別非課税貯蓄に関する移管申告書(新マル特用)
version：2.0
Date：2005年08月10日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ570-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ570-2-0group">
<xsd:sequence>
<xsd:element name="GEZ570">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BZA00000" type="BZA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00000" type="BZB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"金融機関情報部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00000" type="BZC00000-2-0type" minOccurs="0" maxOccurs="6">
<xsd:annotation>
<xsd:appinfo>"明細内容　繰返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ570-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="BZA00000-2-0type">
<xsd:sequence>

<xsd:element name="BZA00100" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZA00110" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BZB00000-2-0type">
<xsd:sequence>

<xsd:element name="BZB00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"原店舗の営業所等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BZB00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00130" type="BZB00130-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BZB00140" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"新店舗の営業所等"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="BZB00150" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00160" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZB00170" type="BZB00170-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BZB00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"移管年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="BZC00000-2-0type">
<xsd:sequence>

<xsd:element name="BZC00110" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00120" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00130" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00150" type="BZC00150-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"障害者等の事実"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00160" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"既に非課税扱いの申告をしている公債の最高限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00170" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最高限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="BZC00180" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別非課税貯蓄申告書の提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="BZB00130-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="BZB00170-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BZC00150-2-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="2"/><xsd:enumeration value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>



</xsd:schema>
