etax/19XMLスキーマ/gensen/GEZ621-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：事業譲渡等による特別非課税貯蓄に関する移管申告書(特別マル優用)次葉
version：1.0
Date：2023年03月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ621-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ621-1-0group">
<xsd:sequence>
<xsd:element name="GEZ621">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CJA00000" type="CJA00000-1-0type" minOccurs="0" maxOccurs="12">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ621-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CJA00000-1-0type">
<xsd:sequence>

<xsd:element name="CJA00010" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJA00020" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJA00030" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJA00040" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJA00050" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最高限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CJA00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特別非課税貯蓄申告書の提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>




</xsd:schema>
