etax/19XMLスキーマ/gensen/GEZ610-002.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：特別非課税貯蓄者死亡通知書
version：2.0
Date：2015年09月02日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ610-2-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="2.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ610-2-0group">
<xsd:sequence>
<xsd:element name="GEZ610">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CDA00000" type="CDA00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDB00000" type="CDB00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"公債の販売機関の営業所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00000" type="CDC00000-2-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ610-2-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CDA00000-2-0type">
<xsd:sequence>

<xsd:element name="CDA00100" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDA00110" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDA00120" type="gen:zipcode" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"郵便番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDA00130" type="gen:address" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDA00140" type="gen:a-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"住所フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDA00145" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDA00150" type="gen:name" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDA00160" type="gen:n-kana" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"氏名フリガナ"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDA00170" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"生年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CDB00000-2-0type">
<xsd:sequence>

<xsd:element name="CDB00100" type="gen:NOZEISHA_ADRref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDB00110" type="gen:NOZEISHA_NMref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDB00120" type="CDB00120-2-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDB00130" type="gen:NOZEISHA_BANGOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CDC00000-2-0type">
<xsd:sequence>

<xsd:element name="CDC00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"最高限度額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00110" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CDC00120" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"死亡届出書受理日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CDB00120-2-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
