etax/19XMLスキーマ/gensen/GEZ750-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：公募株式等証券投資信託の受益権を買い取った金融商品取引業者等が支払を受ける収益の分配に係る源泉徴収不適用申告書
version：1.0
Date：2023年03月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ750-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ750-1-0group">
<xsd:sequence>
<xsd:element name="GEZ750">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHA00000" type="CHA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00000" type="CHB00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ750-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CHA00000-1-0type">
<xsd:sequence>

<xsd:element name="CHA00010" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00020" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00040" type="CHA00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHA00050" type="CHA00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所等の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CHB00000-1-0type">
<xsd:sequence>

<xsd:element name="CHB00010" type="CHB00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適用を受けようとする公募株式等証券投資信託の受益権の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00020" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00030" type="CHB00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00040" type="CHB00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払者の所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00050" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:appinfo>"明細　繰り返し"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHB00060" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買取日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00070" type="CHB00070-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買取口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00080" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個別元本額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00090" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"1口当たりの買取価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00100" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収免除対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00110" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"解約日の解約価額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00120" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00130" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収免除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00140" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"信託設定年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00150" type="gen:yymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"顧客取得年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00160" type="CHB00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"租税特別措置法施行令第4条の8第7項の適用"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00170" type="CHB00170-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"管理方法"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CHB00180" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"合計"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CHB00190" type="CHB00190-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"買取口数"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00200" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収免除対象額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00210" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益分配の額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CHB00220" type="gen:kingaku" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"源泉徴収免除額"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CHA00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CHA00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CHB00010-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CHB00030-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CHB00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CHB00070-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CHB00160-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CHB00170-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CHB00190-1-0Rtype">
    <xsd:restriction base="gen:nonNegativeType">
        <xsd:pattern value="\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d?\d"/>
    </xsd:restriction>
</xsd:simpleType>



<xsd:complexType name="CHB00070-1-0type">
<xsd:simpleContent>
<xsd:extension base="CHB00070-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CHB00190-1-0type">
<xsd:simpleContent>
<xsd:extension base="CHB00190-1-0Rtype">
<xsd:attribute name="AutoCalc" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:schema>
