etax/19XMLスキーマ/gensen/GEZ740-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：金融機関が支払を受ける収益の分配に対する源泉徴収不適用に係る明細書
version：1.0
Date：2023年03月16日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ740-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ740-1-0group">
<xsd:sequence>
<xsd:element name="GEZ740">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CGA00000" type="CGA00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ740-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CGA00000-1-0type">
<xsd:sequence>

<xsd:element name="CGA00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"納税者等部"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CGA00020" type="gen:TEISYUTSU_DAYref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出年月日"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGA00030" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出先税務署"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CGA00040" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"支払の取扱者"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CGA00050" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGA00060" type="CGA00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGA00070" type="CGA00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGA00080" type="CGA00080-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGA00090" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連絡先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CGA00100" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配の支払を受ける金融機関"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CGA00110" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGA00120" type="CGA00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGA00130" type="CGA00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"営業所等の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGA00140" type="CGA00140-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CGA00150" type="gen:tel-number" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"連絡先"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CGA00160" type="CGA00160-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"収益の分配のうち租税特別措置法第８条第１項の規定の適用を受ける部分とその他の部分とを区分した明細"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="CGA00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CGA00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CGA00080-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CGA00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CGA00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CGA00140-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="125"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CGA00160-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="500"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
