etax/19XMLスキーマ/gensen/GEZ850-001.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns="http://xml.e-tax.nta.go.jp/XSD/gensen"
xmlns:gen="http://xml.e-tax.nta.go.jp/XSD/general" xmlns:kyo="http://xml.e-tax.nta.go.jp/XSD/kyotsu"

xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" > 
<xsd:annotation> 
<xsd:documentation> 
様式名：振替国債等の利子等課税の特例に関する非課税適用申告書・特例書類兼更新申告書
version：1.0
Date：2024年01月23日
</xsd:documentation> 
</xsd:annotation> 

<!-- import -->
<xsd:import namespace="http://xml.e-tax.nta.go.jp/XSD/general" schemaLocation="../general/General.xsd"/>

<!-- version -->
<xsd:simpleType name="GEZ850-1-0VRtype"><xsd:restriction base="xsd:string"><xsd:enumeration value="1.0"/></xsd:restriction></xsd:simpleType>

<xsd:group name="GEZ850-1-0group">
<xsd:sequence>
<xsd:element name="GEZ850">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="CLA00000" type="gen:yyyymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLB00000" type="gen:ZEIMUSHOref" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"税務署名"</xsd:appinfo>
</xsd:annotation>
</xsd:element><xsd:element name="CLC00000" type="CLC00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出者"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00000" type="CLD00000-1-0type" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"申告内容"</xsd:appinfo>
</xsd:annotation>
</xsd:element>

</xsd:sequence>
<xsd:attribute name="VR"
type="GEZ850-1-0VRtype"
use="required"/>
<xsd:attributeGroup ref="gen:FormAttribute"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:group>

<xsd:complexType name="CLC00000-1-0type">
<xsd:sequence>

<xsd:element name="CLC00010" type="CLC00010-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出する者の種類"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00020" type="CLC00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出する者の氏名又は名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00030" type="gen:bango" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"個人番号又は法人番号"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00040" type="CLC00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出する者の住所等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLC00050" type="CLC00050-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"提出する者の種類により記載すべき事項"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType><xsd:complexType name="CLD00000-1-0type">
<xsd:sequence>

<xsd:element name="CLD00010" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"国債等の種類"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00020" type="CLD00020-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"振替国債"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00030" type="CLD00030-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"振替地方債及び振替社債等"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00040" type="CLD00040-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定振替割引債（特定振替割引国債、特定振替割引地方債、特定振替割引社債等）"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLD00050" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格外国仲介事業者等の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00060" type="CLD00060-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00070" type="CLD00070-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLD00080" type="gen:yyyymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"適格外国仲介業者の特定国外営業所等（の長）の受理日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00090" type="CLD00090-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定国外営業所等が確認した確認書類の名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00100" type="CLD00100-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"摘要欄"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00110" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"特定振替機関等の所在地及び名称"</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CLD00120" type="CLD00120-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"所在地"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="CLD00130" type="CLD00130-1-0Rtype" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"名称"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CLD00140" type="gen:yyyymmdd" minOccurs="0">
<xsd:annotation>
<xsd:appinfo>"受理日付"</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="CLC00010-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CLC00020-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="210"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLC00040-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="180"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLC00050-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="390"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CLD00020-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CLD00030-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="CLD00040-1-0Rtype">
    <xsd:complexContent>
        <xsd:restriction base="gen:kubun">
            <xsd:sequence>
                <xsd:element name="kubun_CD">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_CD">
                            <xsd:enumeration value="1"/><xsd:enumeration value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="kubun_NM" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="gen:kubun_NM">
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:restriction>
    </xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="CLD00060-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00070-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00090-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="120"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00100-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="660"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00120-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="60"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CLD00130-1-0Rtype">
    <xsd:restriction base="gen:str">
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
